@{ 
    Ztop.Todo.Web.Common.UserIdentity identity = ViewBag.Identity;
    
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 智拓TODO</title>
    <link href="~/Content/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/bootstrap.custom.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/jquery.datetimepicker.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/jqtree.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/jquery.autocomplete.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/sb-admin-2.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />

    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/sb-admin-2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.datetimepicker.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script src="~/Scripts/tree.jquery.js"></script>
    <script src="~/Scripts/jquery.autocomplete.js"></script>
    <script src="~/Scripts/metisMenu.min.js"></script>
    @*<script src="~/Scripts/Chart.js"></script>*@
    <script src="~/Scripts/Contract.js"></script>
    <script src="~/Scripts/TodoMessage.js"></script>
   
    <style type="text/css">
        body{
            padding:0px;
        }

        .sidebar a{
            color:white;
        }
        .sidebar a.active{
            color:#2380BF;
        }
        .sidebar a:hover,
        .sidebar a:focus{
            color:#2380BF;
        }
         .input-sm {
            height: 30px;
        }
         .input-xs{
             height:22px;
         }

    </style>
</head>
<body>
    <div id="header">
        <div id="wrapper">
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom:0px;">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand logo">智拓TODO</a>
                    <a href="/"class="navbar-brand">报销系统</a>
                </div>
                <ul class="navbar-right nav navbar-nav">
                    @if (identity!=null&&!string.IsNullOrEmpty(identity.Name))
                    {
                        if (Request.Headers.AllKeys.Contains("token"))
                        {
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> @(Identity.Name)</a>
                            </li>
                        }
                        else
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> @(Identity.Name) <span class="caret"></span> </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/User/LoginOut">退出</a></li>
                                </ul>
                            </li>
                        }
                    }
                </ul>
                @if (identity!=null&&identity.IsAuthenticated)
                {
                    <div class="navbar-default sidebar" role="navigation">
                        <div class="sidebar-nav navbar-collapse">
                            <ul class="nav" id="side-menu">
                                <li>
                                    <a href="#"><i class="glyphicon glyphicon-leaf"></i> 任务系统<span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li><a href="/Home/Index"><i class="fa fa-desktop"></i> 欢迎页</a></li>
                                        <li><a href="/task/edit"><i class="fa fa-plus"></i> 创建任务</a></li>
                                        <li><a href="/task/Index"><i class="fa fa-search"></i> 查询任务</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>权限管理<span class="fa arrow"></span></a>
                                    @Html.Partial("_Authority")
                                </li>
                                <li><a href="/Home/Resources"><i class="fa fa-cloud-download"></i>资源下载</a></li>
                                @if (identity.Admin)
                                {
                                    <li><a href="/Manager/Index"><i class="glyphicon glyphicon-cog"></i>系统配置</a></li>
                                }
                                @if (identity.Name == "汪建龙")
                                {
                                    <li><a href="/Home/Daily"><i class="glyphicon glyphicon-eye-open"></i>更新日志</a></li>
                                    <li><a href="/Manager/Index"><i class="glyphicon glyphicon-cog"></i>系统配置</a></li>
                                }
                                @if (identity.Project || identity.Finance || identity.Admin || identity.Market)
                                {
                                    <li>
                                        <a href="#"><i class="glyphicon glyphicon-usd"></i>项目管理系统<span class="fa arrow"></span></a>
                                        <ul class="nav nav-second-level">
                                            <li><a href="/Finance/Index"><i class="fa fa-desktop"></i>欢迎页</a></li>
                                            <li><a href="/Finance/CreateContract"><i class="glyphicon glyphicon-new-window"></i>录入合同</a></li>
                                            <li><a href="/Finance/CreateArticle"><i class="glyphicon glyphicon-book"></i>录入项目洽谈</a></li>
                                            <li><a href="/Finance/ArticleSearch"><i class="glyphicon glyphicon-search"></i>项目洽谈查询</a></li>
                                            <li><a href="/Finance/CreateInvoice"><i class="glyphicon glyphicon-piggy-bank"></i>申请开票</a></li>
                                            <li><a href="/Finance/ContractSearch"><i class="glyphicon glyphicon-search"></i>合同查询</a></li>
                                            @if (identity.Name == "袁洋")
                                            {
                                                <li><a href="/Finance/BillSearch"><i class="glyphicon glyphicon-search"></i>到账查询</a></li>
                                            }
                                          
                                            <li><a href="/Finance/InvoiceSearch"><i class="glyphicon glyphicon-search"></i>发票查询</a></li>
                                        </ul>
                                    </li>
                                }

                                @if (!identity.Admin)
                                {
                                    <li><a href="/iPad/Index"><i class="fa fa-apple"></i>平板管理系统</a></li>
                                }




                                <li><a href="/Report/Index"><i class="fa fa-desktop"></i>欢迎页</a></li>
                                <li><a href="/Report/Create?type=@(SheetType.Daily)"><i class="fa fa-map-o"></i>日常报销填写</a></li>
                                <li><a href="/Report/Create?type=@(SheetType.Errand)"><i class="fa fa-plane"></i>出差报销填写</a></li>
                                <li><a href="/Bank/TimeList"><i class="fa fa-credit-card"></i>报销统计</a></li>
                                @if (identity.Director||identity.Name== "靳小阳"||identity.Name=="汪建龙")
                                {
                                    <li><a href="/Report/Review"><i class="glyphicon glyphicon-star"></i>我的审核</a></li>
                                }
                                @if (identity.Name == "申屠杜平"|| identity.Name == "汪建龙")
                                {
                                    <li><a href="/Report/Filing"><i class="fa fa-anchor"></i>报销归档</a></li>
                                }
                                <li>
                                    <a href="#"><i class="fa fa-area-chart"></i>我的报销<span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li><a href="/Report/List?Position=草稿"><i class="fa fa-spinner fa-pulse"></i> 报销单草稿</a></li>
                                        <li><a href="/Report/List?Position=未审核"><i class="fa fa-check-circle-o"></i> 已提交报销</a></li>
                                        <li><a href="/Report/List?Position=已审核"><i class="fa fa-check-circle"></i> 已完成报销</a></li>
                                    </ul>
                                </li>
                                @if (identity.Name == "袁洋" || identity.Name == "申屠杜平"||identity.Name == "汪建龙")
                                {
                                    <li><a href="/Bank/Index"><i class="glyphicon glyphicon-calendar"></i>银行对账</a></li>
                                }
                                @if(identity.Name== "靳小阳"|| identity.Name == "汪建龙"||identity.Finance)
                                {
                                    <li>
                                        <a href="#"><i class="glyphicon glyphicon-calendar"></i>银行对账<span class="fa arrow"></span></a>
                                        <ul class="nav nav-second-level">
                                            <li><a href="/Bank/Index"><i class="fa fa-desktop"></i>账单</a></li>
                                          
                                        </ul>
                                    </li>
                                }
                                @if(identity.Name== "靳小阳")
                                {
                                    <li><a href="/Report/CashCheck"><i class="glyphicon glyphicon-usd"></i>现金核算</a></li>
                                }

                            </ul>
                        </div>
                    </div>
                }
            </nav>
            <div id="body">
                <div id="page-wrapper" style="padding-left:10px;padding-right:10px;">
                    <div class="container-fluid">
                        <div class="row">
                            @RenderBody()
                        </div>
                       
                        <div style="height:20px;"></div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
   
</body>
</html>

<script>
    $(function () {
        var topHeight = $("#header").height();
        $("#body").height(document.documentElement.clientHeight - topHeight - 21);
    });
</script>
