@{ 
    Project project = ViewBag.Project;
    ProjectProgress progress = ViewBag.Last;
}

<script>
    $(function () {
        var $fileNode = $("#Reply");

        function CheckPercent() {
            var val = parseFloat($("input[name='Percent']").val());
            if (val == undefined || val == NaN) {
                $(this).val(0);
            }
            if (val > 100) {
                $(this).val(100);
                $fileNode.show(500);
            } else if (val == 100) {
                $fileNode.show(500);
            } else {
                $fileNode.hide(500);
            }
        }

        $("input[name='Percent']").blur(function () {
            CheckPercent();
        }).change(function () {
            CheckPercent();
        });

        

        $("button[name='Plus']").click(function () {
            var val = parseFloat($("input[name='Percent']").val());
            if (val != undefined && val != NaN&&!isNaN(val)) {
                val = val + 1;
                if (val > 100) {
                    val = 100;
                }
            } else {
                val = 1;
            }
            $("input[name='Percent']").val(val);
            CheckPercent();
        });

        $("button[name='Minus']").click(function () {
            var val = parseFloat($("input[name='Percent']").val());
            if (val != undefined && val != NaN&&!isNaN(val)) {
                val = val - 1;
                if (val < 0) {
                    val = 0;
                }
              
            } else {
                val = 1;
            }
            $("input[name='Percent']").val(val);
            CheckPercent();
        });

        $("#form-progress").submit(function () {
            var $btn = $("#form-progress button");
            $btn.attr("disabled", "disabled");
            var percent = parseFloat($("input[name='Percent']").val());
            if (percent == undefined || percent == NaN) {
                percent = 0;
            }
            if (percent === 100) {
                var flag = true;
                $("input[type=checkbox][name='UserId']").each(function () {
                    if ($(this).is(':checked')==false) {
                      
                        flag = false;
                    }
                });
                if (flag == false) {
                    alert("请确认好每一位项目参与人员！如果不是，请编辑项目项目进行项目参与人员的添加、删除操作！");
                    $btn.removeAttr("disabled");
                    return false;
                }
            }
            @*var data = $(this).serialize();
            $.request("/Project/Progress/Save", data, function (json) {
                if (json.result == 1) {
                    alert("成功录入");
                    location.href = "/Project/Home/Detail?id=@(project.ID)";
                } else {
                    alert(json.content);
                    $btn.removeAttr("disabled");
                }

            });
            return false;*@
        });
    });
</script>


<div class="page-header">
    <h3 class="text-center">录入工作进度</h3>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-warning" role="alert">
            <p><strong>Warning!</strong> 录入工作进度为100%时:</p>
            <p>1:项目自动转为完成状态！</p>
            <p>2:同时需上传项目批复文件！如没有批复文件，可在备注中说明</p>
            <p>3:没有批复文件，可以不用上传文件；请确认是否有项目批复文件，一旦没有上传批复文件，不再开放上传；</p>
        </div>
        <form class="form-horizontal" action="/Progress/Save" method="post" id="form-progress" enctype="multipart/form-data">
            <div class="form-group">
                <label class="control-label col-md-3">工作进度：</label>
                <div class="col-md-7">
                    <div class="input-group  input-group-sm">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" style="background-color:white;color:black;" name="Minus">-</button>
                        </span>
                        <input type="hidden" name="Min" value="@(progress!=null?progress.Percent:0)" />
                        <input type="number" class="form-control" name="Percent" max="100" value="@(progress!=null?progress.Percent:0)"/>
                        <span class="input-group-addon">%</span>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" style="background-color:white;color:black;" name="Plus">+</button>
                        </span>
                    </div>
                </div>
            </div>
           
            <div class="form-group">
                <label class="control-label col-md-3">工作情况：</label>
                <div class="col-md-7">
                    <input type="hidden" name="UserId" value="@(Identity.UserID)" />
                    <input type="hidden" name="ProjectId" value="@(project.ID)" />
                    <textarea class="form-control" rows="3" name="Remark"></textarea>
                </div>
            </div>
            <div style="display:none;" id="Reply">
                <div class="form-group">
                    <label class="control-label col-md-3">批复文件：</label>
                    <div class="col-md-7">
                        <input type="hidden" name="ProjectName" value="@(project.Name)" />
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">
                                <input type="radio" name="isReply" value="false" />无批复文件
                            </span>
                            <input type="text" name="ReplyRemark" class="form-control" placeholder="说明" />
                        </div>
                        <p><ins><strong>无批复文件，请备注说明！</strong> </ins></p>
                       
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">
                                <input type="radio" name="IsReply" value="true" />批复文件
                            </span>
                            <input type="file" name="file" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">确认参与人员：</label>
                    <div class="col-md-7">
                        @foreach(var item in project.ProjectUser)
                        {
                            <label class="checkbox-inline">
                                <input type="checkbox" value="@(item.UserId)" name="UserId" />@(item.User.RealName)
                            </label>
                        }
                        <p><ins><strong>请务必确认勾选每一位参与人员！一旦确认，不再开放添加项目参与人员！</strong> </ins></p>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-md-7 col-md-offset-3">
                    <button type="submit" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-ok"></i>&nbsp;确定</button>
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"><i class="glyphicon glyphicon-remove-circle"></i>&nbsp;取消</button>
                </div>
            </div>
           
        </form>
    </div>
</div>