@{
    Task model = ViewBag.Model;
    ViewBag.Title = model.Title;
    List<Comment> comments = ViewBag.Comments;
    List<Attachment> attachments = ViewBag.Attachments;
    List<UserTask> userTasks = ViewBag.UserTasks;
    UserTask userTask = ViewBag.UserTask;
    User currentUser = ViewBag.CurrentUser;
}
<h3 class="page-header">
    @(model.Title) 
</h3>
<blockquote>
    @(Html.Raw(HtmlUtils.ToHtml(model.Content)))
</blockquote>
<hr />
<h3>相关附件</h3>
<table class="table">
    <tr>
        <th>名称</th>
        <th>大小</th>
        <th>下载</th>
    </tr>
    @foreach (var item in attachments)
    {
        <tr>
            <td><a href="/attachment/download?id=@(item.ID)"> @(item.FileName)</a></td>
            <td>@(item.FileSize / 1024)k</td>
            <td><a href="/attachment/download?id=@(item.ID)" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-download"></i>下载</a></td>
        </tr>
    }
</table>
<hr />
<h3>任务进度</h3>
<table class="table">
    <tr>
        <th>参与人员</th>
        <th>是否完成</th>
    </tr>
@foreach (var ut in userTasks)
{
    <tr>
        <td>@(ut.User.DisplayName)</td>
        <td>
            @if (ut.IsCompleted)
            {
                <span class="label label-success">已完成</span>
            }
            else
            {
                <span class="label label-default">未完成</span>
            }
        </td>
    </tr>
}
</table>
<hr />
<h3>讨论</h3>
<div id="div-comments">
    @foreach (var item in comments)
            {
        <div class="well" id="div-comment-@(item.ID)">
            <p>
                @(Html.Raw(HtmlUtils.ToHtml(item.Content)))
            </p>
            <div>
                <b>
                    <a title="点击回复Ta" href="javascript:;" class="btn btn-xs btn-default btn-reply" data-user="@(item.User.DisplayName)">@@@(item.User.DisplayName)</a>
                </b>
                <span>@(item.CreateTime.ToString())</span>
                @if (item.UserID == currentUser.ID)
                {
                    <a href="/comment/delete?id=@(item.ID)" class="btn-comment-delete">删除</a>
                }
            </div>
        </div>
    }
</div>
<form id="form-comment" action="/comment/save?taskId=@(model.ID)" method="post">
    <div class="form-group">
        <label class="control-label">
            评论内容
        </label>
        <textarea id="txt-content" name="Content" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-check"></i> 提交</button>
        <button type="button" class="btn btn-default" onclick="history.back();"><i class="glyphicon glyphicon-backward"></i> 返回</button>
    </div>
</form>
@if (userTask.CompletedTime.HasValue)
{
    <button class="btn btn-default disabled"><i class="glyphicon glyphicon-check"></i> 已完成</button>
}
else
{
    <button id="btn-complete" class="btn btn-success"><i class="glyphicon glyphicon-check"></i> 完成任务</button>
}
<button id="btn-copy" class="btn btn-info"><i class="glyphicon glyphicon-export"></i> 转发任务</button>
@if (model.OwnerID == currentUser.ID)
{
    <button id="btn-task-delete" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> 删除该任务</button>
}
<script>
    $(function () {
        $(".btn-reply").click(function () {
            var replyTo = $(this).attr("data-user");
            $("#txt-content").append("@@" + replyTo + "\r\n").focus();
            return false;
        });
        $("#form-comment").submit(function () {
            var url = $(this).attr("action");
            var content = $("#txt-content").val();
            if (!content) {
                alert("评论内容没有填写");
                return false;
            }
            var data = $(this).serialize();
            $.request(url, data, function () {
                $("#div-comments").append("<div class=well><p>" + content + "</p><span>@(((User)ViewBag.CurrentUser).DisplayName)</span></div>");
            });
            return false;
        });

        $(".btn-comment-delete").click(function () {
            if (confirm("你确定要删除该评论吗？")) {
                var url = $(this).attr("href");
                var div = $(this).parent().parent();
                $.request(url, null, function () {
                    div.remove();
                });
            }
            return false;
        });

        $("#btn-complete").click(function () {
            if (confirm("你确定已完成该任务吗？")) {
                $.request("/task/complete?id=@(model.ID)", null, function () {
                    window.location.href = "@(Request.RawUrl)";
                });
            }
            return false;
        });

        $("#btn-task-delete").click(function () {
            if (confirm("你确定要删除这个任务吗？")) {
                $.request("/task/delete?id=@(model.ID)", null, function () {
                    window.location.href = "/task";
                });
            }

            return false;
        });

        $("#btn-copy").click(function () {
            window.location.href="/task/copy?id=@(model.ID)";
            return false;
        });
    });
</script>
