@{
    UserTask model = ViewBag.Model;
    var task = model.Task;
    ViewBag.Title = task.Title;
    List<Comment> comments = ViewBag.Comments;
    List<Attachment> attachments = ViewBag.Attachments;
    List<UserTask> userTasks = ViewBag.UserTasks;
    bool isCreator = task.CreatorID == Identity.UserID;
}
<h4 class="page-header">
    @(task.Title)
    <span class="label label-warning">
        计划完成时间：@(task.ScheduledTime.HasValue ? task.ScheduledTime.Value.ToShortDateString() : "不限")
    </span>
</h4>
<div class="alert alert-info">
    <p>@(Html.Raw(HtmlUtils.ToHtml(task.Content)))</p>
</div>

<button type="button" class="btn btn-sm btn-default" onclick="history.back();"><i class="glyphicon glyphicon-arrow-left"></i> 返回</button>
<button id="btn-copy" class="btn btn-sm btn-info"><i class="glyphicon glyphicon-export"></i> 转发任务</button>
@if (!model.CompletedTime.HasValue)
{
    <button id="btn-complete" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-check"></i> 完成任务</button>
}
else
{
    <button class="btn btn-success btn-sm disabled"><i class="glyphicon glyphicon-check"></i> 已完成</button>
}
@if (!model.IsCompleted && task.CreatorID == Identity.UserID)
{
    <button id="btn-task-delete" class="btn btn-sm btn-danger" style="float:right;"><i class="glyphicon glyphicon-remove"></i> 删除该任务</button>
}

<div style="display:block;clear:both;overflow:hidden;padding:5px;">
</div>
<h4>相关附件</h4>
<table class="table">
    <tr>
        <th class="col-lg-10">名称</th>
        <th class="col-lg-1">大小</th>
        <th class="col-lg-1">下载</th>
    </tr>
    @foreach (var item in attachments)
    {
        <tr>
            <td><a href="/attachment/download?id=@(item.ID)"> @(item.FileName)</a></td>
            <td>@(item.FileSize / 1024)k</td>
            <td><a href="/attachment/download?id=@(item.ID)" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-download"></i>下载</a></td>
        </tr>
    }
</table>
<hr />
<h4 class="page-header">讨论</h4>
<div id="div-comments">
    @foreach (var item in comments)
            {
        <div class="well" id="div-comment-@(item.ID)">
            <p>
                @(Html.Raw(HtmlUtils.ToHtml(item.Content)))
            </p>
            <div>
                <b>
                    <a title="点击回复Ta" href="javascript:;" class="btn btn-xs btn-default btn-reply" data-user="@(item.User.DisplayName)">@@@(item.User.DisplayName)</a>
                </b>
                <span>@(item.CreateTime.ToString())</span>
                @if (item.UserID == Identity.UserID)
                {
                    <a href="/comment/delete?id=@(item.ID)" class="btn-comment-delete">删除</a>
                }
            </div>
        </div>
    }
</div>
<form id="form-comment" action="/comment/save?taskId=@(model.ID)" method="post">
    <div class="form-group">
        <label class="control-label">
            评论内容
        </label>
        <textarea id="txt-content" name="Content" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-check"></i> 提交评论</button>
    </div>
</form>
<script>
    $(function () {
        $(".btn-reply").click(function () {
            var replyTo = $(this).attr("data-user");
            $("#txt-content").append("@@" + replyTo + "\r\n").focus();
            return false;
        });
        $("#form-comment").submit(function () {
            var url = $(this).attr("action");
            var content = $("#txt-content").val();
            if (!content) {
                alert("评论内容没有填写");
                return false;
            }
            var data = $(this).serialize();
            $.request(url, data, function () {
                $("#div-comments").append("<div class=well><p>" + content + "</p><span>@(Identity.Name)</span></div>");
                $("#txt-content").val('');
            });
            return false;
        });

        $(".btn-comment-delete").click(function () {
            if (confirm("你确定要删除该评论吗？")) {
                var url = $(this).attr("href");
                var div = $(this).parent().parent();
                $.request(url, null, function () {
                    div.remove();
                });
            }
            return false;
        });

        $("#btn-complete").click(function () {
            if (confirm("你确定已完成该任务吗？")) {
                $.request("/task/complete?id=@(model.ID)", null, function () {
                    window.location.href = "@(Request.RawUrl)";
                });
            }
            return false;
        });

        $("#btn-task-delete").click(function () {
            if (confirm("你确定要删除这个任务吗？")) {
                $.request("/task/delete?id=@(model.ID)", null, function () {
                    window.location.href = "/task";
                });
            }

            return false;
        });

        $("#btn-copy").click(function () {
            window.location.href = "/task/edit?parentId=@(model.TaskID)";
            return false;
        });
    });
</script>
