@{
    Task model = ViewBag.Model;
    ViewBag.Title = model.ID > 0 ? "修改任务" : "创建任务";
    List<Attachment> files = ViewBag.Attachments;
}
<style>
    #panel-selected-users { margin-bottom: 5px; }
    .form-horizontal .form-group { margin-left: 0px; margin-right: 0px; }
    .selected-user { margin: 2px; }
</style>
<h3>
    @(ViewBag.Title)
</h3>
<form id="form-task" method="post" action="/task/save" class="form-horizontal" enctype="multipart/form-data" style="margin-top:20px;">
    <input type="hidden" name="ID" value="@(model.ID)" />
    <input type="hidden" name="ParentId" value="@(model.ParentID)" />
    @if (Request.Browser.IsMobileDevice)
    {
        <table class="table">
            <tr>
                <td>
                    <div class="form-group">
                        <div class="col-xs-9 col-xs-offset-1">
                            <button type="submit" class="btn btn-primary" name="btn-submit"><i class="glyphicon glyphicon-ok"></i>提交</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">标题</label>
                        <div class="col-xs-12">
                            <input type="text" class="form-control" name="Title" value="@(model.Title)" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">内容</label>
                        <div class="col-xs-12">
                            <textarea class="form-control" name="Content" rows="4">@(model.Content)</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4">选择成员</label>
                        <div class="col-xs-12">
                            @Html.Action("SelectUser", new { taskId = model.ID })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4">完成时间</label>
                        <div class="col-xs-12">
                            <input type="text" id="datetimepicker1" placeholder="不填写为不限时间" class="form-control" name="ScheduledTime" value="@(model.ScheduledTime.HasValue?model.ScheduledTime.Value.ToShortDateString():null)" />
                            <div style="padding-top:5px;overflow:hidden;">
                                <a href="javascript:;" data="1" class="btn btn-default btn-schedule">今天</a>
                                <a href="javascript:;" data="3" class="btn btn-default btn-schedule">三天</a>
                                <a href="javascript:;" data="7" class="btn btn-default btn-schedule">一周</a>
                                <a href="javascript:;" data="30" class="btn btn-default btn-schedule">一月</a>
                                <a href="javascript:;" data="0" class="btn btn-default btn-schedule">不限</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-9 col-xs-offset-1">
                            <button type="submit" class="btn btn-primary" name="btn-submit"><i class="glyphicon glyphicon-ok"></i>提交</button>
                        </div>
                    </div>
                   
                </td>
            </tr>
        </table>
    }
    else
    {
        <table class="table">
            <tr>
                <td style="min-width:380px;">
                    <div class="form-group">
                        <div class="col-lg-4 col-lg-offset-2">
                            <button type="submit" name="btn-submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> 提交</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">标题</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" name="Title" value="@(model.Title)" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">内容</label>
                        <div class="col-lg-8">
                            <textarea class="form-control" name="Content" rows="4">@(model.Content)</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">完成时间</label>
                        <div class="col-lg-8">
                            <input type="text" id="datetimepicker1" placeholder="不填写为不限时间" class="form-control" name="ScheduledTime" value="@(model.ScheduledTime.HasValue?model.ScheduledTime.Value.ToShortDateString():null)" />
                            <div style="padding-top:5px;overflow:hidden;">
                                <a href="javascript:;" data="1" class="btn btn-default btn-schedule">今天</a>
                                <a href="javascript:;" data="3" class="btn btn-default btn-schedule">三天</a>
                                <a href="javascript:;" data="7" class="btn btn-default btn-schedule">一周</a>
                                <a href="javascript:;" data="30" class="btn btn-default btn-schedule">一月</a>
                                <a href="javascript:;" data="0" class="btn btn-default btn-schedule">不限</a>
                            </div>
                        </div>
                    </div>
                    @if (ViewBag.ClientFile != null)
                {
                    string clientfile = ViewBag.ClientFile;
                    var clientfiles = clientfile.Split('*');
                    if (clientfile.Count() > 0)
                    {
                            <input type="hidden" name="ClientFile" value="@(clientfile)" />
                            <div class="form-group">
                                <label class="control-label col-lg-2">客户端附件</label>
                                <div class="col-lg-8">
                                    @foreach (var entryfile in clientfiles)
                                    {
                                        <input type="text" class="form-control" value="@(entryfile)" style="margin-bottom:10px" disabled="disabled" />
                                    }
                                </div>
                            </div>
                        }

                    }
                    <div class="form-group">
                        <label class="control-label col-lg-2">
                            附件
                        </label>
                        <div class="col-lg-8">
                            <a href="javascript:;" id="btn-add" class="btn btn-success btn-sm" style="margin-bottom:5px;"><i class="glyphicon glyphicon-open-file"></i> 添加附件</a>
                            @if (files != null)
                            {
                                <table class="table">
                                    @foreach (var file in files)
                                    {
                                        <tr>
                                            <td>
                                                <input type="hidden" name="AddedFiles" value="@(file.ID)" />
                                                @(file.FileName)
                                            </td>
                                            <td>@(file.FileSize / 1024)k</td>
                                            <td><a class="btn btn-xs btn-delete"><i class="glyphicon glyphicon-remove"></i></a></td>
                                        </tr>
                                    }
                                </table>
                            }
                            <div id="list-file">

                            </div>
                        </div>
                    </div>
                </td>
                <td style="width:50%;">
                    @Html.Action("SelectUser", new { taskId = model.ID })
                </td>
            </tr>
        </table>
        <div class="form-group">
            <div class="col-lg-4 col-lg-offset-2">
                <button type="submit" name="btn-submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> 提交</button>
            </div>
        </div>
    }
   
</form>

<template id="template" style="display:none;">
    <div class="form-group">
        <input type="file" class="file form-control" name="file{index}" style="width:60%;float:left;margin-right:10px;" />
        <button type="button" class="btn btn-danger btn-remove"><i class="glyphicon glyphicon-remove"></i></button>
    </div>
</template>

<script>
    $(function () {
        var template = $("#template").html();
        $("#btn-add").click(function () {
            var count = $("input[type='file']").length;
            var html = template.replace("{index}", count + 1);
            $("#list-file").append(html);
            $(".btn-remove").unbind("click").bind("click", function () {
                $(this).parent().remove();
            });
            return false;
        });

        $("#form-task").submit(function () {
            var selectedUserIds = [];
            $(".selected-user").each(function () {
                selectedUserIds.push($(this).attr("data-userid"));
            });
            $("#txt-userIds").val(selectedUserIds.join());
           // $("#btn-submit").text("正在提交").disabled();
            $("button[name='btn-submit']").text("正在提交").disabled();
        });

        $(".btn-schedule").click(function () {
            var days = parseInt($(this).attr("data"));
            var val = "";
            switch (days) {
                case 1:
                    val = "@(DateTime.Today.AddDays(1).ToShortDateString())";
                    break;
                case 3:
                    val = "@(DateTime.Today.AddDays(3).ToShortDateString())";
                    break;
                case 7:
                    val = "@(DateTime.Today.AddDays(7).ToShortDateString())";
                    break;
                case 30:
                    val = "@(DateTime.Today.AddMonths(1).ToShortDateString())";
                    break;
                case 0:
                    break;
            }

            $("#datetimepicker1").val(val);
        });

        $(".btn-delete").click(function () {
            var self = this;
            if(confirm("确定删除该附件？")){
                $(self).parent().parent().remove();
            }

        });

        $("#datetimepicker1").datetimepicker({
            timepicker: false,
            format: 'Y/m/d',
            minDate: '@(DateTime.Today.ToShortDateString())'
        });

    });
</script>