@{ 
    Layout = null;
    Dictionary<string, double> dict = ViewBag.Dict;
    var labels = dict.Select(e => e.Key).ToArray();
    var values = dict.Select(e => Math.Round(e.Value,2)).ToArray();
    double sum = .0;
    const string errand = "出差报销";
}


<div class="col-md-6">
    <h3 class="text-center">各项报销统计表</h3>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>报销类型</th>
                <th>类别</th>
                <th>金额【元】</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th rowspan="15">日常报销</th>
            </tr>
            @foreach (var entry in dict)
            {
                if (entry.Key != errand)
                {
                    sum += entry.Value;
                    <tr>
                        <td>
                            @(entry.Key)
                        </td>
                        <td>@(entry.Value)</td>
                    </tr>
                }
            }
            <tr>
                <td>日常报销合计</td>
                <td>@(sum)</td>
            </tr>
            @{ 
                var item = dict[errand];
                <tr>
                    <td colspan="2">@(errand)</td>
                    <td>@(item)</td>
                </tr>
            }
            <tr>
                <td colspan="2">总计</td>
                <td>@(values.Sum())</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-md-6">
    <h3 class="text-center">各项报销统计图</h3>
    <div class="col-md-12">
        <canvas id="Chart-Category"></canvas>
    </div>
</div>
<script src="~/Scripts/2/TodoChart.js"></script>

<script >
    $(function () {
        var labels=@Html.Raw(labels.ToJson())||[];
        var values=@Html.Raw(values.ToJson())||[];
        var ctx=document.getElementById("Chart-Category");

        var myChart=new Chart(ctx,{
            type:'bar',
            data:{
                labels:labels,
                datasets:[{
                    label:"各类报销",
                    data:values,
                    backgroundColor:getChartColors2(values.length)
                }
                ]
            }
        });
    });
</script>

