
@{
    ViewBag.Title = "报销情况";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Sheet> sheets = ViewBag.Sheets;
    List<string> users = ViewBag.Users;
    int[][] PN = ViewBag.PN;
}

<script src="~/Scripts/2/Chart.js"></script>
<script>
    $(function () {
        $("#Modal").on("hidden.bs.modal", function () {
            $(this).removeData("bs.modal");
        });

        $("a[name='Advance']").click(function () {
            $(this).attr("disabled", "false");
            $("#Message").show(500);
        });
    });
</script>

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">@string.Format("杭州智拓{0}年{1}月报销统计图表",Request.QueryString["year"],Request.QueryString["month"])</h2>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group" role="group">
                    <a href="/Bank/AdvanceCollect" class="btn btn-primary" name="Advance"><i class="glyphicon glyphicon-cog"></i>高级统计</a>
                    <a href="/Bank/Index" class="btn btn-default"><i class="glyphicon glyphicon-home"></i>银行对账首页</a>
                    @if (PN[0] != null)
                    {
                        <a href="/Bank/CollectSheet?year=@(PN[0][0])&&month=@(PN[0][1])" class="btn btn-warning"><i class="glyphicon glyphicon-arrow-left"></i>@string.Format("上个月{0}年{1}月",PN[0][0],PN[0][1])</a>
                    }
                    @if (PN[1] != null)
                    {
                        <a href="/Bank/CollectSheet?year=@(PN[1][0])&&month=@(PN[1][1])" class="btn btn-success"><i class="glyphicon glyphicon-arrow-right"></i>@string.Format("下个月{0}年{1}月", PN[1][0], PN[1][1])</a>
                    }
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning" role="alert" id="Message" style="display:none;">
                    <i class="icon-spinner icon-spin icon-large"></i>
                    <span>正在进入高级统计界面,请稍等......</span>
                </div>
            </div>
        </div>
        @*<div class="row">
            <div class="col-md-12">
                @Html.Partial("Statistic", sheets as object)
            </div>
        </div>
        <hr />*@
        <div class="row">
            @{ Html.RenderAction("CollectCategory", new { Sheets = sheets });}
        </div>
        <hr />
        <div class="row">
            @{ Html.RenderAction("CollectUser", new { Sheets = sheets });}
        </div>
        <hr />
        <div class="row">
           @Html.Partial("ViewSheets",sheets as object)
        </div>
        <nav>
            <ul class="pager">
                <li class="previous @(PN[0]==null?"disabled":"")"><a href="/Bank/CollectSheet?@(PN[0]!=null?"year="+PN[0][0]+"&&month="+PN[0][1]:"")">&larr;上个月</a></li>
                <li class="next @(PN[1]==null?"disabled":"")"><a href="/Bank/CollectSheet?@(PN[1]!=null?"year="+PN[1][0]+"&&month="+PN[1][1]:"")">下个月 &rarr;</a></li>
            </ul>
        </nav>
    </div>
 
</div>


<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" id="Modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

        </div>
    </div>
</div>




