
@{
    ViewBag.Title = "报销情况";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Sheet> sheets = ViewBag.Sheets;
    List<string> users = ViewBag.Users;
}

<script src="~/Scripts/2/Chart.js"></script>
<script>
    $(function () {
        $("#Modal").on("hidden.bs.modal", function () {
            $(this).removeData("bs.modal");
        });

        $("a[name='Advance']").click(function () {
            $(this).attr("disabled", "false");
            $("#Message").show(500);
        });
    });
</script>

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">@string.Format("杭州智拓{0}年{1}月报销统计图表",Request.QueryString["year"],Request.QueryString["month"])</h2>
        <hr />
        <div class="row">
            <div class="col-md-2">
                <div class="btn-group" role="group">
                    <a href="/Bank/AdvanceCollect" class="btn btn-primary" name="Advance"><i class="glyphicon glyphicon-cog"></i>高级统计</a>
                    <a href="javascript:history.back()" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i>返回</a>
                </div>
            </div>
            <div class="col-md-10" style="float:right;">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label class="control-label" for="">类别：</label>
                        <select name="" class="form-control">
                            <option value="">所有类别</option>
                            @foreach (Category category in Enum.GetValues(typeof(Category)))
                            {
                                <option value="@(category)">@(category.GetDescription())</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="">用户名：</label>
                        <select name="" class="form-control">
                            <option value="">所有用户</option>
                            @foreach (var item in users)
                            {
                                <option value="@(item)">@(item)</option>
                            }
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning" role="alert" id="Message" style="display:none;">
                    <span>正在进入高级统计界面.................................</span>
                </div>
            </div>
        </div>
        <div class="row">
            @{ Html.RenderAction("CollectCategory", new { Sheets = sheets });}
        </div>
        <hr />
        <div class="row">
            @{ Html.RenderAction("CollectUser", new { Sheets = sheets });}
        </div>
    </div>
 
</div>


<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" id="Modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

        </div>
    </div>
</div>




