
@{
    ViewBag.Title = "银行对账";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Company company = ViewBag.Company;
    Bank PreBank = ViewBag.PreBank??new Bank();

}


<form class="form-horizontal" method="post" action="" id="Data">
    <h2 class="text-center">
        杭州智拓
        <select name="Year">
            @for(var i = DateTime.Now.Year; i > 2010; i--)
            {
                <option value="@(i)">@(i)</option>
            }
        </select>
        年
        <select name="Month">
            @for(var i = 1; i < 12; i++)
            {
                <option value="@(i)" @(i==(DateTime.Now.Month-1)?"selected=selected":"")>@(i)</option>            
            }
        </select>
        月银行对账清单
    </h2>
    <div class="col-md-12">
        <h3 class="text-center">@(company==Company.Evaluation?"房地产评估咨询有限公司":"土地规划设计咨询有限公司") </h3>
        <button class="btn btn-success" type="button" name="Save"><i class="glyphicon glyphicon-upload" ></i> 保存</button>
        <button type="button" class="btn btn-primary" TargetName="@(company.ToString())" name="Plus"><i class="glyphicon glyphicon-plus"></i>添加</button>
        <input type="hidden" name="Company" value="@(company)" />
        <span class="text-info">上个月账户余额：@(PreBank.Balance)  元</span>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>交易日期</th>
                    <th>支出（元）</th>
                    <th>收入（元）</th>
                    <th>账户余额（元）</th>
                    <th>对方单位</th>
                    <th>摘要</th>
                    <th>类别</th>
                    <td>
                       
                    </td>
                </tr>
            </thead>
            <tbody id="Result">

            </tbody>
            <tfoot id="@(company.ToString())">
                <tr>
                    <td><input type="text" name="Time" class="form-control" placeholder="交易日期" /></td>
                    <td><input type="text" name="Pay" class="form-control" placeholder="支出" targetIndex="0" id="Pay0"/></td>
                    <td><input type="text" name="Income" class="form-control" placeholder="收入" targetIndex="0" id="Income0" /></td>
                    <td><input type="text" name="Balance" class="form-control" placeholder="账户余额" id="Balance0" readonly="readonly" /></td>
                    <td><input type="text" name="Account" class="form-control" placeholder="对方单位" /></td>
                    <td><input type="text" name="Summary" class="form-control" placeholder="摘要" /></td>
                    <td style="width:20%;">
                        <div class="col-md-6" style="padding:0px;">
                            <select name="Cost" class="form-control" id="Cost0">
                                @foreach (Cost cost in Enum.GetValues(typeof(Cost)))
                                {
                                    if (cost == Cost.Posting)
                                    {
                                        break;
                                    }
                                    <option value="@(cost)">@(cost.GetDescription())</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-6" style="padding:0px;" id="Append0">

                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="col-md-6 col-md-offset-6">
        
    </div>
    
</form>
<form class="form-inline" method="post" enctype="multipart/form-data" action="/Bank/Upload" id="form-file">
    <input type="hidden" name="Year" value="@(DateTime.Now.Year)" />
    <input type="hidden" name="Month" value="@(DateTime.Now.Month-1)" />
    <input type="hidden" name="Company" value="@(company)" />
    <div class="form-group">
        <label for="">银行对账单Excel文件：</label>
        <input type="file" class="form-control" name="file" />
    </div>
    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-open"></i> 上传分析</button>
</form>

<div style="display:none">
    <table >
        <tbody id="add">
            <tr>
                <td><input type="text" name="Time" class="form-control" placeholder="交易日期" /></td>
                <td><input type="text" name="Pay" class="form-control" placeholder="支出" targetIndex="{Index}" /></td>
                <td><input type="text" name="Income" class="form-control" placeholder="收入" targetIndex="{Index}" /></td>
                <td><input type="text" name="Balance" class="form-control" placeholder="账户余额" id="Balance{Index}" readonly="readonly" /></td>
                <td><input type="text" name="Account" class="form-control" placeholder="对方单位" /></td>
                <td><input type="text" name="Summary" class="form-control" placeholder="摘要" /></td>
                <td style="width:20%;">
                    <div class="col-md-6" style="padding:0px;">
                        <select name="Cost" class="form-control" id="Cost{Index}">
                            @foreach (Cost cost in Enum.GetValues(typeof(Cost)))
                            {
                                if (cost == Cost.Posting)
                                {
                                    break;
                                }
                                <option value="@(cost)">@(cost.GetDescription())</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-6" style="padding:0px;" id="Append{Index}">

                    </div>

                </td>
            </tr>
        </tbody>
       
    </table>
    <select name="Cost" class="form-control" id="Income">
        @foreach (Cost cost in Enum.GetValues(typeof(Cost)))
            {
                if (cost == Cost.Posting)
                {
                    break;
                }
                <option value="@(cost)">@(cost.GetDescription())</option>
        }
    </select>
    <select name="Cost" class="form-control" id="Pay">
        @foreach (Cost cost in Enum.GetValues(typeof(Cost)))
        {
            var index = (int)cost;
            if (index > 2)
            {
                <option value="@(cost)">@(cost.GetDescription())</option>
            }

        }
    </select>  
    <div id="AppendCategory">
        <select class="form-control" name="Category">
            @foreach(Category category in Enum.GetValues(typeof(Category)))
            {
                <option value="@(category)">@(category.GetDescription())</option>
            }
        </select>
    </div>
</div>

<script>
    var addhtml = $("#add").html();
    var incomehtml = $("#Income").html();
    var payhtml = $("#Pay").html();
    var appendCategoryhtml = $("#AppendCategory").html();
    $(function () {

        var currentnumber = 1;
        var balance = 0;

        $("button[name='Plus']").click(function () {
    

            var Targetname = $(this).attr("TargetName");
            var appendhtml = addhtml.replace(/{Index}/g, currentnumber);
            currentnumber++;
            $("#" + Targetname).append(appendhtml);
            $("input[name='Time']").datetimepicker({
                timepicker: false,
                format: 'Y-m-d',
                maxDate:'@(DateTime.Today.ToString("yyyy-MM-dd"))'
            });
            $("input[name='Income']").unbind("focus").bind("focus", function () {
                var targetIndex = $(this).attr("targetIndex");
                $("#Cost" + targetIndex).empty().append(incomehtml);
                $("#Append" + targetIndex).empty();
            }).unbind("change").bind("change", function () {
                var val = parseFloat($(this).val());
                if (!isNaN(val)) {
                    var targetIndex = $(this).attr("targetIndex");
                    balance = balance + val;
                    $("#Balance" + targetIndex).val(balance);
                } else {
                    alert("收入金额不是数字，请核对！");
                    $(this).val("");
                    return false;
                }
               
            });
            $("input[name='Pay']").unbind("focus").bind("focus", function () {
                var targetIndex = $(this).attr("targetIndex");
                $("#Cost" + targetIndex).empty().append(payhtml);
                $("#Append" + targetIndex).empty();
            }).unbind("change").bind("change", function () {
                var val = parseFloat($(this).val());
                if (!isNaN(val)) {
                    var targetIndex = $(this).attr("targetIndex");
                    balance = balance - val;
                    $("#Balance"+targetIndex).val(balance);
                } else {
                    alert("支出金额不是数字，请核对！")
                    $(this).val("");
                    return false;
                }
            });
            $("[name='Cost']").unbind("change").bind("change", function () {
                var index = $(this).attr("id").replace("Cost", "");
                var cost = $(this).val();
                if (cost != undefined && cost != "") {
                    if (cost == "RealPay") {
                        $("#Append" + index).empty().append(appendCategoryhtml);
                    } else {
                        $("#Append" + index).empty();
                    }
                } 
            });
        });

        $("input[name='Income']").focus(function () {
            var targetIndex = $(this).attr("targetIndex");
            $("#Cost" + targetIndex).empty().append(incomehtml);
            $("#Append" + targetIndex).empty();
        }).change(function () {
            var val = parseFloat($(this).val());
            if (!isNaN(val)) {
                var targetIndex = $(this).attr("targetIndex");
                balance = balance + val;
                $("#Balance" + targetIndex).val(balance);
            } else {
                alert("收入金额不是数字，请核对！");
                $(this).val("");
                return false;
            }
        });

        $("input[name='Pay']").focus(function () {
            var targetIndex = $(this).attr("targetIndex");
            $("#Cost" + targetIndex).empty().append(payhtml);
            $("#Append" + targetIndex).empty();
        }).change(function () {
            var val = parseFloat($(this).val());
            if (!isNaN(val)) {
                var targetIndex = $(this).attr("targetIndex");
                balance = balance - val;
                $("#Balance" + targetIndex).val(balance);
            } else {
                alert("支出金额不是数字，请核对！")
                $(this).val("");
                return false;
            }
        });


        $("button[name='Save']").click(function () {
            var data = $("#Data").serialize();
            $.request("/Bank/Save", data, function (json) {
                if (json.result == 0) {
                    alert(json.content);
                    return false;
                } else {
                    window.location = "/Bank/Detail?id=" + json.data.ID;
                }
            })
        });

        $("select[name='Year']").change(function () {
            var year = $(this).val();
            var month = $("select[name='Month']").val();
            var company = $("input[name='Company']").val();
            $.getJSON("/Bank/Gain", {
                year: year,
                month: month,
                company: company
            },
            function (data) {
                $("span .text-info").text("上个月余额：" + data.Balance+"元");
            }
            );
        });

        $("select[name='Month']").change(function () {
            var year = $("select[name='Year']").val();
            var month = $(this).val();
            var company = $("input[name='Company']").val();
            $.getJSON("/Bank/Gain", {
                year: year,
                month: month,
                company: company
            },
          function (data) {
              $("span .text-info").text("上个月余额：" + data.Balance + "元");
          }
          );
        });


        //$("#form-file").submit(function () {
        //    var data = $(this).serialize();
        //    $.request("/Bank/upload", data, function (json) {
        //        alert(json.content);
        //        if (json.result == 1) {
        //            window.location.href = "/Bank/Detail?id=" + json.data.ID;
        //        }
        //        return false;
        //    });
        //    return false;
        //});

        $("input[name='Time']").datetimepicker({
            timepicker: false,
            format: 'Y-m-d',
            maxDate: '@(DateTime.Today.ToString("yyyy-MM-dd"))'
        });

        $("select[name='Year']").change(function () {
            var val = $(this).val();
            $("input[name='Year']").val(val);
        });

        $("select[name='Month']").change(function () {
            var val = $(this).val();
            $("input[name='Month']").val(val);
        });


    })
</script>

