
@{
    ViewBag.Title = "银行";
    Bill_Head head = ViewBag.Heads;

    Company company = ViewBag.Company;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">@string.Format("杭州智拓有限公司{0}年{1}月银行明细", head.Year, head.Month)</h2>

<ul class="nav nav-pills" role="tablist">
    <li role="presentation"class="@(company==Company.Evaluation?"active":"")"><a href="#Evaluation" role="tab" data-toggle="tab">评估公司</a></li>
    <li role="presentation" class="@(company==Company.Projection?"active":"")"><a href="#Projection" role="tab" data-toggle="tab">规划公司</a></li>
</ul>


<div class="tab-content">
    <div role="tabpanel" class="tab-pane @(company==Company.Evaluation?"active":"")" id="Evaluation">
    </div>
    <div role="tabpanel" class="tab-pane @(company==Company.Projection?"active":"")" id="Projection">
    </div>
</div>









