
@{
    ViewBag.Title = "对账系统";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Bank> evaluations = ViewBag.Evaluations;
    List<Bank> projections = ViewBag.Projections;
}

<div class="col-md-12">
    <h2>@(Identity.Name)  您好! &nbsp;&nbsp;</h2>
</div>


<div class="col-md-4">
    <div class="panel panel-green">
        <div class="panel panel-heading">
            <h3 class="panel-title">
                房地产评估咨询有限公司  银行对账单
            </h3>
        </div>
        <div class="panel panel-body">
            <table class="table table-striped">
                @foreach (var bank in evaluations)
                {
                    <tr>
                        <td><a href="/Bank/Detail?id=@(bank.ID)">@(bank.Year)年@(bank.Month)月</a></td>
                    </tr>

                }
            </table>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="panel panel-yellow">
        <div class="panel panel-heading">
            <h3 class="panel-title">
                土地规划设计咨询有限公司  银行对账单
            </h3>
        </div>
        <div class="panel panel-body">
            <table class="table table-striped">
                @foreach (var bank in projections)
                {
                    <tr>
                        <td><a href="/Bank/Detail?id=@(bank.ID)">@(bank.Year)年@(bank.Month)月</a></td>
                    </tr>

                }
            </table>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-red">
        <div class="panel panel-heading">
            <div class="panel-title">
                收支汇总
            </div>
        </div>
        <div class="panel panel-body">
            <button type="button"  class="btn btn-danger" data-toggle="modal" data-target="#NewCollect"><i class="glyphicon glyphicon-plus"></i> 新建汇总</button>

        </div>
    </div>
</div>

<div class="modal fade" id="NewCollect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">新建汇总</h4>
            </div>
            <form class="form-horizontal" method="post" action="">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-md-3">年份：</label>
                        <div class="col-md-8">
                            <select name="Year" class="form-control">
                                @for(var i = DateTime.Today.Year; i > 2010; i--)
                                {
                                    <option value="@(i)">@(i)</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">月份:</label>
                        <div class="col-md-8">
                            <select name="Month" class="form-control">
                                @for(var i = 1; i < 13; i++)
                                {
                                    <option value="@(i)" @(i==(DateTime.Today.Month-1)?"selected=selected":"")>@(i)</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="New">新建</button>
                </div>
            </form>
           
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#New").click(function () {
            window.location.href = "/Bank/Collect?year=" + $("[name='Year']").val() + "&&month=" + $("[name='Month']").val();
        });
    });
</script>

