
@{
    ViewBag.Title = "对账系统";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Bill_Head> evaluations = ViewBag.Evaluations;
    List<Bill_Head> projections = ViewBag.Projections;
    List<Sheet> sheets = ViewBag.Sheets;
}

<div class="col-md-12">
    <h2>@(Identity.Name)  您好! &nbsp;&nbsp;</h2>
</div>

@if (Identity.Finance||Identity.Name== "靳小阳")
{
    @*<div class="btn-group">
        <a data-toggle="modal" data-target="#Modal" href="/Bank/InputFile" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-plus-sign"></i>录入月末账单Excel</a>
        <a data-toggle="modal" data-target="#Modal" href="/Bank/SetBalance" class="btn btn-warning btn-sm"><i class="glyphicon glyphicon-warning-sign"></i>设置初始余额</a>
    </div>*@

    <div class="btn-group" role="group">
        <a data-toggle="modal" data-target="#Modal" href="/Bank/InputEvaluation" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-plus"></i>录入评估银行账单</a>
        <a data-toggle="modal" data-target="#Modal" href="/Bank/InputProjection" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-plus"></i>录入规划银行账单</a>
    </div>
}


<hr />

<div class="row">

</div>


<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" id="Modal">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>

<script>
    $(function () {
        $("#Modal").on("hidden.bs.modal", function () {
            $(this).removeData("bs.modal");
        })
    });
</script>



<div class="col-md-3">
    <div class="panel panel-green">
        <div class="panel panel-heading">
            <h3 class="panel-title">
                房地产评估咨询有限公司  银行对账单
            </h3>
           
        </div>
        <div class="panel panel-body">
            <table class="table table-striped">
                @if (Identity.Name == "靳小阳")
                {
                    @*<tr>
                        <td>
                            <a href="/Bank/Create?Company=@(Company.Evaluation)" class="btn btn-sm"><i class="glyphicon glyphicon-plus"></i>添加</a>
                        </td>
                    </tr>*@
                }

                @foreach (var head in evaluations)
                {
                    <tr>
                        <td><a href="/Bank/ViewEvaluation?id=@(head.ID)">@(head.Head)</a></td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>

<div class="col-md-3">
    <div class="panel panel-yellow">
        <div class="panel panel-heading">
            <h3 class="panel-title">
                土地规划设计咨询有限公司  银行对账单
            </h3>
        </div>
        <div class="panel panel-body">
            <table class="table table-striped">
                @if (Identity.Name == "靳小阳")
                {
                    @*<tr>
                        <td>
                            <a href="/Bank/Create?Company=@(Company.Projection)" class="btn btn-sm"><i class="glyphicon glyphicon-plus"></i>添加</a>
                        </td>
                    </tr>*@
                }
               @foreach(var head in projections)
               {
                   <tr>
                       <td><a href="/Bank/ViewProjection?id=@(head.ID)">@(head.Head)</a></td>
                   </tr>
               }
            </table>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="panel panel-primary">
        <div class="panel panel-heading">
            <h3 class="panel-title">
                现金收支
            </h3>
        </div>
        <div class="panel panel-body">
            <table class="table table-striped">
                @foreach(var item in sheets.Select(e=>string.Format("{0}年{1}月",e.CheckTime.Value.Year,e.CheckTime.Value.Month)).Distinct())
                {
                    var query = item.Replace("年", ",").Replace("月", "").Split(',');
                    var year = int.Parse(query[0]);
                    var month = int.Parse(query[1]);
                    <tr>
                        <td><a href="/Bank/CollectSheet?year=@(year)&&month=@(month)">@(item)</a> </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="panel panel-red">
        <div class="panel panel-heading">
            <div class="panel-title">
                收支汇总
            </div>
        </div>
        <div class="panel panel-body">
            <table class="table table-striped">
                @*@foreach (var item in Districts)
                {
                    var query = item.Replace("年", ",").Replace("月", "").Split(',');
                    var year = int.Parse(query[0]);
                    var month = int.Parse(query[1]);
                    <tr>
                        <td><a href="/Bank/Collect?year=@(year)&&month=@(month)">@(item)</a></td>
                    </tr>

                }*@
            </table>
        </div>
    </div>
</div>



