
@{
    ViewBag.Title = "分析结果";
    Bank bank = ViewBag.Bank;
    List<string> errors = ViewBag.Errors;
    List<BillOne> bills = ViewBag.Bills;
    Layout = "~/Views/Shared/_Layout.cshtml";
    int serialNumber = 1;
}

<h3 class="text-center">Excel分析结果</h3>

@if (errors.Count > 0)
{
    <div class="alert alert-danger" role="alert">
        @for(var i = 0; i < errors.Count; i++)
        {
            <p>@(i+1)、@(errors[i])</p>
        }
    </div>
}


<form class="form-horizontal" method="post" action="/Bank/SaveInput" id="Result-form">
    <input type="hidden" name="Year" value="@(bank.Year)" />
    <input type="hidden" name="Month" value="@(bank.Month)" />
    <input type="hidden" name="Company" value="@(bank.Company)" />
    <input type="hidden" name="Edit" value="true" />
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
           
                <th>序号</th>
                <th>交易日期</th>
                <th>凭证号</th>
                <th>支出[元]</th>
                <th>收入[元]</th>
                <th>账户余额[元]</th>
                <th>对方账号</th>
                <th>对方单位</th>
                <th>摘要</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in bills)
            {
                <tr>
                
                    <td><input type="text" name="SerialNumber" class="form-control input-sm" value=" @(item.SerialNumber)" readonly="readonly" /></td>
                    <td><input type="text" name="Time" class="form-control input-sm" value="@(item.Time.HasValue?item.Time.Value.ToLongDateString():"")" readonly="readonly" /><input type="hidden" name="Date" value="@(item.Date)" /></td>
                    <td><input type="text" name="Voucher" class="form-control input-sm" value="@(item.Voucher)" readonly="readonly" /></td>
                    <td><input type="text" name="Pay" class="form-control input-sm" value="@(item.Budget==Budget.Expense?item.Money.ToString():"")" readonly="readonly" /></td>
                    <td><input type="text" name="Income" class="form-control  input-sm" value="@(item.Budget==Budget.Income?item.Money.ToString():"")"  readonly="readonly"/></td>
                    <td><input type="text" name="Balance" class="form-control input-sm" value="@(item.Balance)" readonly="readonly" /></td>
                    <td><input type="text" name="CounterPart" class="form-control input-sm" value="@(item.CounterPart)" readonly="readonly" /></td>
                    <td><input type="text" name="Account" class="form-control input-sm" value="@(item.Account)" readonly="readonly" /></td>
                    <td><input type="text" name="Summary" class="form-control input-sm" value="@(item.Summary)"  readonly="readonly"/></td>
                    <td><input type="text" name="Remark" class="form-control input-sm" value="@(item.Remark)" readonly="readonly" /></td>
                    <td><button class="btn btn-danger btn-xs" type="button" name="Remove"><i class="glyphicon glyphicon-remove"></i></button></td>
                </tr>
            }
        </tbody>
    </table>
    <div class="btn-group">
        <button type="submit" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-ok"></i>确认无误并导入系统</button>
        <button type="button" class="btn btn-default btn-sm" onclick="history.back()"><i class="glyphicon glyphicon-arrow-left"></i>返回</button>
    </div>
</form>

<script>
    $(function () {
        $("#Result-form").submit(function () {
            @if (errors.Count > 0)
            {
                <text>
            if (confirm("当前分析存在错误，您确定要导入系统吗？"))
            {
                var data = $(this).serialize();
                $.request("/Bank/SaveInput", data, function (json) {
                    if (json.result == 1) {
                        location.href = "/Bank/DetailBill?id=" + json.data;
                    } else {
                        alert("导入失败" + json.content);
                        return false;
                    }
                    return false;
                });
                return false;
                }
                else
                {
                    return false;
                }
            </text>

            }
            else
            {
                <text>
            var data = $(this).serialize();
            $.request("/Bank/SaveInput", data, function (json) {
                if (json.result == 1) {
                    location.href = "/Bank/DetailBill?id=" + json.data;
                } else {
                    alert("导入失败" + json.content);
                    return false;
                }
                return false;
            });
            return false;
            </text>
            }
        });

        $("td button[name='Remove']").click(function () {
            $(this).parent().parent().remove();
        });
    });
</script>


