@{ 
    bool depend = ViewBag.Depend;
    Layout = depend ? "~/Views/Shared/_Layout.cshtml" : null;
    Bill_Head head = ViewBag.Head;
    List<BillRecordView> list = ViewBag.List;
    var start = list.OrderBy(e => e.SerialNumber).FirstOrDefault();
    var end = list.OrderByDescending(e => e.SerialNumber).FirstOrDefault();
  
}

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" id="Modal">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>

<script>
    $(function () {
        $("#Modal").on("hidden.bs.modal", function () {
            $(this).removeData("bs.modal");
        })


        $("a[name='lock']").click(function () {
            var node = $(this);
            node.attr("disabled", "disabled");
            var href = node.attr("href");
            ShowMessage("正在锁定归类,请稍等......");
            $.request(href, null, function (json) {
                if (json.result == 0) {
                    ShowErrorMessage(json.content);
                } else {
                    ShowSuccessMessage(json.content);
                    location.href = "/bank/viewEvaluation?id=@(head.ID)";
                }
            });
            node.removeAttr("disabled");
            return false;
        });

        $("a[name='Unlock']").click(function () {
            var node = $(this);
            node.attr("disabled", "disabled");
            var href = node.attr("href");
            ShowMessage("正在解锁，请稍等......");
            $.request(href, null, function (json) {
                if (json.result == 0) {
                    ShowErrorMessage(json.content);
                } else {
                    ShowSuccessMessage(json.content);
                    location.href = "/bank/viewEvaluation?id=@(head.ID)";
                }
            });
            node.removeAttr("disabled");
            return false;
        });
    });
</script>


<h3 class="text-center">@string.Format("杭州智拓{0}有限公司{1}年{2}月银行明细", head.Company.GetDescription(), head.Year, head.Month)</h3>

@if (list != null && list.Count > 0)
{
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("Nav_Head", "/Bank/ViewEvaluation" as object)
            <div class="col-md-3">
                <strong>公司名称：@string.Format("杭州智拓{0}有限公司", head.Company.GetDescription())</strong> <hr />
                <strong>交易笔数：@(list.Count)</strong><hr />
                <strong>月初余额【元】：@(start != null ? (start.Budget == Budget.Income ? (start.Balance - start.Money).ToString() : (start.Balance + start.Money).ToString()) : "未读取到月初余额信息")</strong><hr />
                <strong>月末余额【元】：@(end != null ? end.Balance.ToString() : "未读取到月末余额信息")</strong><hr />
                <div class="btn-group">
                    <a href="/Bank/Index" class="btn btn-default"><i class="glyphicon glyphicon-home"></i>银行对账主页</a>
                  @if (Identity.Name == "申屠杜平")
                  {
                      if (head.Lock)
                      {
                        <a href="/Bank/UnLock?id=@(head.ID)" class="btn btn-warning" name="Unlock"><i class="glyphicon glyphicon-unchecked"></i>解锁归类</a>
                    }
                    else
                    {
                        <a href="/Bank/Lock?id=@(head.ID)" class="btn btn-success" name="lock"><i class="glyphicon glyphicon-lock"></i>锁定归类</a>
                    }
                    <a href="/Bank/DownloadBank?id=@(head.ID)" class="btn btn-danger"><i class="glyphicon glyphicon-download-alt"></i>下载统计表格</a>
                  }
                    
                </div>
            </div>
          
        
            <div class="col-md-12 table-responsive">
                <h3 >详情</h3>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#List" role="tab" data-toggle="tab">账单明细</a></li>
                    <li role="presentation"><a href="#Pan" role="tab" data-toggle="tab">统计图表</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="List">
                        <table class="table table-striped table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>交易日期</th>
                                    <th>交易时间</th>
                                    <th>凭证号</th>
                                    <th>借方金额【元】（支出）</th>
                                    <th>贷方金额【元】（收入）</th>
                                    <th>余额【元】</th>
                                    <th>对方账号</th>
                                    <th>对方户名</th>
                                    <th>摘要</th>
                                    <th>银行备注</th>
                                    <th>备注</th>
                                    <th>归类</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in list)
                {
                                    <tr>
                                        <td>@(item.SerialNumber)</td>
                                        <td>@(item.Date)</td>
                                        <td>@(item.Time.HasValue ? item.Time.Value.ToLongDateString() : "")</td>
                                        <td>@(item.Voucher)</td>
                                        <td>@(item.Budget == Budget.Expense ? item.Money.ToString() : "")</td>
                                        <td>@(item.Budget == Budget.Income ? item.Money.ToString() : "")</td>
                                        <td>@(item.Balance)</td>
                                        <td>@(item.CounterPart)</td>
                                        <td>
                                            @if (item.Account.Length > 8)
                                            {
                                                <abbr title="@(item.Account)">@(item.Account.Substring(0, 8))</abbr>
                                            }
                                            else
                                            {
                                                @(item.Account)
                                            }

                                        </td>
                                        <td>
                                            @if (item.Summary.Length > 8)
                                            {
                                                <abbr title="@(item.Summary)">@(item.Summary.Substring(0, 8))</abbr>
                                            }
                                            else
                                            {
                                                @(item.Summary)
                                            }

                                        </td>
                                        <td>
                                            @if (item.Remark.Length > 8)
                                            {
                                                <abbr title="@(item.Remark)">@(item.Remark.Substring(0, 8))</abbr>
                                            }
                                            else
                                            {
                                                @(item.Remark)
                                            }
                                        </td>
                                        <td>
                                            @if (string.IsNullOrEmpty(item.Remark2))
                                            {
                                                if (head.Lock == false)
                                                {
                                                    <a data-toggle="modal" data-target="#Modal" href="/Bank/Remark?id=@(item.ID)&&company=@(Company.Evaluation)" class="btn btn-warning btn-xs"><i class="glyphicon glyphicon-flag"></i>备注</a>
                                                }

                                            }
                                            else
                                            {
                                                if (item.Remark2.Length > 8)
                                                {
                                                    <abbr title="@(item.Remark2)">@(item.Remark2.Substring(0, 8))</abbr>
                                                }
                                                else
                                                {
                                                    @(item.Remark2)
                                                }
                                                if (head.Lock == false)
                                                {
                                                    <a data-toggle="modal" data-target="#Modal" href="/Bank/Remark?id=@(item.ID)&&company=@(Company.Evaluation)" class="btn btn-success btn-xs"><i class="glyphicon glyphicon-edit"></i>编辑备注</a>
                                                }

                                            }

                                        </td>
                                        <td>
                                            @if (item.Cost.HasValue)
                                            {
                                                if (!string.IsNullOrEmpty(item.TName))
                                                {
                                                    <label class="label label-@(item.Budget==Budget.Income?"danger":"success")">@string.Format("{0}-{1}", item.Cost.Value.GetDescription(), item.TName)</label>
                                                }
                                                else
                                                {
                                                    <label class="label label-@(item.Budget==Budget.Income?"danger":"success")">@(item.Cost.Value.GetDescription())</label>
                                                }
                                                if (head.Lock == false)
                                                {
                                                    <a data-toggle="modal" data-target="#Modal" href="/Bank/Classify?id=@(item.ID)&&company=@(Company.Evaluation)" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-edit"></i>修改类型</a>
                                                }

                                            }
                                            else
                                            {
                                                if (head.Lock == false)
                                                {
                                                    <a data-toggle="modal" data-target="#Modal" href="/Bank/Classify?id=@(item.ID)&&company=@(Company.Evaluation)" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-tags"></i>归类</a>
                                                }

                                            }
                                        </td>
                                    </tr>
                                }

                            </tbody>

                        </table>     
                    </div>
                    <div role="tabpanel" class="tab-pane" id="Pan">
                        @{ Html.RenderAction("CollectBills", new { list = list });}
                    </div>
                </div>
                   
            </div>
          </div>
        
    </div>
                    }
                    else
                    {
                        <span>当前系统未导入相关数据</span>
                    }