@using Ztop.Todo.ActiveDirectory
@model List<Ztop.Todo.Model.ADGroup>

    
@{ 
    var organications = Model.Where(e => e.Type == Ztop.Todo.Model.ADType.Organication).ToList();
    var catalogs = Model.Where(e => e.Type == Ztop.Todo.Model.ADType.Catalog).ToList();
    var others = Model.Where(e => e.Type == Ztop.Todo.Model.ADType.Other).ToList();
    var big = XmlHelper.GetDitrict();
}

<script>
    $(function () {
        $("#Manager").AutoComplete({
            'data': "/Admin/Gain",
            'width': 'auto',
            'itemHeight': 50,
            'ajaxDataType': 'json',
            'onerror': function (msg) { alert(msg); }
        });


        $("button[name='ALL']").click(function () {
            var parent = $(this).attr("parent");
            if (parent != undefined && parent != NaN) {
                $("#" + parent + " input[name='GroupName']").each(function () {
                    $(this).prop("checked", true);
                });
            }
        });

        $("button[name='NOT']").click(function () {
            var parent = $(this).attr("parent");
            if (parent != undefined && parent != NaN) {
                $("#" + parent + " input[name='GroupName']").each(function () {
                    $(this).prop("checked", false);
                });
            }
        });
        $("form").submit(function () {
            ShowMessage("正在授权，您选择的授权组较多，请稍等......");
            $("form button[type='submit']").attr("disabled", "false");
        });
    })
</script>



<form class="form-horizontal" method="post" action="" >
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="alert alert-warning" role="alert" name="Message" style="display:none;">
                    <i class="icon-spin icon-spinner icon-large"></i>
                    <span></span>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-1">管理者：</label>
                <div class="col-md-11">
                    <input type="text" name="Manager" class="form-control" id="Manager" autocomplete="off" />
                </div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-1">行政区：</label>
                <div class="col-md-11" id="City">
                    <div class="col-md-2">
                        <ul class="nav nav-pills nav-stacked" role="tablist">
                            @foreach (var item in big)
                            {
                                <li role="presentation"><a href="#@(item)" role="tab" data-toggle="tab">@(item)</a></li>
                            }

                            @foreach(var item in catalogs)
                            {
                                <li role="presentation"><a href="#catalog-@(item.Name)" role="tab" data-toggle="tab">@(item.Name)</a></li>
                            }

                            @foreach(var item in others)
                            {
                                <li role="presentation"><a href="#other-@(item.Name)" role="tab" data-toggle="tab">@(item.Name)</a></li>
                            }
                        </ul>
                        <hr />
                        <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>确定</button>
                    </div>
                    <div class="col-md-9">
                        <div class="tab-content">     
                            @foreach(var item in big)
                            {
                                var code = item.Length > 4 ? item.Substring(0, 4) : "";
                                var groups = organications.Where(e => e.Code == code);
                                <div role="tabpanel" class="tab-pane" id="@(item)">
                                    <div class="col-md-3">
                                        <ul class="nav nav-pills nav-stacked" role="tablist">
                                            @foreach (var first in groups)
                                            {
                                                <li role="presentation"><a href="#first-@(first.Name)" role="tab" data-toggle="tab">@(first.Name)</a></li>
                                            }
                                        </ul>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="tab-content">
                                            @foreach(var first in groups)
                                            {
                                                <div role="tabpanel" class="tab-pane" id="first-@(first.Name)">
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-warning" name="ALL" parent="first-@(first.Name)">全选</button>
                                                        <button type="button" class="btn btn-danger" name="NOT" parent="first-@(first.Name)">全不选</button>
                                                    </div>
                                                    <table class="table">
                                                        @foreach(var entry in Model.Where(e => e.OID == first.ID).ToList().ListToTable())
                                                        {
                                                            <tr>
                                                                @foreach(var second in entry)
                                                                {
                                                                    if (second != null)
                                                                    {
                                                                        <td>
                                                                            <label class="checkbox-inline">
                                                                                <input type="checkbox" value="@(second.Name)" name="GroupName" /><strong>@(second.Name)</strong>
                                                                            </label>
                                                                        </td>
                                                                    }
                                                                }
                                                            </tr>
                                                        }
                                                    </table>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }

                            @foreach(var item in catalogs)
                            {
                                var groups = Model.Where(e => e.OID == item.ID).ToList().ListToTable();
                                <div role="tabpanel" class="tab-pane" id="catalog-@(item.Name)">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-warning" name="ALL" parent="catalog-@(item.Name)">全选</button>
                                        <button type="button" class="btn btn-danger" name="NOT" parent="catalog-@(item.Name)">全不选</button>
                                    </div>

                                    <table class="table">
                                        @foreach(var array in groups)
                                        {
                                            <tr>
                                                @foreach (var entry in array)
                                                {
                                                    if (entry != null)
                                                    {
                                                        <td>
                                                            <label class="checkbox-inline">
                                                                <input type="checkbox" value="@(entry.Name)" name="GroupName" /><strong>@(entry.Name)</strong>
                                                            </label>
                                                        </td>
                                                    }

                                                }
                                            </tr>
                                        }
                                    </table>
                                </div>
                            }

                            @foreach(var item in others)
                            {
                                var groups = Model.Where(e => e.OID == item.ID).ToList().ListToTable();
                                <div role="tabpanel" class="tab-pane" id="other-@(item.Name)">
                                    <div class="btn-group">
                                        <button type="button" name="ALL" class="btn btn-warning" parent="other-@(item.Name)">全选</button>
                                        <button type="button" name="NOT" class="btn btn-danger" parent="other-@(item.Name)">全不选</button>
                                    </div>

                                    <table class="table">
                                        @foreach(var array in groups)
                                        {
                                            <tr>
                                                @foreach (var entry in array)
                                                {
                                                    if (entry != null)
                                                    {
                                                        <td>
                                                            <label class="checkbox-inline">
                                                                <input type="checkbox" name="GroupName" value="@(entry.Name)" /><strong>@(entry.Name)</strong>
                                                            </label>
                                                        </td>
                                                    }

                                                }
                                            </tr>
                                        }
                                    </table>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

</form>





