@using Ztop.Todo.Model
@using Ztop.Todo.ActiveDirectory
@{
    ViewBag.Title = "授权审批";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<DataBook> List = ViewBag.Wait;
   // List<FastGroupUserView> fasts = ViewBag.Fasts;
}


<script>
    function LoadMyManager() {
        ShowMessage("正在加载数据，请稍等......");
        $("#Manager-Body").load("/Authority/MyManager", function () {
            HideMessage();
        });
    }

    $(function () {
        LoadMyManager();

        $("#Wait form").submit(function () {
            $("#Wait button[type='submit']").attr("disabled", "false");

        });
    });
</script>

<div style="position:relative;">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#Wait" data-toggle="tab"><i class="glyphicon glyphicon-fire"></i>&nbsp;待审核&nbsp;</a></li>
        <li class=""><a href="#Manager" data-toggle="tab"><i class="glyphicon glyphicon-heart"></i>&nbsp; 我的管理&nbsp;</a></li>
    </ul>
</div>

<div class="tab-content">
    <div class="tab-pane fade active in" id="Wait">
        @foreach (var book in List)
        {
            <form class="form-horizontal" action="" method="post">
                <div class="form-group">
                    <label for="Name" class="control-label col-lg-3">申请人</label>
                    <div class="col-lg-6">
                        <input type="text" name="Name" value="@(book.Name)" disabled="disabled" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="GroupName" class="control-label col-lg-3">申请组</label>
                    <div class="col-lg-6">
                        <input type="text" name="GroupName" value="@(book.GroupName)" disabled="disabled" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="Time" class="control-label col-lg-3">申请时间</label>
                    <div class="col-lg-6">
                        <input type="text" name="Time" value="@(book.CreateTime)" disabled="disabled" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="Check" class="control-label col-lg-3">是否同意</label>
                    <div class="col-lg-6">
                        @foreach (CheckStatus status in Enum.GetValues(typeof(CheckStatus)))
                        {
                            if (status == CheckStatus.Wait || status == CheckStatus.All)
                            {
                                continue;
                            }
                            var value = (int)status;
                            <label class="radio-inline">
                                <input type="radio" value="@value" name="status" @(status==CheckStatus.Agree?"checked=checked":"") />@(status.GetDescription())
                            </label>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="control-label col-lg-3">期限:</label>
                    <div class="col-lg-3">
                        <div class="input-group">
                            <input type="number" class="form-control" name="Day" value="1" />
                            <div class="input-group-addon">天</div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="true" name="Check" />永不过期
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Reason" class="control-label col-lg-3">备注（理由）</label>
                    <div class="col-lg-6">
                        <textarea name="Reason" class="form-control" style="width:539px;"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" name="ID" value="@(book.ID)" style="display:none;" />
                </div>
                <div class="form-group">
                    <div class="col-lg-6 col-lg-offset-3">
                        <button type="submit" class="btn btn-primary">确定</button>
                    </div>
                </div>
            </form>
            <hr />
        }
    </div>
    <div class="tab-pane fade" id="Manager">
        <div class="alert alert-warning" role="alert" name="Message" style="display:none;">
            <i class="icon-spin icon-spinner icon-large"></i>
            <span>正在加载......</span>
        </div>
        <div id="Manager-Body">

        </div>
    </div>
</div>


