@using Ztop.Todo.Model
@using Ztop.Todo.ActiveDirectory
@{
    ViewBag.Title = "授权审批";
    Layout = "~/Views/Shared/_Layout.cshtml";
   // List<ADGroup> Orgainications = ViewBag.Organications;
    List<DataBook> List = ViewBag.Wait;
    Dictionary<string, List<AUser>> GDict = ViewBag.DGroups;

    Authorize authorize = ViewBag.Authorize;
    List<ADGroup> groups = ViewBag.First;
    
    var catalogs = groups!=null? groups.Where(e => e.Type == ADType.Catalog).ToList():null;
    var others =groups!=null? groups.Where(e => e.Type == ADType.Other).ToList():null;
    var BIG = XmlHelper.GetDitrict();
}


<script>
    $(function () {
        $("#Wait form").submit(function () {
            $("#Wait button[type='submit']").attr("disabled", "false");

        });
    });
</script>

<div style="position:relative;">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#Wait" data-toggle="tab"><i class="glyphicon glyphicon-fire"></i>&nbsp;待审核&nbsp;</a></li>
        <li class=""><a href="#Manager" data-toggle="tab"><i class="glyphicon glyphicon-heart"></i>&nbsp; 我的管理&nbsp;</a></li>
    </ul>
</div>

<div class="tab-content">
    <div class="tab-pane fade active in" id="Wait">
        @foreach (var book in List)
        {
            <form class="form-horizontal" action="" method="post">
                <div class="form-group">
                    <label for="Name" class="control-label col-lg-3">申请人</label>
                    <div class="col-lg-6">
                        <input type="text" name="Name" value="@(book.Name)" disabled="disabled" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="GroupName" class="control-label col-lg-3">申请组</label>
                    <div class="col-lg-6">
                        <input type="text" name="GroupName" value="@(book.GroupName)" disabled="disabled" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="Time" class="control-label col-lg-3">申请时间</label>
                    <div class="col-lg-6">
                        <input type="text" name="Time" value="@(book.CreateTime)" disabled="disabled" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="Check" class="control-label col-lg-3">是否同意</label>
                    <div class="col-lg-6">
                        @foreach (CheckStatus status in Enum.GetValues(typeof(CheckStatus)))
                        {
                            if (status == CheckStatus.Wait || status == CheckStatus.All)
                            {
                                continue;
                            }
                            var value = (int)status;
                            <label class="radio-inline">
                                <input type="radio" value="@value" name="status" @(status==CheckStatus.Agree?"checked=checked":"") />@(status.GetDescription())
                            </label>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="control-label col-lg-3">期限:</label>
                    <div class="col-lg-3">
                        <div class="input-group">
                            <input type="number" class="form-control" name="Day" value="1" />
                            <div class="input-group-addon">天</div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="true" name="Check" />永不过期
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Reason" class="control-label col-lg-3">备注（理由）</label>
                    <div class="col-lg-6">
                        <textarea name="Reason" class="form-control" style="width:539px;"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" name="ID" value="@(book.ID)" style="display:none;" />
                </div>
                <div class="form-group">
                    <div class="col-lg-6 col-lg-offset-3">
                        <button type="submit" class="btn btn-primary">确定</button>
                    </div>
                </div>
            </form>
            <hr />
        }
    </div>
    @if (GDict != null&&groups!=null)
    {
        var big = groups.GroupBy(e => e.Code).Select(e => e.Key).ToList();
        <div class="tab-pane fade" id="Manager">
            <div class="panel-group" role="tablist" id="accordion" aria-multiselectable="true">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <ul class="nav nav-pills nav-stacked" role="tablist">
                                @foreach(var code in big)
                                {
                                    var entry = BIG.FirstOrDefault(e => e.StartsWith(code));
                                    if (entry != null)
                                    {
                                        <li role="presentation"><a href="#big-@(entry)" role="tab" data-toggle="tab">@(entry)</a></li>
                                    }
                                }
                                @if (catalogs != null)
                                {
                                    foreach (var item in catalogs)
                                    {
                                        <li role="presentation"><a href="#catalog-@(item.Name)" role="tab" data-toggle="tab">@(item.Name)</a></li>
                                    }
                                }
                                @if (others != null)
                                {
                                    foreach (var item in others)
                                    {
                                        <li role="presentation"><a href="#other-@(item.Name)" role="tab" data-toggle="tab">@(item.Name)</a></li>
                                    }
                                }
                   
                              
                            </ul>
                        </div>
                        <div class="col-md-10">
                            <div class="tab-content">
                                @foreach(var code in big)
                                {
                                    var entry = BIG.FirstOrDefault(e => e.StartsWith(code));
                                    if (entry != null)
                                    {
                                        var array = groups.Where(e => e.Code == code);
                                        <div role="tabpanel" class="tab-pane" id="big-@(entry)">
                                            <div class="col-md-3">
                                                <ul class="nav nav-pills nav-stacked" role="tablist">
                                                    @foreach(var first in array)
                                                    {
                                                        <li role="presentation"><a href="#second-@(first.Name)" role="tab" data-toggle="tab">@(first.Name)</a></li>
                                                    }
                                                </ul>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="tab-content">
                                                    @foreach(var first in array)
                                                    {
                                                        var array2 = authorize.Groups.Where(e => e.OID == first.ID).ToList();
                                                        <div role="tabpanel" class="tab-pane" id="second-@(first.Name)">
                                                            <div class="col-md-3">
                                                                <ul class="nav nav-pills nav-stacked" role="tablist">
                                                                    @foreach (var item1 in array2)
                                                                    {
                                                                        <li role="presentation"><a href="#third-@(item1.Name)" role="tab" data-toggle="tab">@(item1.Name)</a></li>
                                                                    }
                                                                </ul>
                                                            </div>
                                                           <div class="col-md-9">
                                                               <div class="tab-content">
                                                                   @foreach (var item1 in array2)
                                                                   {
                                                                       var users=GDict.ContainsKey(item1.Name)?GDict[item1.Name]:null;
                                                                       <div role="tabpanel" class="tab-pane" id="third-@(item1.Name)">
                                                                           <table class="table">
                                                                               <thead>
                                                                                   <tr>
                                                                                       <th>用户名</th>
                                                                                       <th>账号</th>
                                                                                   </tr>
                                                                               </thead>
                                                                               <tbody>
                                                                                   @if (users == null||users.Count==0)
                                                                                   {
                                                                                       <tr>
                                                                                           <td colspan="2">无用户</td>
                                                                                       </tr>
                                                                                   }
                                                                                   else
                                                                                   {
                                                                                       foreach(var user in users)
                                                                                       {
                                                                                           <tr>
                                                                                               <td>@(user.Name)</td>
                                                                                               <td>@(user.Account)</td>
                                                                                           </tr>
                                                                                       }
                                                                                   }
                                                                               </tbody>
                                                                           </table>
                                                                       </div>
                                                                   }
                                                               </div>
                                                           </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }

                                @if (catalogs != null)
                                {
                                    foreach (var item in catalogs)
                                    {
                                        var lists = authorize.Groups.Where(e => e.OID == item.ID).ToList();
                                        <div class="tab-pane" role="tabpanel" id="catalog-@(item.Name)">
                                            <div class="col-md-3">
                                                <ul class="nav nav-pills nav-stacked" role="tablist">
                                                    @foreach (var first in lists)
                                                    {
                                                        <li role="presentation"><a href="#first-@(first.Name)" role="tab" data-toggle="tab">@(first.Name)</a></li>
                                                    }
                                                </ul>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="tab-content">
                                                    @foreach (var first in lists)
                                                    {
                                                        var users = GDict.ContainsKey(first.Name) ? GDict[first.Name] : null;
                                                        <div class="tab-pane" role="tabpanel" id="first-@(first.Name)">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>用户名</th>
                                                                        <th>账号</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @if (users == null || users.Count == 0)
                                                                    {
                                                                        <tr>
                                                                            <td rowspan="2">无用户</td>
                                                                        </tr>
                                                                    }
                                                                    else
                                                                    {
                                                                        foreach (var user in users)
                                                                        {
                                                                            <tr>
                                                                                <td>@(user.Name)</td>
                                                                                <td>@(user.Account)</td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                           
                                @if (others != null)
                                {
                                    foreach (var item in others)
                                    {
                                        var lists = authorize.Groups.Where(e => e.OID == item.ID).ToList();
                                        <div class="tab-pane" role="tabpanel" id="other-@(item.Name)">
                                            <div class="col-md-3">
                                                <ul class="nav nav-pills nav-stacked" role="tablist">
                                                    @foreach (var first in lists)
                                                    {
                                                        <li role="presentation"><a href="#first-@(first.Name)" role="tab" data-toggle="tab">@(first.Name)</a></li>
                                                    }
                                                </ul>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="tab-content">
                                                    @foreach (var first in lists)
                                                    {
                                                        var users = GDict.ContainsKey(first.Name) ? GDict[first.Name] : null;
                                                        <div class="tab-pane" role="tabpanel" id="first-@(first.Name)">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>用户名</th>
                                                                        <th>账号</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @if (users == null || users.Count == 0)
                                                                    {
                                                                        <tr>
                                                                            <td rowspan="2">无用户</td>
                                                                        </tr>
                                                                    }
                                                                    else
                                                                    {
                                                                        foreach (var user in users)
                                                                        {
                                                                            <tr>
                                                                                <td>@(user.Name)</td>
                                                                                <td>@(user.Account)</td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                              
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
</div>


