@{ 
    if (Model == null)
    {
        return;
    }

    List<Sheet> list = Model as List<Sheet>;
    if (list == null)
    {
        return;
    }
}


<div class="panel panel-default">
    <div class="panel-heading">
        最近草稿<span class="badge">@(list.Count)</span>
        <a style="float:right;font-size:0.8em" href="/Report/List?Position=草稿">
            <em class="glyphicon glyphicon-info-sign"></em>详情
        </a>
    </div>
    <div class="panel-body">
        <p>合计金额[元]：@(list.Sum(e=>e.Money))</p>
    </div>
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>系统流水编号</th>
                <th>填报日期</th>
                <th>报销金额[元]</th>
                <th>备注</th>
                <th>报销类型</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in list)
                {
                    <tr>
                        <td><a href="/Report/Detail?id=@(item.ID)">@(item.PrintNumber)</a> </td>
                        <td>@(item.Time.ToLongDateString())</td>
                        <td>@(item.Money)</td>
                        <td>@(item.Remarks)</td>
                        <td>@(item.Type.GetDescription())</td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>