
@{
    ViewBag.Title = "填写月汇总";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<form class="form-horizontal" method="post" action="" id="Data">
    <h2 class="text-center">
        杭州智拓
        <select name="Year">
            @for (var i = DateTime.Now.Year; i > 2010; i--)
            {
                <option value="@(i)">@(i)</option>
            }
        </select>
        年
        <select name="Month">
            @for (var i = 1; i < 13; i++)
            {
                <option value="@(i)" @(i == (DateTime.Now.Month - 1) ? "selected=selected" : "")>@(i)</option>
            }
        </select>
        月份收支汇总填表
    </h2>
    <div class="col-md-6">
        <h3 class="text-center">房地产土地评估咨询有限公司</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">摘要</th>
                    <th class="text-center">支出（元）</th>
                    <th class="text-center">
                        收入（元）
                        <button type="button" class="btn btn-success btn-xs" name="add" TargetName="Evaluation" style="float:right;"><i class="glyphicon glyphicon-plus"></i>添加</button>
                    </th>
                </tr>
            </thead>
            <tbody name="Evaluation"></tbody>
            <tfoot>
                <tr>
                    <td class="text-center"><strong>合计</strong></td>
                    <td><input type="text" name="SubstalEE" class="form-control" /></td>
                    <td><input type="text" name="SubstalIE" class="form-control" /></td>
                </tr>
            </tfoot>

        </table>
    </div>
    <div class="col-md-6">
        <h3 class="text-center">土地规划设计咨询有限公司</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">摘要</th>
                    <th class="text-center">支出（元）</th>
                    <th class="text-center">
                        收入（元）
                        <button type="button" class="btn btn-success btn-xs" style="float:right;" name="add" TargetName="Projection"><i class="glyphicon glyphicon-plus"></i>添加</button>
                    </th>
                </tr>
            </thead>
            <tbody name="Projection"></tbody>
            <tfoot>
                <tr>
                    <td class="text-center"><strong>合计</strong></td>
                    <td><input type="text" name="SubstalEP" class="form-control" /></td>
                    <td><input type="text" name="SubstalIP" class="form-control" /></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="7" class="text-center">汇总</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>公司名称/类别</td>
                    <td>收入（元）</td>
                    <td>保证金收入（元）</td>
                    <td>支出（元）</td>
                    <td>保证金支出（元）</td>
                    <td>转账（元）</td>
                    <td>备用金（元）</td>
                </tr>
                <tr>
                    <td>评估</td>
                    <td><input type="text" class="form-control"name="IncomeSEvaluation" placeholder="收入" /></td>
                    <td><input type="text" class="form-control" name="MarginIncomeEvaluation" placeholder="保证金收入" /></td>
                    <td><input type="text" class="form-control" name="PayEvaluation"  placeholder="支出"/></td>
                    <td><input type="text" class="form-control" name="MarginPayEvaluation" placeholder="保证金支出"/></td>
                    <td><input type="text" class="form-control" name="TransferEvaluation" placeholder="转账"/></td>
                    <td><input type="text" class="form-control" name="PettyEvaluation" placeholder="备用金"/></td>
                </tr>
                <tr>
                    <td>规划</td>
                    <td><input type="text" class="form-control" name="IncomeSProjection" placeholder="收入"/></td>
                    <td><input type="text" class="form-control" name="MarginIncomeProjection" placeholder="保证金收入"/></td>
                    <td><input type="text" class="form-control" name="PayProjection" placeholder="支出"/></td>
                    <td><input type="text" class="form-control" name="MarginPayProjection" placeholder="保证金支出"/></td>
                    <td><input type="text" class="form-control" name="TransferProjection" placeholder="转账"/></td>
                    <td><input type="text" class="form-control" name="PettyProjection" placeholder="备用金"/></td>
                </tr>
                <tr>
                    <td>现金</td>
                    <td><input type="text" class="form-control" name="IncomeSCash" placeholder="收入"/></td>
                    <td><input type="text" class="form-control" name="MarginIncomeCash" placeholder="保证金收入"/></td>
                    <td><input type="text" class="form-control" name="PayCash" placeholder="支出"/></td>
                    <td><input type="text" class="form-control" name="MarginPayCash" placeholder="保证金支出"/></td>
                    <td><input type="text" class="form-control" name="TransferCash" placeholder="转账"/></td>
                    <td><input type="text" class="form-control" name="PettyCash" placeholder="备用金"/></td>
                </tr>
                <tr>
                    <td>合计</td>
                    <td><input type="text" class="form-control" name="IncomeSSum" placeholder="收入" /></td>
                    <td><input type="text" class="form-control" name="MarginIncomeSum" placeholder="保证金收入"/></td>
                    <td><input type="text" class="form-control" name="PaySum" placeholder="支出"/></td>
                    <td><input type="text" class="form-control" name="MarginPaySum" placeholder="保证金支出"/></td>
                    <td><input type="text" class="form-control" name="TransferSum" placeholder="转账"/></td>
                    <td><input type="text" class="form-control" name="PettySum" placeholder="备用金"/></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 col-md-offset-6" >
        <div class="form-group" style="float:right;">
            <button type="button" class="btn btn-success btn-lg">保存</button>
            <button type="button" class="btn btn-primary btn-lg" id="Finish">完成</button>
        </div>
    </div>
</form>


<div>
    <div style="display:none;">
        <table>
            <tbody id="Add">
                <tr>
                    <td>
                        <input type="text" name="Summary{Name}" class="form-control" placeholder="摘要" />
                    </td>
                    <td>
                        <input type="text" name="Expenses{Name}" class="form-control" placeholder="支出" />
                    </td>
                    <td>
                        <input type="text" name="Income{Name}" class="form-control" placeholder="收入" />
                    </td>
                </tr>
            </tbody>

        </table>

    </div>
</div>


<script>
    var addhtml = $("#Add").html();
    var categorys =["Cash","Evaluation","Projection"]
    $(function () {
        $("[name='add']").click(function () {
            var targetName = $(this).attr("TargetName");
            var myhtml = addhtml.replace(/{Name}/g, targetName);
            $("[name='" + targetName + "']").append(myhtml);
        });

        function Sum(Name, Category) {
            var sum = 0;
            $("input[name='" + Category + Name + "']").each(function () {
                var val = $(this).val();
                if (val != undefined && val != "undefined" && val != NaN && val != "NaN") {
                    var a = parseFloat(val);
                    if (!isNaN(a)) {
                        sum += a;
                    }
                }
            });
            return sum;
        }

        $("input[name='SubstalEE']").focus(function () {
            $(this).val(Sum("Evaluation", "Expenses"));
        });

        $("input[name='SubstalIE']").focus(function () {
            $(this).val(Sum("Evaluation", "Income"));
        });

        $("input[name='SubstalEP']").focus(function () {
            $(this).val(Sum("Projection", "Expenses"));
        });
        $("input[name='SubstalIP']").focus(function () {
            $(this).val(Sum("Projection", "Income"));
        });
        function SumS(Name) {
            var sum = 0;
            for (item in categorys) {
                var val = $("input[name='" + Name + categorys[item] + "']").val();
                if (val != undefined && val != "undefined" && val != NaN && val != "NaN") {
                    var a = parseFloat(val);
                    if (!isNaN(a)) {
                        sum += a;
                    }
                }
            }
            return sum;
        }

        $("input[name='IncomeSSum']").focus(function () {
            $(this).val(SumS("IncomeS"));
        });

        $("input[name='MarginIncomeSum']").focus(function () {
            $(this).val(SumS("MarginIncome"));
        });

        $("input[name='PaySum']").focus(function () {
            $(this).val(SumS("Pay"));
        });

        $("input[name='MarginPaySum']").focus(function () {
            $(this).val(SumS("MarginPay"));
        });

        $("input[name='TransferSum']").focus(function () {
            $(this).val(SumS("Transfer"));
        });

        $("input[name='PettySum']").focus(function () {
            $(this).val(SumS("Petty"));
        });

        $("button#Finish").click(function () {
            var data = $("#Data").serialize();
            $.request("/Report/CreateSummary", data, function (json) {
                alert("Success");
            });
        });
    })
</script>

