
@{
    ViewBag.Title = "创建报销单";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Sheet sheet = ViewBag.Sheet;
    List<ReportType> types = ViewBag.Types;
    var parents = types.Where(e => e.Children != null && e.Children.Count > 0).ToList();
}

<div class="col-md-12">
    <form method="post" id="form-Create" action="/Report/Save" class="form-horizontal" enctype="multipart/form-data">
        <h2 class="text-center">@(sheet.Type.GetDescription())填写</h2>
        <input type="hidden" name="ID" value="@(sheet.ID)" />
        <input type="hidden" name="Type" value="@(sheet.Type)" />
        <input type="hidden" name="Number" value="@(sheet.Number)" />
        <input type="hidden" name="NumberExt" value="@(sheet.NumberExt)" />
        <div class="col-md-6 col-xs-6 col-sm-6">
            <div class="alert alert-warning" name="Message" role="alert" style="display:none;">
                <i class="icon-spinner icon-spin icon-large"></i>
                <span>正在保存，请稍等......</span>
            </div>
        </div>
        <div class="col-md-12 col-xs-12 col-sm-12">
            @{
                if (sheet.Type == SheetType.Transfer)
                {
                    Html.RenderPartial("SignalSubmit");
                }
                else
                {
                    Html.RenderPartial("SubmitButton");
                }

            }

            <button class="btn btn-sm btn-success" type="submit">
                <em class="glyphicon glyphicon-floppy-disk"></em> 保存返回
            </button>
            <button type="button" class="btn btn-sm btn-default" onclick="history.back();"><em class="glyphicon glyphicon-arrow-left"></em> 返回</button>
            @if (sheet.ID != 0)
            {
                <button class="btn btn-sm btn-danger" type="button">
                    <em class="glyphicon glyphicon-remove-circle"></em> 删除
                </button>
            }

        </div>
       
        <div class="col-md-12 col-xs-12 col-sm-12">
            <h3>基本信息</h3>
            <table class="table table-bordered" style="margin:0px;">
                <tbody>
                    <tr>
                        <th>流水单据编号</th>
                        <td><input type="text" class="form-control input-sm" value="@(sheet.Coding)" name="Coding" readonly="readonly" /></td>
                        <th>报销日期</th>
                        <td><input type="text" class="form-control input-sm" value="@(DateTime.Now.ToString("yyyy-MM-dd"))" name="Time" readonly="readonly" /></td>
                    </tr>
                    <tr>
                        <th>报销人</th>
                        <td>
                            <input type="text" name="Name" class="form-control input-sm" value="@(Identity.Name)" readonly="readonly" />
                        </td>
                        <th>报销金额合计</th>
                        <td>
                            <input type="text" name="Money" value="@(sheet.Money)" class="form-control input-sm" onclick="@(sheet.Type==SheetType.Errand?"SumErrand()":"SumDialy()")" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <th>发票张数</th>
                        <td><input type="number" name="Count" value="@(sheet.Count)" class="form-control input-sm" min="0" /></td>
                        <th>备注</th>
                        <td><input type="text" name="Remarks" style="width:100%" value="@(sheet.Remarks)" class="form-control input-sm" /></td>
                    </tr>
                </tbody>
            </table>
            @if (sheet.Type == SheetType.Errand)
            {
                Html.RenderPartial("Errand", sheet.Evection);
            }
            else
            {
                Html.RenderPartial("Subitem", sheet);
            }

        </div>
        <div class="col-md-12">
            @{
                Html.RenderPartial("SubmitButton");
            }
            <button class="btn btn-sm btn-success" type="submit">
                <em class="glyphicon glyphicon-floppy-disk"></em> 保存返回
            </button>
            <button type="button" class="btn btn-sm btn-default" onclick="history.back();"><em class="glyphicon glyphicon-arrow-left"></em> 返回</button>
            @if (sheet.ID != 0)
            {
                <button class="btn btn-sm btn-danger" type="button">
                    <em class="glyphicon glyphicon-remove-circle"></em> 删除
                </button>
            }

        </div>
    </form>
</div>

<div style="display:none">
    @foreach (var parent in parents)
    {
        <div id="@(parent.ID)">
            <select name="SRID" class="form-control input-sm">
                @foreach (var child in parent.Children)
                {
                    <option value="@(child.ID)">@(child.Name)</option>
                }
            </select>
        </div>
    }
</div>

<table id="template" style="display:none">
    <tr>
        <td>
            <input type="checkbox" name="Serials" value="{Index}" checked />
            
        </td>
        <td>
            <select name="Category{Index}">
                <option value="">请选择</option>
                @foreach(Category category in Enum.GetValues(typeof(Category)))
                {
                    <option value="@(category)">@(category.GetDescription())</option>
                }
            </select>
        </td>
        <td><input type="text" name="Details{Index}" style="width:100%" /></td>
        <td>
            <input type="text" name="Price{Index}" />
            <button type="button" class="btn btn-danger btn-remove btn-sm"><i class="glyphicon glyphicon-remove"></i></button>
        </td>
    </tr>
</table>







<script>
    

    //出差报销金额合计
    function SumErrand() {
        var fields=["Traffic","SubSidy","Hotel","Other"];
        var sum = 0;
        for(var field in fields){
            var a=$("[name='"+fields[field]+"']").val();
            if(a==NaN||a==undefined||a==""||a=="undefined"){
                continue;
            }
            var val = parseFloat(a);
            sum += val;
        }
        $("[name='Money']").val(sum.toFixed(2));
        return false;
    }

    //日常报销金额合计
    function SumDialy() {
        var sum=0;
        $("[name='Price']").each(function(){
            var a=$(this).val();
            if(a!=NaN||a!=undefined||a!=""||a!="undefined"){
                var val=parseFloat(a);
                if(!isNaN(val)){
                    sum+=val;
                }
                
            }
        });
        $("[name='Money']").val(sum.toFixed(2));
        return false;
    }
    $(function () {

        var template = $("#template").html();
        $("#btn-add").click(function () {
            var count = ($("input[type='text']").length - 8) / 2;
            var html = template.replace("{Index}", count + 1);
            $("#SHEET").append(html);
            $(".btn-remove").unbind("click").bind("click", function () {
                $(this).parent().parent().remove();
            });
        })
        $("#datetimepicker2").datetimepicker({
            timepicker: false,
            format: 'Y/m/d',
        });

        $("#form-Create").submit(function () {
            $("div.alert.alert-warning[name='Message']").show(500);
            $("#form-Create button[type='Submit']").attr("disabled","false");
            var data = $(this).serialize();
            $.request("/Report/Save", data, function (json) {
                alert(json.content);
                $("#form-Create button[type='Submit']").removeAttr("disabled");
                if(json.result==1){
                    $("div.alert.alert-warning[name='Message']>span").html("成功提交，正在跳转,请稍等......");
                    location.href = "/Report/Index";
                }
                
            });
           
            return false;
           
        });  
        
        //出差报销-出差住宿发生改变，自动计算金额
        $("input[name='Hotel']").change(SumErrand);
        //出差报销——其他金额发生改变 自动计算金额
        $("input[name='Other']").change(SumErrand);

        $("input[name='Price']").change(SumDialy);

    })
</script>



