@using Ztop.Todo.Model
@{
    ViewBag.Title = "创建报销单";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Ztop.Todo.Model.Sheet model = ViewBag.Model;
}


<form method="post" id="form-Create" action="/Report/Save" class="form-horizontal" enctype="multipart/form-data">
    <h2>报销单</h2>
    <input type="text" name="id" value="@(model.ID)" style="display:none" />
    <input type="text" value="@(model.Name)" name="Name" style="display:none" />
    <input type="text" name="NumberExt" value="@(model.NumberExt)" style="display:none" />
    <div class="col-md-12">
        @{ 
            Html.RenderPartial("SubmitButton");
        }
        <button class="btn btn-success btn-sm" type="submit">
            <em class="glyphicon glyphicon-floppy-disk"></em> 保存返回
        </button>
        <button class="btn btn-danger btn-sm" type="button">
            <em class="glyphicon glyphicon-remove-circle"></em> 删除
        </button>
        <button class="btn btn-default btn-sm" type="button">
            <em class="glyphicon glyphicon-print"></em> 打印
        </button>
        <a class="btn btn-warning btn-sm" href="/Report">
            <em class="glyphicon glyphicon-menu-left"></em> 返回
        </a>
    </div>
    <div class="col-md-8">
        <h3>基本信息</h3>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>单据编号</td>
                    <td>@(model.Coding) </td>
                    <td>报销日期</td>
                    <td><input type="text" id="datetimepicker2" value="@(model.Time.ToShortDateString())" name="Time" /></td>
                </tr>
                <tr>
                    <td>报销人</td>
                    <td>
                        @(model.Name)
                    </td>
                    <td>报销金额合计</td>
                    <td><input type="text" value="@(model.Money)" name="Money" /></td>
                </tr>
                <tr>
                    <td>备注</td>
                    <td colspan="3"><input type="text" name="Remarks" style="width:100%" value="@(model.Remarks)" /></td>
                </tr>
            </tbody>
        </table>
        <h3 class="col-md-11" style="margin-top:0px;">内容分项清单</h3>
        @*<a href="javascription:;" id="btn-add" class="btn btn-success btn-sm col-md-1" style="margin-top:0px;"><i class="glyphicon glyphicon-plus"></i>添加分类</a>*@
        <table class="table table-bordered" id="SHEET">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        分类
                    </th>
                    <th style="width:50%">
                        内容
                    </th>
                    <th>
                        金额(元)
                    </th>
                </tr>
            </thead>
@for (var i = 0; i < 10; i++)
{
    <tr>
        <td>@(i + 1)</td>
        <td>
            <select name="Category">
                <option value="">请选择</option>
                @foreach (Category category in Enum.GetValues(typeof(Category)))
                {
                    <option value="@(category)">@(category.GetDescription())</option>
                }
            </select>
        </td>
        <td><input type="text" name="Detail" style="width:100%" /></td>
        <td><input type="text" name="Price" /></td>
    </tr>
}
        </table>
    </div>
    <div class="col-md-4">
        <h3>
            审核信息
        </h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        步骤
                    </th>
                    <th>
                        姓名
                    </th>
                    <th>
                        时间
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        报销填单
                    </td>
                    <td>
                        袁总
                    </td>
                    <td>
                        2016-01-01
                    </td>
                </tr>
                <tr class="active">
                    <td>
                        主管审核
                    </td>
                    <td>
                        袁总
                    </td>
                    <td>
                        2016-01-01
                    </td>
                </tr>
                <tr>
                    <td>
                        报销确认
                    </td>
                    <td>
                        袁总
                    </td>
                    <td>
                        2016-01-01
                    </td>
                </tr>
                <tr class="active">
                    <td>
                        财务负责人核准
                    </td>
                    <td>
                        袁总
                    </td>
                    <td>
                        2016-01-01
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="col-md-12">
        <button class="btn btn-success btn-sm" type="button">
            <em class="glyphicon glyphicon-send"></em> 保存转交
        </button>
        <button class="btn btn-success btn-sm" type="button">
            <em class="glyphicon glyphicon-floppy-disk"></em> 保存返回
        </button>
        <button class="btn btn-danger btn-sm" type="button">
            <em class="glyphicon glyphicon-remove-circle"></em> 删除
        </button>
        <button class="btn btn-default btn-sm" type="button">
            <em class="glyphicon glyphicon-print"></em> 打印
        </button>
        <button class="btn btn-warning btn-sm" type="button">
            <em class="glyphicon glyphicon-menu-left"></em> 返回
        </button>
    </div>
</form>

<table id="template" style="display:none">
    <tr>
        <td>
            <input type="checkbox" name="Serials" value="{Index}" checked />
            
        </td>
        <td>
            <select name="Category{Index}">
                <option value="">请选择</option>
                @foreach(Category category in Enum.GetValues(typeof(Category)))
                {
                    <option value="@(category)">@(category.GetDescription())</option>
                }
            </select>
        </td>
        <td><input type="text" name="Details{Index}" style="width:100%" /></td>
        <td>
            <input type="text" name="Price{Index}" />
            <button type="button" class="btn btn-danger btn-remove btn-sm"><i class="glyphicon glyphicon-remove"></i></button>
        </td>
    </tr>
</table>



<script>
    $(function () {

        var template = $("#template").html();
        $("#btn-add").click(function () {
            var count = ($("input[type='text']").length - 8) / 2;
            var html = template.replace("{Index}", count + 1);
            $("#SHEET").append(html);
            $(".btn-remove").unbind("click").bind("click", function () {
                $(this).parent().parent().remove();
            });
        })
        $("#datetimepicker2").datetimepicker({
            timepicker: false,
            format: 'Y/m/d',
            minDate: '@(DateTime.Today.ToShortDateString())'
        });

        $("#form-Create").submit(function () {
            var data = $(this).serialize();
            $.request("/Report/Save", data, function (json) {
                location.href = "/";
            });
            return false;
        })
    })
</script>



