@using Ztop.Todo.Model
@{
    ViewBag.Title = "创建报销单";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Sheet sheet = ViewBag.Sheet;
}


<form method="post" id="form-Create" action="/Report/Save" class="form-horizontal" enctype="multipart/form-data">
    <h2>报销单</h2>
    <input type="text" name="SNID" value="@(sheet.SerialNumber.ID)" style="display:none" />
    <input type="text" name="Number" value="@(sheet.SerialNumber.Number)" style="display:none" />
    <input type="text" name="NumberExt" value="@(sheet.SerialNumber.NumberExt)" style="display:none" />
    <input type="text"  name="Name" value="@(Identity.Name)" style="display:none" />
    <input type="text" name="ID" value="@(sheet.ID)" style="display:none" />
    <input type="hidden" name="Type" value="@(sheet.Type)" />
    <div class="col-md-12">
        @{ 
            Html.RenderPartial("SubmitButton");
        }
        <button class="btn btn-success btn-sm" type="submit">
            <em class="glyphicon glyphicon-floppy-disk"></em> 保存返回
        </button>
        <button class="btn btn-danger btn-sm" type="button">
            <em class="glyphicon glyphicon-remove-circle"></em> 删除
        </button>
        <button class="btn btn-default btn-sm" type="button" onclick="javascript:window.print()">
            <em class="glyphicon glyphicon-print"></em> 打印
        </button>
        <a class="btn btn-warning btn-sm" href="/Report">
            <em class="glyphicon glyphicon-menu-left"></em> 返回
        </a>
    </div>
    <div class="col-md-8">
        <h3>基本信息</h3>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>单据编号</td>
                    <td>@(sheet.SerialNumber.Coding) </td>
                    <td>报销日期</td>
                    <td><input type="text" id="datetimepicker2" class="form-control" value="@(sheet.Time.ToShortDateString())" name="Time" /></td>
                </tr>
                <tr>
                    <td>报销人</td>
                    <td>
                        @(Identity.Name)
                    </td>
                    <td>报销金额合计</td>
                    <td>
                        <input type="text" name="Money" value="@(sheet.Money)" class="form-control"  onclick="@(sheet.Type==SheetType.Errand?"SumErrand()":"SumDialy()")" />
                        <div class="input-group">
                            
                            @*<span class="input-group-btn">
                                <button type="button" class="btn btn-success" onclick="@(sheet.Type==SheetType.Errand?"SumErrand()":"SumDialy()")">合计</button>
                            </span>*@
                        </div>
                        
                    </td>
                </tr>
                <tr>
                    <td>发票张数</td>
                    <td><input type="number" name="Count" value="@(sheet.Count)" class="form-control" /></td>
                    <td>备注</td>
                    <td><input type="text" name="Remarks" style="width:100%" value="@(sheet.Remarks)" class="form-control" /></td>
                </tr>
            </tbody>
        </table>
        @if (sheet.Type == SheetType.Daily)
        {
            Html.RenderPartial("Subitem", sheet);
        }
        else
        {
            Html.RenderPartial("Errand", sheet.Evection);
        }
    </div>
    <div class="col-md-4">
        <h3>
            审核信息
        </h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        步骤
                    </th>
                    <th>
                        姓名
                    </th>
                    <th>
                        时间
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (sheet.Verifys != null)
                {
                    foreach(var verify in sheet.Verifys)
                    {
                        <tr>
                            <td>@(verify.Step.GetDescription())</td>
                            <td>@(verify.Name)</td>
                            <td>@(verify.Time.ToShortDateString())</td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>
</form>

<table id="template" style="display:none">
    <tr>
        <td>
            <input type="checkbox" name="Serials" value="{Index}" checked />
            
        </td>
        <td>
            <select name="Category{Index}">
                <option value="">请选择</option>
                @foreach(Category category in Enum.GetValues(typeof(Category)))
                {
                    <option value="@(category)">@(category.GetDescription())</option>
                }
            </select>
        </td>
        <td><input type="text" name="Details{Index}" style="width:100%" /></td>
        <td>
            <input type="text" name="Price{Index}" />
            <button type="button" class="btn btn-danger btn-remove btn-sm"><i class="glyphicon glyphicon-remove"></i></button>
        </td>
    </tr>
</table>



<script>
    

    function SumErrand() {
        var fields=["Traffic","SubSidy","Hotel","Other"];
        var sum = 0;
        for(var field in fields){
            var a=$("[name='"+fields[field]+"']").val();
            if(a==NaN||a==undefined||a==""||a=="undefined"){
                continue;
            }
            var val = parseFloat(a);
            sum += val;
        }
        $("[name='Money']").val(sum);
        return false;
    }

    function SumDialy() {
        var sum=0;
        $("[name='Price']").each(function(){
            var a=$(this).val();
            if(a!=NaN||a!=undefined||a!=""||a!="undefined"){
                var val=parseFloat(a);
                if(!isNaN(val)){
                    sum+=val;
                }
                
            }
        });
        $("[name='Money']").val(sum);
        return false;
    }
    $(function () {

        var template = $("#template").html();
        $("#btn-add").click(function () {
            var count = ($("input[type='text']").length - 8) / 2;
            var html = template.replace("{Index}", count + 1);
            $("#SHEET").append(html);
            $(".btn-remove").unbind("click").bind("click", function () {
                $(this).parent().parent().remove();
            });
        })
        $("#datetimepicker2").datetimepicker({
            timepicker: false,
            format: 'Y/m/d',
        });

        $("#form-Create").submit(function () {
            var data = $(this).serialize();
            $.request("/Report/Save", data, function (json) {
                location.href = "/Report/Index";
            });
            return false;
           
        });    
    })
</script>



