 @using Ztop.Todo.Model;
@using Ztop.Todo.ActiveDirectory;
@{
    ViewBag.Title = "报销单";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Sheet sheet = ViewBag.Sheet;
    int Serial = 1;
}
<script src='http://10.22.102.3:8001/CLodopfuncs.js'></script>
<script src="~/Scripts/CLodopfuncs.js?priority=1"></script>



@if (sheet != null)
{
    <div class="col-md-12 noprint">
        <h3>报销单详情</h3>
        <div class="alert alert-warning" role="alert" name="Message" style="display:none;">
            <i class="icon-spinner icon-spin icon-large"></i>
            <span></span>
        </div>
        @if (!sheet.Deleted)
        {
            if (sheet.Controler == Identity.Name)
            {
                if (sheet.Status == Status.ExaminingDirector || sheet.Status == Status.ExaminingFinance || sheet.Status == Status.ExaminingManager)
                {
                    <button type="button" class="btn btn-sm btn-primary  btn-checked">
                        <em class="glyphicon glyphicon-ok">审核通过</em>
                    </button>
                }
                else if (sheet.Status == Status.Filing)
                {
                    <button type="button" class="btn btn-sm btn-warning btn-Fill">
                        <em class="glyphicon glyphicon-ok">报销归档</em>
                    </button>
                }
            }

            if (sheet.Status == Status.ExaminingFinance&&Identity.Name=="申屠杜平")
            {
                <a href="/Report/CancelCheck?id=@(sheet.ID)" class="btn btn-danger btn-sm"><em class="glyphicon glyphicon-log-out"></em>撤销通过</a>
            }


            if (sheet.Status == Status.OutLine || sheet.Status == Status.RollBack)//草稿  或者退回
            {
                if (Identity.Name == sheet.Name)
                {
                    <form method="post" class="form-horizontal col-md-12" action="" id="form-Check">
                        <input type="text" name="ID" value="@(sheet.ID)" style="display:none" />
                        @{
                            Html.RenderPartial("SubmitButton");
                        }
                        <a href="/Report/Create?id=@(sheet.ID)" class="btn btn-sm btn-primary">
                            <em class="glyphicon glyphicon-edit"></em>修改
                        </a>
                        <button type="button" class="btn btn-sm btn-danger btn-delete">
                            <em class="glyphicon glyphicon-remove"></em>删除
                        </button>
                    </form>
                                }
                            }
                            else if (sheet.Status == Status.ExaminingDirector || sheet.Status == Status.ExaminingManager || sheet.Status == Status.ExaminingFinance)//主管审核
                            {
                                if (sheet.Name == Identity.Name)//用户自己查看报销单时候
                                {
                                    if (sheet.Controler == sheet.Checkers)
                                    {
                                        <button type="button" class="btn btn-sm btn-danger" id="Revoke">
                                            <em class="glyphicon glyphicon-log-out"></em>撤回
                                        </button>
                                    }
                                }
                                else if (sheet.Controler == Identity.Name)//主管  查看报销单
                                {
                                    if (Identity.Name == XmlHelper.GetFinance())
                                    {
                                        <button class="btn btn-warning btn-sm" type="button" onclick="javascript: Preview()">
                                            <em class="glyphicon glyphicon-print"></em> 打印
                                        </button>
                                    }
                                    {
                                        Html.RenderPartial("WithDrawal", sheet);
                                    }
                                }
                            }
                            else if (sheet.Status == Status.Examined)
                            {
                            }
                            else if (sheet.Status == Status.Filing && Identity.Name == XmlHelper.GetFinance())
                            {
                                <button class="btn btn-sm btn-warning" type="button" onclick="javascript: Preview()">
                                    <em class="glyphicon glyphicon-print"></em> 打印
                                </button>
                                }


                            }
                            else
                            {
                                <div class="alert alert-danger col-md-8 col-xs-8 col-sm-8" role="alert">
                                    <span>当前报销单已经被删除，以下内容只做查看使用</span>
                                </div>
                            }





    </div>

    <div class="col-md-8 col-xs-12" id="Print">

        <h3>基本信息&nbsp;</h3>
        <div id="Main">
            <table class="table table-bordered table-condensed">
                <tbody>
                    <tr>
                        <th>单据编号</th>
                        <td>@(sheet.CheckNumber)</td>
                        <th>报销人</th>
                        <td>@(sheet.Name)</td>
                    </tr>
                    <tr>
                        <th>条形码</th>
                        <td> 
                             &nbsp; <img src="/@(sheet.BarCode)" />  &nbsp;<br />
                            &nbsp; &nbsp;<span class="text-center">@(sheet.PrintNumber)</span>
                        </td>
                        <th>填报日期</th>
                        <td>@(sheet.Time.ToLongDateString())</td>           
                    </tr>
                    <tr>
                        <th>报销金额合计(元)</th>
                        <td>@(sheet.Money)</td>
                        <th>发票张数</th>
                        <td>@(sheet.Count)</td>
                    </tr>
                    <tr>

                        <th>备注</th>
                        <td colspan="3">
                            @(sheet.Remarks)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        @if (sheet.Type == SheetType.Daily)
        {
            <h3>内容分项清单&nbsp;</h3>
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>分类</th>
                            <th style="width:50%" class="text-center">内容</th>
                            <th>金额（元）</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (sheet.Substances != null)
                        {
                            Serial = 1;
                            foreach (var substances in sheet.Substances)
                            {
                                <tr>
                                    <td>@(Serial++)</td>
                                    <td>@(substances.Category.GetDescription()) @(substances.SecondCategory.HasValue?"-"+substances.SecondCategory.Value.GetDescription():"") </td>
                                    <td class="text-center">@(substances.Details)</td>
                                    <td>@(substances.Price)</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
        }
        else
        {
            if (sheet.Evection != null)
            {
                Html.RenderPartial("Errand", sheet.Evection);
            }

        }
        <div class="hidden">
            报销合计：@(sheet.Money) 元
        </div>
    </div>
      
  
     <div class="col-md-4 noprint col-xs-12">
         <ul class="nav nav-tabs" role="tablist">
             <li role="presentation" class="active"><a href="#Progress" role="tab" data-toggle="tab">审核进度</a></li>
             <li role="presentation"><a href="#Similar" role="tab" data-toggle="tab">相似报销单 <span class="badge">@(sheet.Similars.Count)</span></a></li>
         </ul>
         <div class="tab-content">
             <div role="tabpanel" class="tab-pane active" id="Progress">
                 <h3>审核进度</h3>
                 <div class="progress">
                     @if (sheet.Status == Status.OutLine)
                     {
                         <div class="progress-bar progress-bar-success progress-bar-striped active" style="width:17%;min-width:2em;">
                             @(sheet.Status.GetDescription())
                         </div>
                     }
                     else if (sheet.Status == Status.ExaminingDirector)
                     {
                         <div class="progress-bar progress-bar-success" style="width:17%;min-width:2em;">
                             报销填单
                         </div>
                         <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width:17%;min-width:2em;">
                             @(sheet.Status.GetDescription())
                         </div>
                     }
                     else if (sheet.Status == Status.ExaminingManager)
                     {
                         <div class="progress-bar progress-bar-success" style="width:17%;min-width:2em;">
                             报销填单
                         </div>
                         <div class="progress-bar progress-bar-warning" style="width:17%;min-width:2em;">
                             主管核实
                         </div>
                         <div class="progress-bar progress-bar-info progress-bar-striped active" style="width:17%;min-width:2em;">
                             @(sheet.Status.GetDescription())
                         </div>
                     }
                     else if (sheet.Status == Status.ExaminingFinance)
                     {
                         <div class="progress-bar progress-bar-success" style="width:17%;min-width:2em;">
                             报销填单
                         </div>
                         <div class="progress-bar progress-bar-warning" style="width:17%;min-width:2em;">
                             主管核实
                         </div>
                         <div class="progress-bar progress-bar-info" style="width:17%;min-width:2em;">
                             财务负责人核准
                         </div>
                         <div class="progress-bar progress-bar-striped active" style="width:17%;min-width:2em;">
                             @(sheet.Status.GetDescription())
                         </div>
                     }
                     else if (sheet.Status == Status.Filing)
                     {
                         <div class="progress-bar progress-bar-success" style="width:17%;min-width:2em;">
                             报销填单
                         </div>
                         <div class="progress-bar progress-bar-warning" style="width:17%;min-width:2em;">
                             主管核实
                         </div>
                         <div class="progress-bar progress-bar-info" style="width:17%;min-width:2em;">
                             财务负责人核准
                         </div>
                         <div class="progress-bar" style="width:17%;min-width:2em;">
                             报销确认
                         </div>
                         <div class="progress-bar progress-bar-success progress-bar-striped active" style="width:17%;min-width:2em;">
                             @(sheet.Status.GetDescription())
                         </div>
                     }
                     else if (sheet.Status == Status.Examined)
                     {
                         <div class="progress-bar progress-bar-success" style="width:17%;min-width:2em;">
                             报销填单
                         </div>
                         <div class="progress-bar progress-bar-warning" style="width:17%;min-width:2em;">
                             主管核实
                         </div>
                         <div class="progress-bar progress-bar-info" style="width:17%;min-width:2em;">
                             财务负责人核准
                         </div>
                         <div class="progress-bar" style="width:17%;min-width:2em;">
                             报销确认
                         </div>
                         <div class="progress-bar progress-bar-warning" style="width:17%;min-width:2em;">
                             报销归档
                         </div>
                         <div class="progress-bar progress-bar-success" style="width:15%;min-width:2em;">
                             报销完成
                         </div>
                     }
                     else
                     {
                         <div class="progress-bar progress-bar-danger progress-bar-striped active" style="width:100%;min-width:2em;">
                             退回
                         </div>
                     }

                 </div>
                 @if (sheet.Status != Status.OutLine && sheet.Status != Status.RollBack && sheet.Status != Status.Examined)
                 {
                    <div class="alert alert-warning" role="alert">
                        <i class="icon-spinner icon-spin icon-large"></i>
                        <span>等待@(sheet.Controler)审核</span>
                    </div>
                 }
             

                 <div class="panel panel-default">
                     <div class="panel-heading">
                         <h3 class="panel-title">
                             审核信息
                         </h3>
                     </div>
                     <table class="table table-bordered table-condensed">
                         <thead>
                             <tr>
                                 <th>步骤</th>
                                 <th>姓名</th>
                                 <th>时间</th>
                                 <th>状态</th>
                                 <th class="col-xs-4">备注</th>
                             </tr>
                         </thead>
                         <tbody>
                             @if (sheet.Verifys != null)
                             {
                                 //Serial = 1;
                                 foreach (var verify in sheet.Verifys)
                                 {
                                     <tr>
                                         <td>  @(verify.Step.GetDescription())</td>
                                         <td>@(verify.Name)</td>
                                         @if (verify.Position == Position.Check)
                                         {
                                             <td>@(verify.Time.ToLongDateString())</td>
                                             <td><i class="fa fa-check-square"></i></td>
                                         }
                                         else if (verify.Position == Position.RollBack)
                                         {
                                             <td>@(verify.Time.ToLongDateString())</td>
                                             <td><i class="fa fa-ambulance"></i></td>
                                         }
                                         else
                                         {
                                             <td></td>
                                             <td><i class="fa fa-refresh fa-spin"></i></td>
                                         }
                                         <td>@(verify.Reason)</td>
                                     </tr>
                                 }
                             }
                         </tbody>
                     </table>
                 </div>
             </div>
             <div role="tabpanel" class="tab-pane" id="Similar">
                 @if (sheet.Similars == null||sheet.Similars.Count==0)
                 {
                     <div class="alert alert-warning" role="alert">
                         <span>当前未有相似金额类型报销单</span>
                     </div>
                 }
                 else
                 {
                     foreach (var entry in sheet.Similars)
                     {
                        <table class="table table-condensed table-striped">
                            <tr>
                                <th>单据编号</th>
                                <td>
                                    @(entry.CheckNumber)
                                    @if (Identity.Name == "申屠杜平")
                                    {
                                        <a href="/Report/Detail?id=@(entry.ID)" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-new-window"></span></a>
                                    }
                                  
                                </td>
                            </tr>
                            <tr>
                                <th>报销人</th>
                                <td>@(entry.Name)</td>
                            </tr>
                            <tr>
                                <th>填报时间</th>
                                <td>@(entry.Time.ToLongDateString())</td>
                            </tr>
                            <tr>
                                <th>报销金额（元）</th>
                                <td>@(entry.Money)</td>
                            </tr>
                            <tr>
                                <th>发票张数</th>
                                <td>@(entry.Count)</td>
                            </tr>
                            <tr>
                                <th>备注</th>
                                <td>@(entry.Remarks)</td>
                            </tr>
                            <tr>
                                <th>报销类型</th>
                                <td>@(entry.Type.GetDescription())</td>
                            </tr>
                            @if (entry.Type == SheetType.Daily)
                            {
                                foreach(var item in entry.Substances)
                                {
                                    <tr>
                                        <th>@(item.Category.GetDescription())</th>
                                        <td>@(item.Details)</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <th>出差地点</th>
                                    <td>@(entry.Evection.Place)</td>
                                </tr>
                                <tr>
                                    <th>事由/项目</th>
                                    <td>@(entry.Evection.Reason)</td>
                                </tr>
                                <tr>
                                    <th>出差人员</th>
                                    <td>@(entry.Evection.Persons)</td>
                                </tr>
                            }
                        </table>
                     }

                 }
             </div>
         </div>
           
     </div>
    <div class="container-fluid">
       

    </div>
}
<style type="text/css" media="print">
    .noprint{display:none;}
</style>

<script language="javascript" type="text/javascript">
    function Preview() {
        var LODOP = getCLodop();
       
        var strStyleCSS = "<style>table{ border-collapse:collapse; border-spacing:0;width:90%} td,th{ border:solid 1px #000; font-size:12px;padding:0;} h3,div{font-size:15px; font-weight:bold;margin:0px;padding:2px;}</style>";
        var strHTML = strStyleCSS + "<body>" + document.getElementById("Print").innerHTML + "<div class='form-group'><label class='control-label col-md-4'>审核人：________________________</label><label class='control-label col-md-4'>报销人：________________________</label></div></body>";
        LODOP.PRINT_INITA(1, 1, 297, 210, "打印报销单");
        LODOP.ADD_PRINT_HTM(0, 0, "100%", "90%", strHTML);
        //LODOP.SET_PRINT_PAGESIZE(2, 0, 0, "A5");
        LODOP.SET_PRINT_PAGESIZE(1, 2100, 1480, "");
        //LODOP.SET_PREVIEW_WINDOW(0, 0, 0, 760, 540, "");
        LODOP.SET_PRINT_MODE("FULL_WIDTH_FOR_OVERFLOW", true);
        LODOP.SET_PRINT_MODE("FULL_HEIGHT_FOR_OVERFLOW", true);
        LODOP.PREVIEW();
        //LODOP.PRINT_DESIGN();
    }


    $(function () {
       


        $("#form-Check").submit(function () {
            $("#form-Check button[type='submit']").attr("disabled", "false");
            ShowMessage("正在处理，请稍等......");
   
            var data = $(this).serialize();
            $.request("/Report/PostSheet", data, function (json) {
                $("#form-Check button[type='submit']").removeAttr("disabled");
                if (json.result == 1) {
                    ShowMessage("成功处理，正在跳转，请稍等......");
                }
                location.href = "/Report/Detail?id=@(sheet.ID)";
            });
            return false;
        });
        $(".btn-delete").click(function () {
            if (confirm("您确定要删除报销单吗？")) {
                ShowMessage("正在处理删除操作，请稍等......");
                $.request("/Report/Delete?id=@(sheet.ID)", null, function (json) {
                    if (json.result == 1) {
                        ShowMessage("成功删除，正在跳转，请稍等.....");
                    }
                    window.location.href = "/Report";
                });
            }
            return false;
        });
        $(".btn-checked").click(function () {
            if (confirm("您确定要通过当前报销单吗?")) {
                ShowMessage("审核通过处理中，请稍等.....");
                $.request("/Report/Check?id=@(sheet.ID)", null, function () {
                    ShowMessage("审核通过处理完成，正在跳转，请稍等......");
                    window.location.href = "/Report";
                })
            }
        });
        $("button.btn-Fill").click(function () {
            if (confirm("您确定要归档当前报销单吗？")) {
                $.request("/Report/Check?id=@(sheet.ID)", null, function () {
                    window.location.href = "/Report";
                })
            }
        });

        $("#Revoke").click(function () {
            if (confirm("您确定撤回当前报销单？")) {
                ShowMessage("正在撤回报销单，请稍等......");
                $.request("/Report/Revoke?id=@(sheet.ID)", null, function () {
                    ShowMessage("完成撤回，正在跳转，请稍等......");
                    location.href = "/Report/Detail?id=@(sheet.ID)";
                })
            }
        })
    })
</script>
