@using Ztop.Todo.Model;
@{
    ViewBag.Title = "报销单";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Sheet sheet = ViewBag.Sheet;
    int Serial = 1;
}

@if (sheet != null)
{
    <div class="col-md-12">
        <h3>报销单详情</h3>
        @if (sheet.Status == Status.OutLine||sheet.Status==Status.RollBack)//草稿  或者退回
        {
            <form method="post" class="form-horizontal col-md-12" action="" id="form-Check">
                <input type="text" name="ID" value="@(sheet.ID)" style="display:none" />
                @{ 
                    Html.RenderPartial("SubmitButton");
                }
                <a href="/Report/Create?id=@(sheet.ID)" class="btn btn-primary btn-sm">
                    <em class="glyphicon glyphicon-edit"></em>修改
                </a>
                <button type="button" class="btn btn-danger btn-sm btn-delete">
                    <em class="glyphicon glyphicon-remove"></em>删除
                </button>
                <button class="btn btn-default btn-sm" type="button" onclick="javascript:window.print()">
                    <em class="glyphicon glyphicon-print"></em> 打印
                </button>
                <a class="btn btn-warning btn-sm" href="/Report">
                    <em class="glyphicon glyphicon-menu-left"></em> 返回
                </a>
            </form>
                    }
                    else if (sheet.Status == Status.ExaminingDirector||sheet.Status==Status.ExaminingManager||sheet.Status==Status.ExaminingFinance)//主管审核

                    {
                        if (sheet.Name == Identity.Name)//用户自己查看报销单时候
                        {
                            <button type="button" class="btn btn-warning btn-sm"><i class="fa fa-refresh fa-spin"></i>审核中</button>
                            @*<span class="label label-success">报销单已经提交，等待审核</span>*@
                        }
                        else if (sheet.Controler == Identity.Name)//主管  查看报销单
                        {
                            <button type="button" class="btn btn-primary btn-sm btn-checked">
                                <em class="glyphicon glyphicon-ok">审核通过</em>
                            </button>
                            {
                                Html.RenderPartial("WithDrawal", sheet);
                            }
                        }
                        <button class="btn btn-default btn-sm" type="button" onclick="javascript:window.print()">
                            <em class="glyphicon glyphicon-print"></em> 打印
                        </button>
                            <a class="btn btn-warning btn-sm" href="/Report">
                                <em class="glyphicon glyphicon-menu-left"></em> 返回
                         </a>
                    }else if (sheet.Status == Status.Examined)
                    {
                        <button type="button" class="btn btn-success btn-sm"><i class="fa fa-flag"></i>成功报销</button>
                        <button class="btn btn-default btn-sm" type="button" onclick="javascript:window.print()">
                            <em class="glyphicon glyphicon-print"></em> 打印
                        </button>
                        <a class="btn btn-warning btn-sm" href="/Report">
                            <em class="glyphicon glyphicon-menu-left"></em> 返回
                        </a>
                    }
    </div>
   
                <div class="col-md-8">
                    <h3>基本信息</h3>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>单据编号</td>
                                <td>@(sheet.SerialNumber.Coding)</td>
                                <td>报销日期</td>
                                <td>@(sheet.Time.ToLongDateString())</td>
                            </tr>
                            <tr>
                                <td>报销人</td>
                                <td>@(sheet.Name)</td>
                                <td>报销金额合计(元)</td>
                                <td>@(sheet.Money)</td>
                            </tr>
                            <tr>
                                <td>备注</td>
                                <td colspan="3">
                                    @(sheet.Remarks)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    @if (sheet.Type == SheetType.Daily)
                    {
                        <h3>内容分项清单</h3>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>分类</th>
                                    <th style="width:50%">内容</th>
                                    <th>金额（元）</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (sheet.Substances != null)
                                {
                                    Serial = 1;
                                    foreach (var substances in sheet.Substances)
                                    {
                                        <tr>
                                            <td>@(Serial++)</td>
                                            <td>@(substances.Category.GetDescription())</td>
                                            <td>@(substances.Details)</td>
                                            <td>@(substances.Price)</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        Html.RenderPartial("Errand", sheet.Evection);
                    }

                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                审核信息
                            </h3>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>步骤</th>
                                    <th>姓名</th>
                                    <th>时间</th>
                                    <th>状态</th>
                                    <th>备注</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (sheet.Verifys != null)
                                {
                                    //Serial = 1;
                                    foreach (var verify in sheet.Verifys)
                                    {
                                        <tr>
                                            <td>  @(verify.Step.GetDescription())</td>
                                            <td>@(verify.Name)</td>
                                            @if (verify.Position==Position.Check)
                                            {
                                                <td>@(verify.Time.ToLongDateString())</td>
                                                <td><i class="fa fa-check-square"></i></td>
                                            }else if (verify.Position==Position.RollBack)
                                            {
                                                <td>@(verify.Time.ToLongDateString())</td>
                                                <td><i class="fa fa-ambulance"></i></td>
                                            }
                                            else
                                            {
                                                <td></td>
                                                <td><i class="fa fa-refresh fa-spin"></i></td>
                                            }
                                            <td>@(verify.Reason)</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                
                <div class="col-md-8">
                    <h3>报销确认</h3>
                    <div class="form-group">
                        <label class="control-label col-md-4">报销人签字：________________________</label>
                        <label class="control-label col-md-4">审核人签字：________________________</label>
                        <label class="control-label col-md-4">财务签字：__________________________</label>
                    </div>
                </div>
                }





<script>
    $(function () {
        $("#form-Check").submit(function () {
            var data = $(this).serialize();
            $.request("/Report/PostSheet", data, function (json) {
                location.href = "/Report/Detail?id=@(sheet.ID)";
            });
            return false;
        });
        $(".btn-delete").click(function () {
            if (confirm("您确定要删除报销单吗？")) {
                $.request("/Report/Delete?id=@(sheet.ID)", null, function () {
                    window.location.href = "/Report";
                });
            }
            return false;
        });
        $(".btn-checked").click(function () {
            if (confirm("您确定要通过当前报销单吗?")) {
                $.request("/Report/Check?id=@(sheet.ID)", null, function () {
                    window.location.href = "/Report";
                    //window.location.href = "/Report/Detail?id=@(sheet.ID)";
                })
            }
        })
    })
</script>
