@model Ztop.Todo.Model.Evection
    @{ 
        bool flag = ViewBag.Detail??false;
        ViewBag.CheckString = Model.Names;
    }
<h3>报销内容分项清单&nbsp;</h3>
<div id="bill">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>编号</th>
                <th class="text-center">分类</th>
                <th style="width:60%;" class="text-center">内容</th>
                <th>备注</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>出差地点</td>
                @if (flag)
                {
                    <td class="text-center">@(Model.Place)</td>
                }
                else
                {
                    <td>
                        <div class="input-group col-md-10">
                            <input type="text" class="form-control" name="Place" value="@(Model.Place)" />
                        </div>
                    </td>
                }
                <td>出差地点</td>
            </tr>
            <tr>
                <td>2</td>
                <td>公里数</td>
                @if (flag)
                {
                    <td class="text-center">@(Model.KiloMeters) 公里</td>
                }
                else
                {
                    <td>
                        <div class="input-group col-md-10">
                            <input type="text" class="form-control" name="KiloMeters" value="@(Model.KiloMeters)" />
                            <div class="input-group-addon">公里</div>
                        </div>
                    </td>
                    
                }
                <td>用车填写</td>
            </tr>
            <tr>
                <td>3</td>
                <td>用车类型</td>
                @if (flag)
                {
                    <td class="text-center">@(Model.BusType.GetDescription())</td>
                }
                else
                {
                    <td>
                        @foreach(BusType type in Enum.GetValues(typeof(BusType)))
                        {
                            <label class="radio-inline">
                                <input type="radio" name="BusType" value="@(type)" @(type==Model.BusType?"checked='checked'":"")/>@(type.GetDescription())
                            </label>
                        }
                    </td>
                }
                <td></td>
            </tr>
            <tr>
                <td>4</td>
                <td>交通费</td>
                @if (flag)
                {
                    <td class="text-center">@(Model.Traffic) 元</td>
                }
                else
                {
                    <td>
                        <div class="input-group col-md-10">
                            <input type="text" class="form-control" name="Traffic" value="@(Model.Traffic)"/>
                            <div class="input-group-addon">元</div>
                        </div>
                    </td>
                }
                <td>车票或油费</td>
            </tr>
            <tr>
                <td>5</td>
                <td>出差人数*天</td>
                @if (flag)
                {
                    <td class="text-center">
                        @foreach(var errand in Model.Errands)
                        {
                            <span class="label label-success">@(errand.StartTime.ToString("yyyy-MM-dd"))至@(errand.EndTime.ToString("yyyy-MM-dd")) @(errand.Peoples) 人 @(errand.Days) 天;</span>
                        }
                    </td>
                }
                else
                {
                    <td>
                        @{
                            var serial = 0;
                            if (Model.Errands != null)
                            {
                                foreach (var errand in Model.Errands)
                                {
                                    <div class="input-group col-md-12" style="margin-bottom:10px;">
                                        <input type="text" class="form-control datetimepicker" name="StartTime@(serial)" targetId="@(serial)" value="@(errand.StartTime.ToString("yyyy-MM-dd"))" />
                                        <div class="input-group-addon">至</div>
                                        <input type="text" class="form-control datetimepicker" name="EndTime@(serial)" targetId="@(serial)"  value="@(errand.EndTime.ToString("yyyy-MM-dd"))"/>
                                        <div class="input-group-addon">合计</div>
                                        <input type="text" class="form-control People" name="Peoples@(serial)"  value="@(errand.Peoples)"/>
                                        <div class="input-group-addon">人</div>
                                        <input type="text" class="form-control" name="Days@(serial)" readonly="readonly" value="@(errand.Days)" />
                                        <div class="input-group-addon">天</div>
                                    </div>
                                    serial++;
                                }
                            }

                            for (var i = serial; i < 3; i++)
                            {
                                <div class="input-group col-md-12" style="margin-bottom:10px;">
                                    <input type="text" class="form-control datetimepicker" name="StartTime@(i)" targetId="@(i)" />
                                    <div class="input-group-addon">至</div>
                                    <input type="text" class="form-control datetimepicker" name="EndTime@(i)"  targetId="@(i)"/>
                                    <div class="input-group-addon">合计</div>
                                    <input type="text" class="form-control People" name="Peoples@(i)" />
                                    <div class="input-group-addon">人</div>
                                    <input type="text" class="form-control" name="Days@(i)" readonly="readonly" />
                                    <div class="input-group-addon">天</div>
                                </div>
                            }
                        }
                        
                    </td>
                }
                
                <td></td>
            </tr>
            <tr>
                <td>6</td>
                <td>出差补贴</td>
                @if (flag)
                {
                    <td class="text-center">@(Model.SubSidy) 元</td>
                }
                else
                {
                    <td>
                        <div class="input-group col-md-10">
                            <input type="text" class="form-control" name="SubSidy" value="@(Model.SubSidy)"  readonly="readonly"/>
                            <div class="input-group-addon">元</div>
                        </div>
                    </td>
                }
                
                <td>注：补贴合计如有错误，请点击输入框进行重新计算！</td>
            </tr>
            <tr>
                <td>7</td>
                <td>出差住宿</td>
                @if (flag)
                {
                    <td class="text-center">@(Model.Hotel) 元</td>
                }
                else
                {
                    <td>
                        <div class="input-group col-md-10">
                            <input type="text" class="form-control" name="Hotel" value="@(Model.Hotel)"  />
                            <div class="input-group-addon">元</div>
                        </div>
                    </td>
                }
                
                <td></td>
            </tr>
            <tr>
                <td>8</td>
                <td>其他内容</td>
                @if (flag)
                {
                    <td class="text-center">@(Model.Mark)</td>
                }
                else
                {
                    <td>
                        <input type="text" class="form-control col-md-10" name="Mark" value="@(Model.Mark)" />
                    </td>
                }
                
                <td></td>
            </tr>
            <tr>
                <td>9</td>
                <td>其他金额</td>
                @if (flag)
                {
                    <td class="text-center">@(Model.Other)  元</td>
                }
                else
                {
                    <td>
                        <div class="input-group col-md-10">
                            <input type="text" class="form-control" name="Other" value="@(Model.Other)" />
                            <div class="input-group-addon">元</div>
                        </div>
                    </td>
                }
               
                <td></td>
            </tr>
            <tr>
                <td>10</td>
                <td>过路费</td>
                @if (flag)
                {
                    <td class="text-center">@(Model.Toll) 元</td>
                }
                else
                {
                    <td>
                        <div class="input-group col-md-10">
                            <input type="text" class="form-control" name="Toll" value="@(Model.Toll)" />
                            <div class="input-group-addon">元</div>
                        </div>
                    </td>
                }
               
                <td>用车填写</td>
            </tr>
            <tr>
                <td>11</td>
                <td>出差人</td>
                @if (flag)
                {
                    <td class="text-center">@(Model.Names)</td>
                }
                else
                {
                    <td>
                        <div class="input-group col-md-10">
                            <input type="text" class="form-control col-md-10" name="Names" value="@(Model.Names)" readonly="readonly" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".choose">选择用户</button>
                            </span>         
                        </div>
                        <div class="modal fade choose" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">选择出差人</h4>
                                    </div>
                                    <div class="modal-body">
                                        @{
                                            Html.RenderPartial("ChooseUser");
                                        }
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" id="BS" class="btn btn-primary" data-dismiss="modal">确定</button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </td>
                }
                
                <td></td>
            </tr>
        </tbody>
    </table>
</div>


<script>
    $(function () {
        $(".datetimepicker").datetimepicker({
            timepicker: false,
            format: 'Y-m-d',
        }).blur(function () {
            var targetId = $(this).attr("targetId");
            var start = $("[name='StartTime"+targetId+"']").val();
            var end = $("[name='EndTime"+targetId+"']").val();
            if (start == NaN || start == ""||start==undefined||start=="undefined" || end == NaN || end == ""||end==undefined||end=="undefined") {
                return false;
            }
            var d1 = new Date(start);
            var d2 = new Date(end);
            if (d2 < d1) {
                alert("截止日期小于起始日期");
                $("[name='Days"+targetId+"']").val(0);
                return false;
            }
            var day_d1 = d1.getTime() / 1000 / 3600 / 24;
            var day_d2 = d2.getTime() / 1000 / 3600 / 24;
            $("[name='Days"+targetId+"']").val(day_d2 - day_d1+1);
        });

        function SumSubSidy() {
            var sum = 0;
            for (var i = 0; i < 3; i++) {
                var peoples = $("[name='Peoples" + i + "']").val();
                var days = $("[name='Days" + i + "']").val();
                if (peoples == NaN || peoples == "" || peoples == undefined || peoples == "undefined" || days == NaN || days == "" || days == undefined || days == "undefined") {
                    continue;
                }
                sum += parseInt(peoples) * parseInt(days);
            }
            $("[name='SubSidy']").val(sum * 40);
        }

        $(".People").blur(function () {
            SumSubSidy();
        });
        $("input[name='SubSidy']").focus(function () {
            SumSubSidy();
        });

        $("#BS").click(function () {
            var chk_val = [];
            var buiness = "";
            $("[name='Businesser']:checked").each(function () {
                chk_val.push($(this).val());
                buiness += $(this).val()+";";
            });
            $("[name='Names']").val(buiness);
        })

    })
</script>
