@model Ztop.Todo.Model.Evection
    @{ 
        bool flag = ViewBag.Detail??false;
    }
<h3>报销内容分项清单&nbsp;</h3>
<div id="bill">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center">分类</th>
                <th style="width:70%;" class="text-center">内容</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>出差地点</td>
                @if (flag)
                {
                    <td class="text-center">@(Model.Place)</td>
                }
                else
                {
                    <td>
                        <div class="input-group col-md-10">
                            <input type="text" class="form-control" name="Place" value="@(Model.Place)" />
                        </div>
                    </td>
                }
            </tr>
            <tr>
                <td>公里数</td>
                @if (flag)
                {
                    <td class="text-center">@(Model.KiloMeters) 公里</td>
                }
                else
                {
                    <td>
                        <div class="input-group col-md-10">
                            <input type="number" class="form-control" name="KiloMeters" value="@(Model.KiloMeters)" />
                            <div class="input-group-addon">公里</div>
                        </div>
                    </td>
                    
                }
            </tr>
            <tr>
                <td>交通费用</td>
                @if (flag)
                {
                    @*<td class="text-center">@(Model.BusType.GetDescription())</td>*@
                }
                else
                {
                    <td>
                        @foreach (BusType type in Enum.GetValues(typeof(BusType)))
                        {
                            <div class="input-group" style="margin-bottom:10px;">
                                <span class="input-group-addon">
                                    <input type="checkbox" name="BusType" value="@(type)" aria-label="" />@(type.GetDescription())
                                </span>
                                <input type="number" class="form-control" name="Cost@(type)" aria-label="" placeholder="金额" />
                                <div class="input-group-addon">元</div>
                                @if (type == BusType.Company || type == BusType.Personal)
                                {
                                    <input type="number" class="form-control" name="Toll" placeholder="过路费/油费" />
                                    <div class="input-group-addon">元</div>
                                    <input type="text" class="form-control" name="Plate" placeholder="车牌" />
                                }else if (type == BusType.Didi||type==BusType.Taxi)
                                {
                                    <input type="number" class="form-control"  name="Times" placeholder=""/>
                                    <div class="input-group-addon">次</div>
                                }
                            </div>
                        } 
                        <hr />
                        <div class="input-group">
                            <div class="input-group-addon">合计</div>
                            <input type="number" class="form-control"  placeholder="合计" readonly="readonly" name="Traffic" value="@(Model.Traffic)"/>
                            <div class="input-group-addon">元</div>
                            <span></span>
                        </div>   
                    </td>
                }
            </tr>
            <tr>
                <td>出差补贴</td>
                <td >
                    <div class="input-group">
                        <input type="number" class="form-control" name="SubSidy" readonly="readonly" value="@(Model.SubSidy)" />
                        <div class="input-group-addon">元</div>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".ViewSubSidy">出差人数详情</button>
                        </span>
                       
                    </div>
                    <div class="modal fade ViewSubSidy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">出差详情</h4>
                                </div>
                                <div class="modal-body">
                                    @for(var i = 0; i < 3; i++)
                                    {
                                        <div class="form-group">
                                            <label class="control-label col-lg-2">时间：</label>
                                            <div class="input-group col-md-10">
                                                <input type="text" class="form-control datetimepicker" name="StartTime@(i)" targetId="@(i)" />
                                                <div class="input-group-addon">至</div>
                                                <input type="text" class="form-control datetimepicker" name="EndTime@(i)" targetId="@(i)" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">人员：</label>
                                            <div class="input-group col-md-10">
                                                <input type="text" class="form-control" name="Users@(i)" targetId="@(i)" readonly="readonly" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".choose@(i)">选择用户</button>
                                                </span> 
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">小计：</label>
                                            <div class="input-group col-md-10">
                                                <input type="number" class="form-control People" name="Peoples@(i)" readonly="readonly" />
                                                <div class="input-group-addon">人</div>
                                                <input type="number" class="form-control" name="Days@(i)" readonly="readonly" />
                                                <div class="input-group-addon">天</div>  
                                            </div>
                                        </div>

                                        <hr />
                                        <div class="modal fade choose@(i)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        @{ 
                                                            Html.RenderPartial("ChooseUser", i);
                                                        }
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" name="BS" class="btn btn-primary" targetId="@(i)">确定</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" id="View" >确定</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
          
            <tr>
                <td>出差住宿</td>
                @if (flag)
                {
                    <td class="text-center">@(Model.Hotel) 元</td>
                }
                else
                {
                    <td>
                        <div class="input-group col-md-10">
                            <input type="number" class="form-control" name="Hotel" value="@(Model.Hotel)"  />
                            <div class="input-group-addon">元</div>
                        </div>
                    </td>
                }
            </tr>
            <tr>
                <td>其他内容</td>
                @if (flag)
                {
                    <td class="text-center">@(Model.Mark)</td>
                }
                else
                {
                    <td>
                        <input type="text" class="form-control col-md-10" name="Mark" value="@(Model.Mark)" />
                    </td>
                }
            </tr>
            <tr>
                <td>其他金额</td>
                @if (flag)
                {
                    <td class="text-center">@(Model.Other)  元</td>
                }
                else
                {
                    <td>
                        <div class="input-group col-md-10">
                            <input type="number" class="form-control" name="Other" value="@(Model.Other)" />
                            <div class="input-group-addon">元</div>
                        </div>
                    </td>
                }
            </tr>
        </tbody>
    </table>
</div>


<script>
    $(function () {
        $(".datetimepicker").datetimepicker({
            timepicker: false,
            format: 'Y-m-d',
        }).blur(function () {
            var targetId = $(this).attr("targetId");
            var start = $("[name='StartTime"+targetId+"']").val();
            var end = $("[name='EndTime"+targetId+"']").val();
            if (start == NaN || start == ""||start==undefined||start=="undefined" || end == NaN || end == ""||end==undefined||end=="undefined") {
                return false;
            }
            var d1 = new Date(start);
            var d2 = new Date(end);
            if (d2 < d1) {
                alert("截止日期小于起始日期");
                $("[name='Days"+targetId+"']").val(0);
                return false;
            }
            var day_d1 = d1.getTime() / 1000 / 3600 / 24;
            var day_d2 = d2.getTime() / 1000 / 3600 / 24;
            $("[name='Days"+targetId+"']").val(day_d2 - day_d1+1);
        });
        function SumSubSidy() {
            var sum = 0;
            for (var i = 0; i < 3; i++) {
                var peoples = $("[name='Peoples" + i + "']").val();
                var days = $("[name='Days" + i + "']").val();
                if (peoples == NaN || peoples == "" || peoples == undefined || peoples == "undefined" || days == NaN || days == "" || days == undefined || days == "undefined") {
                    continue;
                }
                sum += parseInt(peoples) * parseInt(days);
            }
            $("[name='SubSidy']").val(sum * 40);
        }
        $(".People").blur(function () {
            SumSubSidy();
        });
        $("input[name='SubSidy']").focus(function () {
            SumSubSidy();
        });
        $("#View").click(function () {
            SumSubSidy();
            $(".ViewSubSidy").modal("hide");
        })
        $("[name='BS']").click(function () {
            var buiness = "";
            var count = 0;
            var id = $(this).attr("targetId");
            $("[name='Businesser" + id + "']:checked").each(function () {
                buiness += $(this).val() + ";";
                count = count + 1;
            });
            $("[name='Users" + id + "']").val(buiness);
            $("[name='Peoples" + id + "']").val(count);
            $(".choose" + id + "").modal("hide");
        })
        $("input[name='Traffic']").click(function () {
            var sum = 0;
            $("[name='BusType']:checked").each(function () {
                var type = $(this).val();
                if (type != "Didi") {
                    var val = $("[name='Cost" + type + "']").val();
                    if (val != undefined && val != "undefined" && val != NaN && val != "") {
                        sum += parseFloat(val);
                    }
                }
            });
            $(this).val(sum);
        }).change(function () {
            SumErrand();
        });
        $("input[name='Hotel']").change(function () {
            SumErrand();
        });

    })
</script>
