@model Ztop.Todo.Model.Evection
    @{ 
        bool flag = ViewBag.Detail??false;
    }
<h3 class="col-md-11" style="margin-top:0px">报销内容分项清单</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>编号</th>
            <th>分类</th>
            <th style="width:500px;">内容</th>
            <th>备注</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>公里数</td>
            <td>
                <div class="input-group col-md-12">
                    <input type="text" class="form-control" name="KiloMeters" value="@(Model.KiloMeters)" @(flag?"disabled=disabled":"") />
                    <div class="input-group-addon">公里</div>
                </div>
            </td>
            <td>用车填写</td>
        </tr>
        <tr>
            <td>2</td>
            <td>交通费</td>
            <td>
                <div class="input-group col-md-12">
                    <input type="text" class="form-control" name="Traffic" value="@(Model.Traffic)" @(flag?"disabled=disabled":"")/>
                    <div class="input-group-addon">元</div>
                </div>
            </td>
            <td>车票或油费</td>
        </tr>
        <tr>
            <td>3</td>
            <td>出差人数*天</td>
            <td>
                <div class="input-group col-md-12">
                    <input type="text" class="form-control" name="Peoples" value="@(Model.Peoples)" @(flag?"disabled=disabled":"")/>
                    <div class="input-group-addon">人</div>
                    <input type="text" class="form-control" name="Days" value="@(Model.Days)" @(flag?"disabled=disabled":"") />
                    <div class="input-group-addon">天</div>
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>4</td>
            <td>出差补贴</td>
            <td>
                <div class="input-group col-md-12">
                    <input type="text" class="form-control" name="SubSidy" value="@(Model.SubSidy)" @(flag?"disabled=disabled":"")/>
                    <div class="input-group-addon">元</div>
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>5</td>
            <td>出差住宿</td>
            <td>
                <div class="input-group col-md-12">
                    <input type="text" class="form-control" name="Hotel" value="@(Model.Hotel)" @(flag?"disabled=disabled":"")/>
                    <div class="input-group-addon">元</div>
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>6</td>
            <td>其他内容</td>
            <td>
                <input type="text" class="form-control col-md-12" name="Mark" value="@(Model.Mark)" @(flag?"disabled=disabled":"")/>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>7</td>
            <td>其他金额</td>
            <td>
                <div class="input-group col-md-12">
                    <input type="text" class="form-control" name="Other" value="@(Model.Other)" @(flag?"disabled=disabled":"")/>
                    <div class="input-group-addon">元</div>
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>8</td>
            <td>过路费</td>
            <td>
                <div class="input-group col-md-12">
                    <input type="text" class="form-control" name="Toll" value="@(Model.Toll)" @(flag?"disabled=disabled":"")/>
                    <div class="input-group-addon">元</div>
                </div>
            </td>
            <td>用车填写</td>
        </tr>
        <tr>
            <td>9</td>
            <td>出差人</td>
            <td>
                <input type="text" class="form-control col-md-12" name="Names" value="@(Model.Names)" @(flag?"disabled=disabled":"")/>    
            </td>
            <td></td>
        </tr>
    </tbody>
</table>
