@using Ztop.Todo.Model
@{
    ViewBag.Title = "报销单";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Sheet> List = ViewBag.List;
    QueryParameter parameter = ViewBag.Parameter;
    int serial = 1;
}
<div class="col-md-3  well">
    <fieldset>
        <legend>查询设置</legend>
    </fieldset>
    <form id="" style="margin-bottom:5px;" method="get">
        <input type="hidden" name="Creater" value="@(parameter.Creater.ToString())" />
        <input type="hidden" name="Position" value="@(parameter.Status.ToString())" />
        <input type="hidden" name="CurrentTime" value="@(parameter.Time.ToString())" />
        <input type="hidden" name="Checker" value="@(parameter.Checker.ToString())" />
        <div class="form-group">
            <label class="control-label">时间</label>
            <div class="col-md-12">
                <div class="btn-group" role="group">
                    @foreach (Time time in Enum.GetValues(typeof(Time)))
                    {
                        <button type="button" class="btn btn-sm btn-@(parameter.Time==time?"primary":"default")" name="Time">@(time.ToString())</button>
                    }
                </div>
            </div>
          
        </div>
        <div class="form-group">
            <label class="control-label">排序</label>
            <select name="Order" class="form-control">
                @foreach (Order order in Enum.GetValues(typeof(Order)))
                {
                    <option value="@(order)" @(parameter.Order == order ? "Selected=selected" : "")>@(order.GetDescription())</option>
                }
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-sm btn-success">立即查询</button>
        </div>
    </form>

</div>
<div class="col-md-9">
    <h3>报销列表</h3>
    <hr />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>单据编号</th>
                <th>报销日期</th>
                <th>报销金额</th>
                <th>报销人</th>
                <th>状态</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var sheet in List)
            {
                <tr>
                    <td>@(serial++)</td>
                    <td><a href="/Report/Detail?id=@(sheet.ID)">@(sheet.SerialNumber.Coding)</a></td>
                    <td>@(sheet.Time.ToLongDateString())</td>
                    <td>@(sheet.Money)</td>
                    <td>@(sheet.Name)</td>
                    <td><span class="label label-@(sheet.Status==Status.Examined?"success":sheet.Status==Status.RollBack?"danger":sheet.Status==Status.OutLine?"warning":"primary")">@(sheet.Status.GetDescription())</span> </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_pagination", ViewBag.Page as object)
</div>

<script>
    $(function () {
        $("[name='Ower']").click(function () {
            $("[name='Ower']").removeClass("btn-primary").addClass("btn-default");
            $(this).removeClass("btn-default").addClass("btn-primary");
            var key = $(this).text();
            $("input[name='Creater']").val(key);
        });
        $("[name='Status']").click(function () {
            $("[name='Status']").removeClass("btn-primary").addClass("btn-default");
            $(this).removeClass("btn-default").addClass("btn-primary");
            var key = $(this).text();
            $("input[name='Position']").val(key);
        });
        $("[name='Time']").click(function () {
            $("[name='Time']").removeClass("btn-primary").addClass("btn-default");
            $(this).removeClass("btn-default").addClass("btn-primary");
            var key = $(this).text();
            $("input[name='CurrentTime']").val(key);
        });
        $("[name='Check']").click(function () {
            $("[name='Check']").removeClass("btn-primary").addClass("btn-default");
            $(this).removeClass("btn-default").addClass("btn-primary");
            var key = $(this).text();
            $("input[name='Checker']").val(key);
        })
    })
</script>
