@model List<ReceptionItem>
<script>
    var addhtml = $("#Add").html();
    $(function () {
        $("button[name='Remove']").click(function () {
            var node = $(this).parent().parent();
            node.remove();
        });
        $("button[name='Add']").click(function () {
            $("#Item").append($("#Add").html());
            $("button[name='Remove']").unbind("click").bind("click", function () {
                var node = $(this).parent().parent();
                node.remove();
            });
            $("select[name='Way']").unbind("change").bind("change", function () {
                sumReception();
            });

            $("input[name='Coin']").unbind("blur").bind("blur", function () {
                sumReception();
            });
        });

        $("select[name='Way']").change(function () {
            sumReception();
        });

        $("input[name='Coin']").blur(function () {
            sumReception();
        });

        function sumReception() {
            var coins = [];
            var ways = [];
            $("input[name='Coin']").each(function () {
                coins.push($(this).val());
            });
            $("select[name='Way']").each(function () {
                ways.push($(this).val());
            });

            if (coins.length != ways.length) {
                alert("获取的金额与支付方式不一致，无法进行计算！");
                return;
            }
            var sum = 0;
            for (x in ways) {
                if (ways[x] == "Cash") {
                    if (coins[x] != "") {
                        sum += parseFloat(coins[x]);
                    }
                }
            }
            $("input[name='Money']").val(sum);
        }

        //$("button[name='Calendar']").click(function () {
        //    sumReception();

        //});

    });
</script>

<h3 style="margin-top:10px;">
    招待项目 
</h3>

<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>招待内容</th>
            <th>金额【元】</th>
            <th>支付方式</th>
            <th>备注</th>
            <th>
                <button type="button" class="btn btn-success btn-xs" name="Add"><i class="glyphicon glyphicon-plus-sign"></i></button>
            </th>
        </tr>
    </thead>
    <tbody id="Item">
        @if (Model != null)
        {
            foreach(var item in Model)
            {
                <tr>
                    <td>
                        <input type="text" name="Content" class="form-control input-sm" placeholder="招待内容" required value="@(item.Content)" />
                    </td>
                    <td>
                        <input type="text" name="Coin" class="form-control input-sm" placeholder="金额【元】" required value="@(item.Coin)" />
                    </td>
                    <td>
                        <select name="Way" class="form-control input-sm">
                            @foreach(PayWay way in Enum.GetValues(typeof(PayWay)))
                            {
                                <option value="@way" @(item.Way==way?"selected=selected":"")>@(way.GetDescription())</option>
                            }
                        </select>
                    </td>
                    <td>
                        <input type="text" name="Memo" class="form-control input-sm" placeholder="备注" value="@(item.Memo)" />
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-xs" name="Remove"><i class="glyphicon glyphicon-remove-sign"></i></button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>
                    <input type="text" name="Content" class="form-control input-sm" placeholder="招待内容 " required />
                </td>
                <td>
                    <input type="text" name="Coin" class="form-control input-sm" placeholder="金额【元】" required />
                </td>
                <td>
                    <select name="Way" class="form-control input-sm">
                        @foreach (PayWay way in Enum.GetValues(typeof(PayWay)))
                        {
                            <option value="@(way)">@(way.GetDescription())</option>
                        }
                    </select>
                </td>
                <td>
                    <input type="text" name="Memo" class="form-control input-sm" placeholder="备注" />
                </td>
                <td>
                    <button type="button" class="btn btn-danger btn-xs" name="Remove"><i class="glyphicon glyphicon-remove-sign"></i></button>
                </td>
            </tr>
        }
   
    </tbody>

</table>


