
@{
    ViewBag.Title = "我的审核";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Sheet> sheets = ViewBag.List;
    SheetVerifyParameter parameter = ViewBag.Parameter;
}

<div class="col-md-4 well" style="padding:0px;">
    <fieldset><legend>查询设置</legend></fieldset>
    <form method="get" id="Review-form">
        <input type="hidden" name="Time" value="@(parameter.Time)"/>
        <input type="hidden" name="SheetType" value="@(parameter.SheetType.HasValue?parameter.SheetType.Value.GetDescription():"")" />
        <div class="form-group">
            <label class="control-label">系统流水编号：</label>
            <div class="col-md-12">
                <div class="input-group" role="group">
                    <div class="input-group-btn" role="group">
                        <button type="button" class="btn btn-sm btn-@(string.IsNullOrEmpty(parameter.Coding)?"success":"default")" name="Coding">全部</button>
                    </div>
                   <input type="text" class="form-control input-sm" name="Coding" placeholder="系统流水编号关键字" value="@(parameter.Coding)" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">单据编号：</label>
            <div class="col-md-12">
                <div class="input-group" role="group">
                    <div class="input-group-btn" >
                        <button type="button" class="btn btn-sm btn-@(string.IsNullOrEmpty(parameter.CheckKey)?"success":"default")" name="CheckKey">全部</button>
                    </div>
                    <input type="text" class="form-control input-sm" name="CheckKey" placeholder="单据编号关键字" value="@(parameter.CheckKey)" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">时间：</label>
            <div class="col-md-12">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-sm btn-@(string.IsNullOrEmpty(parameter.Time)?"success":"default")" name="Time">全部</button>
                    <button type="button" class="btn btn-sm btn-@(parameter.Time=="一周内"?"success":"default")" name="Time" >一周内</button>
                    <button type="button" class="btn btn-sm btn-@(parameter.Time=="一个月内"?"success":"default")" name="Time">一个月内</button>
                    <button type="button" class="btn btn-sm btn-@(parameter.Time=="半年内"?"success":"default")" name="Time">半年内</button>
                    <button type="button" class="btn btn-sm btn-@(parameter.Time=="一年内"?"success":"default")" name="Time">一年内</button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">金额：</label>
            <div class="col-md-12">
                <div class="input-group">
                    <input type="text" class="form-control input-sm" name="MinMoney" placeholder="最小值" value="@(parameter.MinMoney)" />
                    <span class="input-group-addon input-sm">至</span>
                    <input type="text" name="MaxMoney" class="form-control input-sm" placeholder="最大值" value="@(parameter.MaxMoney)" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">报销人：</label>
            <div class="col-md-12">
                <div class="input-group" role="group">
                    <div class="input-group-btn" role="group">
                        <button type="button" class="btn btn-sm btn-@(string.IsNullOrEmpty(parameter.Creater)?"success":"default")" name="Creater">全部</button>
                    </div>
                    <input type="text" class="form-control input-sm" name="Creater" placeholder="报销人关键字" value="@(parameter.Creater)" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">报销类型</label>
            <div class="col-md-12">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-sm btn-@(!parameter.SheetType.HasValue?"success":"default")" name="SheetType">全部</button>
                    <button type="button" class="btn btn-sm btn-@(parameter.SheetType.HasValue&&parameter.SheetType.Value==SheetType.Daily?"success":"default")" name="SheetType">@(SheetType.Daily.GetDescription())</button>
                    <button type="button" class="btn btn-sm btn-@(parameter.SheetType.HasValue&&parameter.SheetType.Value==SheetType.Errand?"success":"default")" name="SheetType">@(SheetType.Errand.GetDescription())</button>
                </div>
            </div>
        </div>
        <div class="form-group" id="ReportContent">
            <label class="control-label">报销内容</label>
            <div class="col-md-12" id="Content">
              
               
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">排序：</label>
            <div class="col-md-12">
                <select name="Order" class="form-control input-sm">
                    @foreach (Order order in Enum.GetValues(typeof(Order)))
                    {
                        <option value="@(order)" @(parameter.Order==order?"selected=selected":"")>@(order.GetDescription())</option>
                    }
                </select>
            </div>
        </div>
       
        <hr />
        <div class="form-group">
            <div class="col-md-12">
                <div class="btn-group" role="group">
                    <button type="submit" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-search"></i> 立即查询</button>
                    <a href="/Report/DownloadExcel" class="btn btn-sm btn-primary" name="Download"><i class="glyphicon glyphicon-download-alt"></i>导出Excel</a>
                    <button type="button" class="btn btn-sm btn-default" onclick="history.back();"><i class="glyphicon glyphicon-arrow-left"></i>返回</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="col-md-8">
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>系统流水编号</th>
                <th>单据编号</th>
                <th>填报日期</th>
                <th>报销金额[元]</th>
                <th>备注</th>
                <th>报销人</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var sheet in sheets)
            {
                <tr>
                    <td><a href="/Report/Detail?id=@(sheet.ID)">@(sheet.PrintNumber)</a></td>
                    <td>@(sheet.CheckNumber)</td>
                    <td>@(sheet.Time.ToLongDateString())</td>
                    <td>@(sheet.Money)</td>
                    <td>@(sheet.Remarks)</td>
                    <td>@(sheet.Name)</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_pagination", ViewBag.Page as object)
</div>


<div class="hidden">
    <div id="Daily">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-sm btn-success" name="Content">全部</button>
            @foreach (Category categroy in Enum.GetValues(typeof(Category)))
            {
                <button type="button" class="btn btn-sm btn-default" name="Content">@(categroy.GetDescription())</button>
            }
            <input type="hidden" name="Content" />
        </div>
    </div>
    <div id="Errand">
        <div class="input-group" role="group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-sm btn-success" name="Content">全部</button>
            </div>
            <input type="text" name="Content" class="form-control input-sm" placeholder="地点/项目/事由关键字" />
        </div>
      

    </div>
</div>

<script>
    $(function () {
        $("a[name='Download']").click(function () {
            var values = $("#Review-form").serialize();
            $(this).attr("href", "/Report/DownloadExcel/?" + values);
            return true; 
        });

        var dailyHtml = $("#Daily").html();
        var errandHtml = $("#Errand").html();

        $("button[name='SheetType']").click(function () {
            var val = $(this).text();
            if (val == "全部") {
                $("#ReportContent").hide(50);
                return;
            } else if (val == "出差报销") {
                $("#Content").empty().append(errandHtml);
                $("#ReportContent").show(50);
            } else if (val == "日常报销") {
                $("#Content").empty().append(dailyHtml);
                $("#ReportContent").show(50);
            }
            $("#Content .btn-group>button").unbind("click").bind("click", function () {
                var val = $(this).text();
                if (val == "全部") {
                    val = "";
                }
                var targetName = $(this).attr("name");
                if (targetName != undefined) {
                    $(".btn-group>button[name='" + targetName + "']").removeClass("btn-success").addClass("btn-default");
                    $(this).removeClass("btn-default").addClass("btn-success");
                    $("input[name='" + targetName + "']").val(val);
                }
            });

            $("#Content .input-group-btn>button").unbind("click").bind("click", function () {
                var targetName = $(this).attr("name");
                $(this).removeClass("btn-default").addClass("btn-success");
                $("input[name='" + targetName + "']").val("");
            });

            $("#Content .input-group>input").unbind("focus").bind("focus", function () {
                $(this).prev().children().removeClass("btn-success").addClass("btn-default");
            }).unbind("blur").bind("blur", function () {
                var val = $(this).val();
                if (val == "") {
                    $(this).prev().children().removeClass("btn-default").addClass("btn-success");
                }
            });
        });
        
    });
</script>

