
@{
    ViewBag.Title = "我的审核";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Sheet> sheets = ViewBag.List;
    SheetVerifyParameter parameter = ViewBag.Parameter;
}

<div class="col-md-4 well" style="padding:0px;">
    <fieldset><legend>查询设置</legend></fieldset>
    <form method="get">
        <input type="hidden" name="Time" value="@(parameter.Time)"/>
        <div class="form-group">
            <label class="control-label">单据编号：</label>
            <div class="col-md-12">
                <div class="input-group" role="group">
                    <div class="input-group-btn" role="group">
                        <button type="button" class="btn btn-@(string.IsNullOrEmpty(parameter.Coding)?"success":"default")" name="Coding">全部</button>
                    </div>
                   <input type="text" class="form-control" name="Coding" placeholder="单据编号关键字" value="@(parameter.Coding)" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">时间：</label>
            <div class="col-md-12">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-@(string.IsNullOrEmpty(parameter.Time)?"success":"default")" name="Time">全部</button>
                    <button type="button" class="btn btn-@(parameter.Time=="一周内"?"success":"default")" name="Time" >一周内</button>
                    <button type="button" class="btn btn-@(parameter.Time=="一个月内"?"success":"default")" name="Time">一个月内</button>
                    <button type="button" class="btn btn-@(parameter.Time=="半年内"?"success":"default")" name="Time">半年内</button>
                    <button type="button" class="btn btn-@(parameter.Time=="一年内"?"success":"default")" name="Time">一年内</button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">金额：</label>
            <div class="col-md-12">
                <div class="input-group">
                    <input type="text" class="form-control" name="MinMoney" placeholder="最小值" />
                    <span class="input-group-addon">至</span>
                    <input type="text" name="MaxMoney" class="form-control" placeholder="最大值" value="@(parameter.MaxMoney)" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">报销人：</label>
            <div class="col-md-12">
                <div class="input-group" role="group">
                    <div class="input-group-btn" role="group">
                        <button type="button" class="btn btn-@(string.IsNullOrEmpty(parameter.Creater)?"success":"default")" name="Creater">全部</button>
                    </div>
                    <input type="text" class="form-control" name="Creater" placeholder="报销人关键字" value="@(parameter.Creater)" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">排序：</label>
            <div class="col-md-12">
                <select name="Order" class="form-control">
                    @foreach (Order order in Enum.GetValues(typeof(Order)))
                    {
                        <option value="@(order)" @(parameter.Order==order?"selected=selected":"")>@(order.GetDescription())</option>
                    }
                </select>
            </div>
        </div>
       
        <hr />
        <div class="form-group">
            <div class="col-md-12">
                <div class="btn-group" role="group">
                    <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-search"></i> 立即查询</button>
                    <button type="button" class="btn btn-default" onclick="history.back();"><i class="glyphicon glyphicon-arrow-left"></i>返回</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="col-md-8">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>单据编号</th>
                <th>报销日期</th>
                <th>报销金额（元）</th>
                <th>报销人</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var sheet in sheets)
            {
                <tr>
                    <td><a href="/Report/Detail?id=@(sheet.ID)">@(sheet.SerialNumber.Coding)</a></td>
                    <td>@(sheet.Time.ToShortDateString())</td>
                    <td>@(sheet.Money)</td>
                    <td>@(sheet.Name)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(function () {
        $(".btn-group>button").click(function () {
            var name = $(this).attr("name");
            var val = $(this).text();
            if (val == "全部") {
                val = "";
            }
            $(".btn-group>button[name='"+name+"']").removeClass("btn-success").addClass("btn-default");
            $(this).removeClass("btn-default").addClass("btn-success");
            $("input[name='" + name + "']").val(val);
        });

        $(".input-group-btn>button").click(function () {
            var name = $(this).attr("name");
            $(this).removeClass("btn-default").addClass("btn-success");
            $(".input-group>input[name='" + name + "']").val("");
        });

        $(".input-group>input").click(function () {
            var name = $(this).attr("name");
            $(".input-group-btn>button[name='" + name + "']").removeClass("btn-success").addClass("btn-default");
        });
        
    });
</script>

