@model Ztop.Todo.Model.Sheet
@{ 
    int serial = 1;
    List<ReportType> types = ViewBag.Types;
}
<h3 style="margin-top:10px;">
    日常详情
</h3>
<table class="table table-striped" id="SHEET">
    <thead>
        <tr>
            <th style="width:30%;" class="text-center">
                分类
            </th>
            <th>
                内容
            </th>
            <th style="width:20%;">
                金额(元)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Substances != null)
        {
            foreach (var subtance in Model.Substances)
            {
                serial++;
                <tr>
             
                    <td>
                        <div class="col-md-7 col-xs-7" style="padding:0px;">
                            <select name="Category" class="form-control input-sm" targetIndex="@(serial-1)">
                                <option value="">请选择</option>
                                @foreach (Category category in Enum.GetValues(typeof(Category)))
                                {
                                    <option value="@(category)" @(subtance.Category == category ? "selected=selected" : "")>@(category.GetDescription())</option>
                                }
                            </select>
                        </div>
                        @if (subtance.SecondCategory.HasValue)
                        {
                            <div class="col-md-5 col-xs-5" style="padding:0px;" id="@(serial-1)">
                                <select name="SecondCategory" class="form-control input-sm">
                                    @foreach (SecondCategory secondCategory in Enum.GetValues(typeof(SecondCategory)))
                                    {
                                        if (subtance.Category == Category.FixedAsssets)
                                        {
                                            if (((int)secondCategory) < 2)
                                            {
                                                <option value="@(secondCategory)" @(subtance.SecondCategory.Value==secondCategory?"selected=selected":"")>@(secondCategory.GetDescription())</option>
                                            }
                                        }
                                        else if (subtance.Category == Category.Equipment)
                                        {
                                            if (((int)secondCategory) > 1 && ((int)secondCategory) < 5)
                                            {
                                                <option value="@(secondCategory)" @(subtance.SecondCategory.Value == secondCategory ? "selected=selected" : "")>@(secondCategory.GetDescription())</option>
                                            }
                                        }
                                        else if (subtance.Category == Category.Traffic)
                                        {
                                            if (((int)secondCategory) > 4 && ((int)secondCategory) < 7)
                                            {
                                                <option value="@(secondCategory)" @(subtance.SecondCategory.Value == secondCategory ? "selected=selected" : "")>@(secondCategory.GetDescription())</option>
                                            }
                                        }
                                        else if (subtance.Category == Category.Express)
                                        {
                                            if (((int)secondCategory) > 6 && ((int)secondCategory) < 9)
                                            {
                                                <option value="@(secondCategory)" @(subtance.SecondCategory.Value == secondCategory ? "selected=selected" : "")>@(secondCategory.GetDescription())</option>
                                            }
                                        }
                                        else if (subtance.Category == Category.Print)
                                        {
                                            if (((int)secondCategory) > 8 && ((int)secondCategory) < 12)
                                            {
                                                <option value="@(secondCategory)" @(subtance.SecondCategory.Value == secondCategory ? "selected=selected" : "")>@(secondCategory.GetDescription())</option>
                                            }
                                        }
                                        else if (subtance.Category == Category.Welfare)
                                        {
                                            if (((int)secondCategory) > 11 && ((int)secondCategory) < 14)
                                            {
                                                <option value="@(secondCategory)" @(subtance.SecondCategory.Value == secondCategory ? "selected=selected" : "")>@(secondCategory.GetDescription())</option>
                                            }
                                        }
                                        else if (subtance.Category == Category.Bidding)
                                        {
                                            if (((int)secondCategory) > 13 && ((int)secondCategory) < 17)
                                            {
                                                <option value="@(secondCategory)" @(subtance.SecondCategory.Value == secondCategory ? "selected=selected" : "")>@(secondCategory.GetDescription())</option>
                                            }
                                        }
                                    }
                                    <option value="@(SecondCategory.Other)" @(subtance.SecondCategory.Value == SecondCategory.Other ? "selected=selected" : "")>@(SecondCategory.Other.GetDescription())</option>
                                </select>
                            </div>
                        }
                       
                       
                    </td>
                    <td><input type="text" name="Detail" style="width:100%" value="@(subtance.Details)" class="form-control input-sm" /></td>
                    <td><input type="text" name="Price" value="@(subtance.Price)" class="form-control input-sm" /></td>
                </tr>
            }
        }
        @for (var i = serial - 1; i < 10; i++)
        {
            <tr>
  
                <td> 
                    <div class="col-md-7 col-xs-7" style="padding:0px;">
                        <select class="form-control input-sm" name="RID">
                            <option value="">请选择</option>
                            @foreach(var type in types)
                            {
                                <option value="@(type.ID)">@(type.Name)</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-5 col-xs-5" style="padding:0px;">
                      
                    </div>
                </td>
                <td><input type="text" name="Detail" style="width:100%" class="form-control input-sm" /></td>
                <td><input type="text" name="Price" class="form-control input-sm" /></td>
            </tr>
        }
    </tbody>
</table>



<script>
    $(function () {
        $("select[name='RID']").change(function () {
            var val = $(this).val();
            var appendHtml = $("#" + val).html();
            var appendNode = $(this).parent().next("div");
            appendNode.empty();
            if (appendHtml != undefined) {
                appendNode.append(appendHtml);
            }
        });
    })
</script>


<script>

    var FixedAsssetshtml = $("#FixedAsssets").html();
    var Equirementhtml=$("#Equipment").html();
    var Traffichtml=$("#Traffic").html();
    var Expresshtml=$("#Express").html();
    var Printhtml=$("#Print").html();
    var Welfarehtml=$("#Welfare").html();
    var Biddinghtml=$("#Bidding").html();
    $(function () {
        function checkMoney() {
            var sum = parseInt($("input[name='Money']").val());
            if (isNaN(sum) || sum == 0) {
                return false;
            }
            var sum2 = 0;
            $("input[name='Price']").each(function () {
                var a = parseInt($(this).val());
                if (!isNaN(a)) {
                    sum2 += a;
                }
            });
            if (sum == sum2) {
                return true;
            } else {
                return false;
            }
        }

        $("[name='Category']").change(function () {
            var targetIndex = $(this).attr("targetIndex");
            var val = $(this).val();
            if (val != undefined && val != "请选择") {
                if (val == "FixedAsssets") {
                    $("#" + targetIndex).empty().append(FixedAsssetshtml);
                } else if (val == "Equipment") {
                    $("#" + targetIndex).empty().append(Equirementhtml);
                } else if (val == "Traffic") {
                    $("#" + targetIndex).empty().append(Traffichtml);
                } else if (val == "Express") {
                    $("#" + targetIndex).empty().append(Expresshtml);
                } else if (val == "Print") {
                    $("#" + targetIndex).empty().append(Printhtml);
                } else if (val == "Welfare") {
                    $("#" + targetIndex).empty().append(Welfarehtml);
                } else if (val == "Bidding") {
                    $("#" + targetIndex).empty().append(Biddinghtml);
                } else {
                    $("#" + targetIndex).empty();
                }
            }
        });
    })
</script>