
@{
    ViewBag.Title = "合同查询";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Contract> Result = ViewBag.Results;
    List<string> Departments = ViewBag.Department;
    ContractParameter parameter = ViewBag.Parameter;
}
<script>
    $(function () {
        $("form").submit(function () {
            ShowMessage("正在查询，请稍等......");
        });

    });
</script>

<div class="col-md-12 col-xs-12 well" style="padding:0px;">
    <fieldset><legend>查询设置</legend></fieldset>
    <form method="get">
        <input type="hidden" name="ZtopCompany" value="@(parameter.ZtopCompany.HasValue?parameter.ZtopCompany.Value.GetDescription():"")" />
        <input type="hidden" name="Archived" value="@(parameter.Archived.HasValue?parameter.Archived.Value.ToString():"")" />
        <input type="hidden" name="Status" value="@(parameter.Status.HasValue?parameter.Status.Value.GetDescription():"")"/>
        <input type="hidden" name="Recevied" value="@(parameter.Recevied.HasValue?parameter.Recevied.Value.GetDescription():"")" />
        <input type="hidden" name="Department" value="@(parameter.Department)"/>
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="alert alert-warning" role="alert" name="Message" style="display:none;">
                    <i class="icon-spinner icon-spin"></i>
                    <span></span>
                </div>
            </div>
            <div class="col-md-6 col-xs-6 col-sm-6">
                <div class="form-group">
                    <label class="control-label">合同名称：</label>
                    <div class="col-md-12">
                        <div class="input-group">
                            <div class="input-group-btn" role="group">
                                <button type="button" class="btn btn-sm btn-@(string.IsNullOrEmpty(parameter.Name)?"success":"default")" name="Name">全部</button>
                            </div>
                            <input type="text" class="form-control input-sm" placeholder="合同名称关键字" name="Name" value="@(parameter.Name)" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">发票开具情况：</label>
                    <div class="col-md-12">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-sm btn-@(parameter.Status.HasValue?"default":"success")" name="Status">全部</button>
                            @foreach(ContractState state in Enum.GetValues(typeof(ContractState)))
                            {
                                <button type="button" class="btn btn-sm btn-@(parameter.Status.HasValue&&parameter.Status.Value==state?"success":"default")" name="Status">@(state.GetDescription())</button>
                            }
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">合同起始时间：</label>
                    <div class="col-md-12">
                        <div class="input-group">
                            <input type="text" name="StartTime" class="form-control datetimepicker input-sm" placeholder="起始时间" value="@(parameter.StartTime.HasValue?parameter.StartTime.Value.ToString("yyyy-MM-dd"):"")" />
                            <span class="input-group-addon input-sm">至</span>
                            <input type="text" name="EndTime" class="form-control datetimepicker input-sm" placeholder="结束时间" value="@(parameter.EndTime.HasValue?parameter.EndTime.Value.ToString("yyyy-MM-dd"):"")" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-6 col-sm-6">
                <div class="form-group">
                    <label class="control-label">对方单位：</label>
                    <div class="col-md-12">
                        <div class="input-group">
                            <div class="input-group-btn" role="group">
                                <button type="button" class="btn btn-sm btn-@(string.IsNullOrEmpty(parameter.OtherSide)?"success":"default")" name="OtherSide">全部</button>
                            </div>
                            <input type="text" class="form-control input-sm" placeholder="对方单位关键字" name="OtherSide" value="@(parameter.OtherSide)" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">到账情况：</label>
                    <div class="col-md-12">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-sm btn-@(parameter.Recevied.HasValue?"default":"success")" name="Recevied">全部</button>
                            @foreach(Recevied recevied in Enum.GetValues(typeof(Recevied)))
                            {
                                <button type="button" class="btn btn-sm btn-@(parameter.Recevied.HasValue&&parameter.Recevied.Value==recevied?"success":"default")" name="Recevied">@(recevied.GetDescription())</button>
                            }
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">合同金额：</label>
                    <div class="col-md-12">
                        <div class="input-group">
                            <input type="text" name="MinMoney" class="form-control input-sm" placeholder="最小值" value="@(parameter.MinMoney.HasValue?parameter.MinMoney.Value.ToJson():"")" />
                            <span class="input-group-addon input-sm">至</span>
                            <input type="text" name="MaxMoney" class="form-control input-sm" placeholder="最大值" value="@(parameter.MaxMoney.HasValue?parameter.MaxMoney.Value.ToString():"")" />
                        </div>
                    </div>
                </div>
            </div>
        </div>       
        <div class="form-group">
            <label class="control-label">合同所在部门：</label>
            <div class="col-md-12">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-sm btn-@(string.IsNullOrEmpty(parameter.Department)?"success":"default")" name="Department">全部</button>
                    @foreach(var department in Departments)
                    {
                        <button type="button" class="btn btn-sm btn-@(parameter.Department==department?"success":"default")" name="Department">@(department)</button>
                    }
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">合同状态：</label>
            <div class="col-md-12">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-sm btn-@(parameter.Archived.HasValue?"default":"success")" name="Archived">全部</button>
                    <button type="button" class="btn btn-sm btn-@(parameter.Archived.HasValue&&!parameter.Archived.Value?"success":"default")" name="Archived">未归档</button>
                    <button type="button" class="btn btn-sm btn-@(parameter.Archived.HasValue&&parameter.Archived.Value?"success":"default")" name="Archived">归档</button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">签署单位：</label>
            <div class="col-md-12">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-sm btn-@(parameter.ZtopCompany.HasValue?"default":"success")" name="ZtopCompany">全部</button>
                    @foreach (ZtopCompany company in Enum.GetValues(typeof(ZtopCompany)))
                    {
                        <button type="button" class="btn btn-sm btn-@(parameter.ZtopCompany.HasValue&&parameter.ZtopCompany.Value==company?"success":"default")" name="ZtopCompany">@(company.GetDescription())</button>
                    }
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-12">
                <div class="btn-group" role="group">
                    <button type="submit" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-search"></i> 立即查询</button>
                    <button type="button" class="btn btn-sm btn-default" onclick="history.back();"><i class="glyphicon glyphicon-arrow-left"></i>返回</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="col-md-12 col-xs-12">
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>合同编号</th>
                <th>合同名称</th>
                <th>对方单位</th>
                <th>签署单位</th>
                <th>起始时间</th>
                <th>结束时间</th>
                <th>合同金额[元]</th>
                <th>填报部门</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var contract in Result)
            {
                <tr>
                    <td><a href="/Finance/Detail?id=@(contract.ID)">@(contract.Coding)</a> </td>
                    <td>@(contract.Name)</td>
                    <td>@(contract.Company)</td>
                    <td>@(contract.ZtopCompany.GetDescription())</td>
                    <td>@(contract.StartTime.ToShortDateString())</td>
                    <td>@(contract.EndTime.HasValue?contract.EndTime.Value.ToShortDateString():"-")</td>
                    <td>@(contract.Money)</td>
                    <td>@(contract.Department)</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_pagination", ViewBag.Page as object)
</div>



