
@{
    ViewBag.Title = "录入项目";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Article article = ViewBag.Article;

}

<form class="form-horizontal" action="/Finance/SaveArticle" method="post" id="Article-form">
    <h3 class="text-center">录入项目洽谈</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert" id="Article-Error">
                <span>警告框</span>
            </div>
            <div class="alert alert-success" role="alert" id="Article-Info">
                <span>成功框</span>
            </div>
        </div>
       
        <div class="col-md-6 col-xs-6 col-sm-6">
            <input type="hidden" name="ID" value="@(article!=null?article.ID.ToString():"")" />
            <div class="form-group">
                <label class="control-label col-md-4">项目名称：</label>
                <div class="col-md-8">
                    <input type="text" name="Name" class="form-control" placeholder="项目名称" required  value="@(article!=null?article.Name:"")" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">登记编号：</label>
                <div class="col-md-8">
                    <input type="text" name="Number" class="form-control" placeholder="登记编号" value="@(article!=null?article.Number:"")" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">项目经费所属年份：</label>
                <div class="col-md-8">
                    <input type="text" name="Year" class="form-control" placeholder="所属年份" value="@(article!=null?article.Year:"")" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">支出单位：</label>
                <div class="col-md-8">
                    <input type="text" name="PayCompany" class="form-control" placeholder="支出单位" value="@(article!=null?article.PayCompany:"")" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">意向金额：</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <input type="text" name="Money" placeholder="意向金额" class="form-control" value="@(article!=null?article.Money.ToString():"")" />
                        <span class="input-group-addon">元</span>
                    </div>
                </div>
            </div>
            @*<div class="form-group">
                <label class="control-label col-md-4">关联合同：</label>
                <div class="col-md-8">
                    <div class="ContractID">
                        @if (article != null && article.Contracts != null)
                        {
                            foreach (var contract in article.Contracts)
                            {
                                <input type="hidden" name="ContractID" value="@(contract.ID)" />
                            }

                        }
                    </div>
                    <div class="input-group" role="group">
                        <input type="text" name="ContractName" class="form-control" placeholder="" readonly="readonly" value="@(article!=null&&article.Contracts!=null?string.Join(";",article.Contracts.Select(e=>e.Name).ToArray()):"")" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Contract"><i class="glyphicon glyphicon-send"></i></button>
                        </span>
                    </div>
                </div>
            </div>*@
        </div>
        <div class="col-md-6 col-xs-6 col-sm-6">
            <div class="form-group">
                <label class="control-label col-md-4">对方单位：</label>
                <div class="col-md-8">
                    <input type="text" name="OtherSide" class="form-control" placeholder="对方单位" value="@(article!=null?article.OtherSide:"")" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">所属城市：</label>
                <div class="col-md-8">
                    <div class="input-group" role="group">
                        <input type="text" name="City" class="form-control"  placeholder="所属城市" value="@(article!=null&&article.CEntry!=null?article.CEntry.Name:"")" readonly required/>
                        <input type="hidden" name="CID" value="@(article!=null?article.CID.ToString():"")"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#City"><i class="glyphicon glyphicon-flag"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">乡镇（主体）：</label>
                <div class="col-md-8">
                    <input type="text" name="Town" class="form-control" placeholder="乡镇（主题）" value="@(article!=null?article.Town:"")" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">需支出部分金额【元】：</label>
                <div class="col-md-8">
                    <input type="text" name="PayMoney" class="form-control" placeholder="支出部分金额" value="@(article!=null&&article.PayMoney.HasValue?article.PayMoney.Value.ToString():"")" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">项目类型：</label>
                <div class="col-md-8">
                    <div class="input-group" role="group">
                        <input type="text" name="ProjectType" class="form-control" value="@(article!=null&&article.PEntry!=null?article.PEntry.FullName:"")" placeholder="项目类型" readonly required/>
                        <input type="hidden" name="PID" value="@(article!=null?article.PID.ToString():"")"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Project"><i class="glyphicon glyphicon-send"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">备注：</label>
                <div class="col-md-8">
                    <textarea name="Remark" class="form-control" rows="4">@(article!=null?article.Remark:"")</textarea>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xs-12 col-sm-12">
            <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>录入项目</button>
                        <button type="button" class="btn btn-default" onclick="history.back();"><i class="glyphicon glyphicon-arrow-left"></i>返回</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</form>


<div class="fade modal" id="Contract" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">关联合同</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 col-xs-3 col-sm-3" style="padding:5px;">
                        <div class="col-md-12 well" style="padding:0px;">
                            <fieldset><legend>合同查询设置</legend></fieldset>
                            <div class="alert alert-danger" role="alert" id="Contract-Error">
                                <span></span>
                            </div>
                            <form method="get" id="Contract-Search">
                                <input type="hidden" name="ZtopCompany" />
                                <div class="form-group">
                                    <label class="control-label">合同名称：</label>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-sm btn-success" name="Name">全部</button>
                                            </div>
                                            <input type="text" name="Name" class="form-control input-sm" placeholder="合同名称" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">对方单位：</label>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-sm btn-success" name="OtherSide">全部</button>
                                            </div>
                                            <input type="text" name="OtherSide" class="form-control input-sm" placeholder="对方单位" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">合同起始时间：</label>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <input type="text" name="StartTime" class="form-control datetimepicker input-sm" placeholder="起始时间" />
                                            <span class="input-group-addon input-sm">至</span>
                                            <input type="text" name="EndTime" class="form-control datetimepicker input-sm" placeholder="结束时间" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">合同金额：</label>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <input type="text" name="MinMoney" class="form-control input-sm" placeholder="最小值" />
                                            <span class="input-group-addon input-sm">至</span>
                                            <input type="text" name="MaxMoney" class="form-control input-sm" placeholder="最大值" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">签署单位：</label>
                                    <div class="col-md-12">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-success" name="ZtopCompany">全部</button>
                                            @foreach (ZtopCompany company in Enum.GetValues(typeof(ZtopCompany)))
                                            {
                                                <button type="button" class="btn btn-sm btn-default" name="ZtopCompany">@(company.GetDescription())</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-search"></i>立即查询</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <h4>关联合同</h4>
                        <table class="table">
                            <tbody id="Select-Contract">
                             @if (article != null && article.Contracts != null)
                             {
                                 foreach(var contract in article.Contracts)
                                 {
                                     <tr>
                                         <td>
                                             <div class="input-group">
                                                 <input type="text" name="CName" class="form-control input-sm" value="@(contract.Name)" readonly="readonly" />
                                                 <input type="hidden" name="CID" value="@(contract.ID)" />
                                                 <span class="input-group-btn">
                                                     <button type='button' class='btn btn-sm btn-danger'><i class='glyphicon glyphicon-remove-circle'></i></button>
                                                 </span>
                                             </div>
                                         </td>
                                     </tr>
                                 }
                             }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-9 col-xs-9 col-sm-9">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>合同名称</th>
                                    <th>对方单位</th>
                                    <th>关联</th>
                                </tr>
                            </thead>
                            <tbody id="Contract-Result">
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i>取消</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" name="CPlus"><i class="glyphicon glyphicon-ok-sign"></i>确定</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fade modal" id="City" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">选择城市</h4>
            </div>
            <div class="modal-body">
             @{ Html.RenderAction("ChooseCity", "Manager");}
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i>取消</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" name="OK"><i class="glyphicon glyphicon-ok-sign"></i>确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fade modal" id="Project" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">选择项目类型</h4>
            </div>
            <div class="modal-body">
                @{ Html.RenderAction("ChooseProjectType", "Manager");}
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i>取消</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" name="OK"><i class="glyphicon glyphicon-ok-sign"></i>确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#Article-Error").hide();
    $("#Article-Info").hide();
    $("#Contract-Error").hide();
    $(function () {
        $("#Article-form").submit(function () {
            $("#Article-Error").hide();
            $("#Article-Info").hide();
            var data = $(this).serialize();
            $.request("/Finance/SaveArticle", data, function (json) {
                if (json.result == 0) {
                    $("#Article-Error>span").html(json.content);
                    $("#Article-Error").show(500);
                    return false;
                } else {
                    $("#Article-Info>span").html(json.content);
                    $("#Article-Info").show(500);
                    location.href = "/Finance/DetailArticle?id="+json.data;
                }
            });
            return false;
        });
        $("#Contract-Search").submit(function () {
            $("#Contract-Error").hide();
            $("#Contract-Result").html("");
            var values = $(this).serialize();
            $.getJSON("/Finance/GetJsonContract", values, function (data) {
                if (data.length == 0) {
                    $("#Contract-Error>span").html("未查询到相关合同信息");
                    $("#Contract-Error").show(500);
                    return false;
                }
                $.each(data, function (index, value) {
                    $("#Contract-Result").append("<tr><td name='Name"+value.ID+"'>" + value.Name + "</td><td>" + value.Company + "</td><td><button type='button' class='btn btn-sm btn-success' targetID='"+value.ID+"'><i class='glyphicon glyphicon-plus'></i>关联</button></td></tr>");
                });

                $("#Contract-Result button").unbind("click").bind("click", function () {
                    var ID = $(this).attr("targetID");
                    var name = $("td[name='Name" + ID + "']").text();
                    $("#Select-Contract").append("<tr><td><div class='input-group'><input type='text' name='CName' class='form-control input-sm' value='"+name+"' readonly='readonly' /><input type='hidden' name='CID' value='"+ID+"' /><span class='input-group-btn'><button type='button' class='btn btn-sm btn-danger'><i class='glyphicon glyphicon-remove-circle'></i></button></span></div></td></tr>")
                    $("#Select-Contract button.btn-danger").unbind("click").bind("click", function () {
                        $(this).parent().parent().parent().parent().remove();
                    });
                });
                return false;
            });
            return false;
        });

        $("button.btn-primary[name='CPlus']").click(function () {
            var selectID = [];
            var selectName = [];
            
            $("#Select-Contract input[name='CName']").each(function () {
                var name = $(this).val();
                if (name!=undefined&&name!=NaN) {
                    selectName.push(name);
                }
            });
            
            $("div.ContractID").empty();
            $("#Select-Contract input[name='CID']").each(function () {
                var id = $(this).val();
                if (!isNaN(id)) {
                    selectID.push(id);
                    $("div.ContractID").append("<input type='hidden' name='ContractID' value='" + id + "' />");
                }
            });
            $("input[name='ContractName']").val(selectName.join(';'));

        });
      
    });
</script>
