
@{
    ViewBag.Title = "申请开具发票";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Contract> Contracts = ViewBag.Contract;
    Dictionary<ZtopCompany, List<Contract>> dict = Contracts.GroupBy(e => e.ZtopCompany).ToDictionary(e => e.Key, e => e.ToList());
}

<h2 class="text-center">申请开具发票</h2>
<form class="form-horizontal" method="post" action="/Finance/SaveInvoice" id="Create">
    <div class="row">
        <div class="col-md-4">
            <h3 class="text-center">发票基本信息</h3>
            <input type="hidden" name="Applicant" value="@(Identity.Name)" />
            <div class="form-group">
                <label class="control-label col-md-3">开票单位：</label>
                <div class="col-md-8">
                    <select name="ZtopCompany" class="form-control">
                        @foreach (ZtopCompany company in Enum.GetValues(typeof(ZtopCompany)))
                        {
                            <option value="@(company)">@(company.GetDescription())</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">对方单位：</label>
                <div class="col-md-8">
                    <input type="text" name="OtherSideCompany" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">发票金额：</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <input type="text" name="Money" class="form-control" required="required" />
                        <span class="input-group-addon">元</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">发票内容：</label>
                <div class="col-md-8">
                    <input type="text" name="Content" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8 col-md-offset-3">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>申请</button>
                    <button type="button" class="btn btn-default" onclick="history.back();"><i class="glyphicon glyphicon-arrow-left"></i>返回</button>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h3 class="text-center">合同</h3>
            @foreach (var entry in dict)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">@(entry.Key.GetDescription())</div>
                    <div class="panel-body">
                        <table class="table" style="margin-bottom:0px;">
                            <thead>
                                <tr>
                                    <th>合同编号</th>
                                    <th>合同名称</th>
                                    <th>对方单位</th>
                                    <th>填写人</th>
                                    <th>签署单位</th>
                                </tr>
                            </thead>
                            @foreach (var contract in entry.Value)
                            {
                                <tr>
                                    <td style="padding:0px;">
                                        <label class="radio-inline">
                                            <input type="radio" name="CID" value="@(contract.ID)" />@(contract.Coding)
                                        </label>
                                    </td>
                                    <td>@(contract.Name)</td>
                                    <td>@(contract.Company)</td>
                                    <td>@(contract.Creator)</td>
                                    <td>@(contract.ZtopCompany.GetDescription())</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            }
        </div>
    </div>
  

   
</form>

<script>
    $(function () {
        $("#Create").submit(function () {
            var data = $(this).serialize();
            $.request("/Finance/SaveInvoice", data, function (json) {
                alert(json.content);
                if (json.result == 1) {
                    location.href = "/Finance/DetailInvoice?id=" + json.data.ID;
                }
                return false;
            });
            return false;
        });
    });
</script>

