
@{
    ViewBag.Title = "发票";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Invoice invoice = ViewBag.Invoice;
}

<h3>发票详情&nbsp;</h3>

<div class="alert alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>系统发票编号</th>
                <td>@(invoice.Coding)</td>
                <th>申请开票时间</th>
                 <td>@(invoice.Time.ToLongDateString())</td>
            </tr>
            <tr>
                <th>开票申请人</th>
                <td>@(invoice.Applicant)</td>
                <th>开票单位</th>
                <td>@(invoice.ZtopCompany.GetDescription())</td>
            </tr>
            <tr>
                <th>对方单位</th>
                <td>@(invoice.OtherSideCompany)</td>
                <th>发票金额（元）</th>
                <td>@(invoice.Money)</td>
            </tr>
            <tr>
                <th>发票状态</th>
                <td>@(invoice.State.GetDescription())</td>
                <th>发票开出时间</th>
                <td>@(invoice.FillTime.HasValue?invoice.FillTime.Value.ToLongDateString():"-")</td>
            </tr>
            <tr>
                <th>发票编号</th>
                <td>@(invoice.Number)</td>
                <th>备注</th>
                <td>@(invoice.Remark)</td>
            </tr>
        </tbody>
    </table>
</div>

<h3>合同详情&nbsp;</h3>
<div class="alert alert-warning" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>合同编号</th>
                <td>@(invoice.Contract.Coding)</td>
                <th>合同名称</th>
                <td><a href="/Finance/Detail?id=@(invoice.Contract.ID)">@(invoice.Contract.Name)</a></td>
            </tr>
            <tr>
                <th>对方单位</th>
                <td>@(invoice.Contract.Company)</td>
                <th>签署单位</th>
                <td>@(invoice.Contract.ZtopCompany.GetDescription())</td>
            </tr>
            <tr>
                <th>创建人</th>
                <td>@(invoice.Contract.Creator)</td>
                <th></th>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<h3>到账记录</h3>
<div class="alert alert-info" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>到账时间</th>
                <th>到账总金额（元）</th>
                <th>对方单位</th>
                <th>银行备注</th>
                <th>到账金额（元）</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in invoice.InvoiceBills)
            {
                if (item.Bill != null)
                {
                    <tr>
                        <td>@(item.Bill.Time.ToLongDateString())</td>
                        <td>@(item.Bill.Money)</td>
                        <td>@(item.Bill.Account)</td>
                        <td>@(item.Bill.Remark)</td>
                        <td>@(item.Price)</td>
                    </tr>
                }

            }
        </tbody>
    </table>
</div>
<button type="button" class="btn btn-default" onclick="history.back();"><i class="glyphicon glyphicon-arrow-left"></i>返回</button>

