
@{
    ViewBag.Title = "发票";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Invoice invoice = ViewBag.Invoice;
}

<hr />
<div class="btn-group" role="group">
    <button type="button" class="btn btn-default" onclick="history.back();"><i class="glyphicon glyphicon-arrow-left"></i>返回</button>
</div>
<hr />

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#Invoice" aria-controls="Invoice" role="tab" data-toggle="tab">发票详情</a></li>
    <li role="presentation"><a href="#Contract" aria-controls="Contract" role="tab" data-toggle="tab">合同详情</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade in active" role="tabpanel" id="Invoice">
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <th>开票编号</th>
                    <td>@(invoice.Coding)</td>
                    <th>申请开票时间</th>
                    <td>@(invoice.Time.ToLongDateString())</td>
                </tr>
                <tr>
                    <th>开票申请人</th>
                    <td>@(invoice.Applicant)</td>
                    <th>开票单位</th>
                    <td>@(invoice.ZtopCompany.GetDescription())</td>
                </tr>
                <tr>
                    <th>对方单位</th>
                    <td>@(invoice.OtherSideCompany)</td>
                    <th>发票金额（元）</th>
                    <td>@(invoice.Money)</td>
                </tr>
                <tr>
                    <th>发票状态</th>
                    <td>@(invoice.State.GetDescription())</td>
                    <th>发票开出时间</th>
                    <td>@(invoice.FillTime.HasValue ? invoice.FillTime.Value.ToLongDateString() : "-")</td>
                </tr>
                <tr>
                    <th>发票编号</th>
                    <td>@(invoice.Number)</td>
                    <th>备注</th>
                    <td>@(invoice.Remark)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" role="tabpanel" id="Contract">
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <th>合同编号</th>
                    <td>@(invoice.Contract.Coding)</td>
                    <th>填报人</th>
                    <td>@(invoice.Contract.Creator)</td>
                   
                </tr>
                <tr>
                    <th>合同名称</th>
                    <td colspan="3"><a href="/Finance/Detail?id=@(invoice.Contract.ID)">@(invoice.Contract.Name)</a></td>
                </tr>
                <tr>
                    <th>对方单位</th>
                    <td>@(invoice.Contract.Company)</td>
                    <th>合同所属组织</th>
                    <td>@(invoice.Contract.ZtopCompany.GetDescription())</td>
                </tr>
                <tr>
                    <th>合同起始时间</th>
                    <td>@(invoice.Contract.StartTime.ToLongDateString())</td>
                    <th>合同结束时间</th>
                    <td>@(invoice.Contract.EndTime.HasValue?invoice.Contract.EndTime.Value.ToLongDateString():"/")</td>
                </tr>
                <tr>
                    <th>合同金额（元）</th>
                    <td>@(invoice.Contract.Money)</td>
                    <th>履约保证金（元）</th>
                    <td>@(invoice.Contract.PerformanceBond)</td>
                </tr>
                <tr>
                    <th>发票开具情况</th>
                    <td><span class="label label-@(invoice.Contract.Status==ContractState.None?"default":invoice.Contract.Status==ContractState.ALL?"success":"info")">@(invoice.Contract.Status.GetDescription())</span></td>
                    <th>到账情况</th>
                    <td>
                        <span class="label label-@(invoice.Contract.Recevied==Recevied.None?"default":invoice.Contract.Recevied==Recevied.Part?"info":"success")">@(invoice.Contract.Recevied.GetDescription())</span>
                    </td>
                </tr>
                <tr>
                    <th>付款方式</th>
                    @if (!string.IsNullOrEmpty(invoice.Contract.PayWay))
                    {
                        <td colspan="3">
                            @foreach(var item in invoice.Contract.PayWay.Replace("\r\n", ";").Split(';'))
                            {
                                <span>@(item)</span><br />
                            }
                        </td>
                    }
                </tr>
                <tr>
                    <th>相关文件</th>
                    <td colspan="3">
                        <table class="table">
                            @foreach(var file in invoice.Contract.ContractFiles)
                            {
                                <tr>
                                    <td class="col-md-6"><a href="/@(file.SavePath)">@(file.FileName)</a></td>
                                    <td>@(file.FileSize/1024) kb</td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



