
@{
    ViewBag.Title = "项目查看";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Article article = ViewBag.Article;
}

<hr />

<div class="btn-group" role="group">
    <a href="/Finance/CreateArticle?id=@(article.ID)" class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i>编辑项目</a>
    <a href="/Finance/CreateContract?OtherSide=@(article.OtherSide)" class="btn btn-success"><i class="glyphicon glyphicon-export"></i>创建合同</a>
    <button class="btn btn-danger btn-remove" TargetIndex="@(article.ID)"><i class="glyphicon glyphicon-remove"></i>删除项目</button>
    <button type="button" class="btn btn-default" onclick="history.back()"><i class="glyphicon glyphicon-arrow-left"></i>返回</button>
</div>
<hr />


<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#Article" aria-controls="Article" role="tab" data-toggle="tab">项目信息</a></li>
    <li role="presentation"><a href="#Contract" aria-controls="Contract" role="tab" data-toggle="tab">合同信息</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade in active" id="Article" role="tabpanel">
        
        <table class="table table-bordered table-striped">
            <tr>
                <th>项目名称</th>
                <td>@(article.Name)</td>
                <th>对方单位</th>
                <td>@(article.OtherSide)</td>
            </tr>
            <tr>
                <th>登记编号</th>
                <td>@(article.Number)</td>
                <th>所属城市</th>
                <td>@(article.City)</td>
            </tr>
            <tr>
                <th>意向金额（元）</th>
                <td>@(article.Money)</td>
                <th>项目类型</th>
                <td>@(article.ProjectType)</td>
 
            </tr>
            <tr>
                <th>备注</th>
                <td colspan="3">@(article.Remark)</td>
            </tr>
        </table>
    </div>
    <div class="tab-pane fade" id="Contract" role="tabpanel">
        @if (article != null && article.Contracts != null)
        {
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr class="info">
                        <th>合同名称</th>
                        <th>对方单位</th>
                        <th>签署单位</th>
                        <th>合同起始时间</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var contract in article.Contracts)
                    {
                        <tr>
                            <td><a href="/Finance/Detail?id=@(contract.ID)">@(contract.Name)</a></td>
                            <td>@(contract.Company)</td>
                            <td>@(contract.ZtopCompany.GetDescription())</td>
                            <td>@(contract.StartTime.ToLongDateString())</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                <span>当前项目未关联合同</span>
            </div>
        }
      
    </div>
</div>

<script>
    $(function () {
        $("button.btn-remove").click(function () {
            if (confirm("您确定要删除项目？")) {
                var index = $(this).attr("TargetIndex");
                $.request("/Finance/DeletedArticle?id=" + index, null, function (json) {
                    alert(json.content);
                    if (json.result == 1) {
                        location.href = "/Finance/Index";
                    }
                    return false;
                });
            } else {
                return false;
            }
        });
    });
</script>