
@{
    ViewBag.Title = "查看项目合同";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Contract contract = ViewBag.Contract;
}

<hr />

<div class="btn-group" role="group">
    @if (!contract.Deleted)
    {
        if (!contract.Archived)
        {
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Apply"><i class="glyphicon glyphicon-pencil"></i> 申请开具发票</button>
            <a href="/Finance/CreateContract?id=@(contract.ID)" class="btn btn-info"> <i class="glyphicon glyphicon-edit"></i>编辑合同</a>
            <button type="button" class="btn btn-primary btn-archive" tabindex="@(contract.ID)"><i class="glyphicon glyphicon-lock"></i>归档合同</button>
            <button type="button" class="btn btn-danger" tabindex="@(contract.ID)"><i class="glyphicon glyphicon-remove"></i>删除合同</button>
        }
        else
        {
            <h3>@(contract.Name)<span class="label label-info">已归档</span></h3>
        }
       
    }
    else
    {
        <h3>@(contract.Name)<span class="label label-danger">已删除</span></h3>
    }
    <button type="button" class="btn btn-default" onclick="history.back();"><i class="glyphicon glyphicon-arrow-left"></i>返回</button>

</div>

<div class="modal fade" id="Apply" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">申请开具发票</h4>
            </div>
            <form class="form-horizontal" method="post" action="/Finance/SaveInvoice" id="from-invoice">
                <div class="modal-body">
                    <input type="hidden" name="CID" value="@(contract.ID)" />
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">开票申请时间:</label>
                                <div class="col-md-8">
                                    <input type="text" name="Time" class="form-control" readonly="readonly" value="@(DateTime.Now.ToShortDateString())" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">开票单位：</label>
                                <div class="col-md-8">
                                    <select name="ZtopCompany" class="form-control">
                                        <option value="@(ZtopCompany.Evaluation)">@(ZtopCompany.Evaluation.GetDescription())</option>
                                        <option value="@(ZtopCompany.Projection)">@(ZtopCompany.Projection.GetDescription())</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">发票金额：</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input type="text" name="Money" placeholder="金额" class="form-control" />
                                        <span class="input-group-addon">元</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">开票申请人：</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" name="Applicant" value="@(Identity.Name)" readonly="readonly" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">对方单位：</label>
                                <div class="col-md-8">
                                    <input type="text" name="OtherSideCompany" class="form-control" placeholder="对方单位" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">发票内容：</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" name="Content" placeholder="发票内容" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-3">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> 取消</button>
                            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> 申请</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="Edit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">编辑</h4>
            </div>
            <form class="form-horizontal" method="post" action="/Finance/Edit" id="Edit-Contract">
                <div class="modal-body">
                   
                   
                   
                  
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-3">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> 取消</button>
                            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-remove"></i> 编辑</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<hr />

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#contract" aria-controls="contract" role="tab" data-toggle="tab">项目合同</a></li>
    <li role="presentation"><a href="#applyinvoice" aria-controls="applyinvoice" role="tab" data-toggle="tab">发票申请记录</a></li>
    <li role="presentation"><a href="#invoice" aria-controls="invoice" role="tab" data-toggle="tab">发票开出记录</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade in active" id="contract" role="tabpanel">
        <table class="table table-bordered">
            <tr>
                <th>合同编号</th>
                <td>@(contract.Coding)</td>
                <th>填报人</th>
                <td>@(contract.Creator)</td>

            </tr>
            <tr>
                <th>合同名称</th>
                <td colspan="3">@(contract.Name)</td>
            </tr>
            <tr>
                <th>对方单位</th>
                <td>@(contract.Company)</td>
                <th>合同所属组织</th>
                <td>@(contract.ZtopCompany.GetDescription())</td>
            </tr>
            <tr>
                <th>合同起始时间</th>
                <td>@(contract.StartTime.ToLongDateString())</td>
                <th>合同结束时间</th>
                <td>@(contract.EndTime.HasValue ? contract.EndTime.Value.ToShortDateString() : "/")</td>
            </tr>
            <tr>
                <th>合同金额（元）</th>
                <td>@(contract.Money)</td>
                <th>履约保证金（元）</th>
                <td>@(contract.PerformanceBond)</td>
            </tr>
            <tr>
                <th>付款方式</th>
                @if (!string.IsNullOrEmpty(contract.PayWay))
            {
                    <td colspan="3">
                        @foreach (var item in contract.PayWay.Replace("\r\n", ";").Split(';'))
                {
                            <span>@(item)</span><br />
                        }
                    </td>
                }
            </tr>
            <tr>
                <th>相关文件</th>
                <td colspan="3">
                    <table class="table table-bordered">
                        @foreach (var file in contract.ContractFiles)
                        {
                            <tr>
                                <td class="col-md-8"><a href="/@(file.SavePath)">@(file.FileName)</a> </td>
                                <td>@(file.FileSize / 1024) kb</td>
                            </tr>
                        }
                    </table>

                </td>
            </tr>
        </table>
    </div>
    <div class="tab-pane fade" id="applyinvoice" role="tabpanel">
        @if (contract.Invoices != null)
        {
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>开票编号</th>
                        <th>申请时间</th>
                        <th>申请人</th>
                        <th>开票单位</th>
                        <th>对方单位</th>
                        <th>发票金额（元）</th>
                        <th>发票内容</th>
                        <th>申请状态</th>
                        <th>备注</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var invoice in contract.Invoices)
                    {
                        <tr>
                            <td>@(invoice.Coding)</td>
                            <td>@(invoice.Time.ToShortDateString())</td>
                            <td>@(invoice.Applicant)</td>
                            <td>@(invoice.ZtopCompany.GetDescription())</td>
                            <td>@(invoice.OtherSideCompany)</td>
                            <td>@(invoice.Money)</td>
                            <td>@(invoice.Content)</td>
                            <td>@(invoice.State.GetDescription())</td>
                            <td>
                                <div class="btn-group" role="group">
                                    @if (invoice.State == InvoiceState.None)
                                    {
                                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#Edit@(invoice.ID)"><i class="glyphicon glyphicon-edit"></i>编辑</button>
                                        <div class="modal fade" id="Edit@(invoice.ID)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title">发票申请编辑</h4>
                                                    </div>
                                                    <form class="form-horizontal" action="/Finance/EditInvoice" method="post" name="Edit">
                                                        <div class="modal-body">
                                                            <input type="hidden" name="ID" value="@(invoice.ID)" />
                                                            <div class="row">
                                                                <div class="col-md-6 col-xs-6 col-sm-6" style="padding-left:0px;">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-4 col-xs-4 col-sm-4">开票单位：</label>
                                                                        <div class="col-md-8 col-xs-8 col-sm-8">
                                                                            <select name="ZtopCompany" class="form-control">
                                                                                <option value="@(ZtopCompany.Evaluation)" @(invoice.ZtopCompany==ZtopCompany.Evaluation?"selected=selected":"")>@(ZtopCompany.Evaluation.GetDescription())</option>
                                                                                <option value="@(ZtopCompany.Projection)" @(invoice.ZtopCompany==ZtopCompany.Projection?"selected=selected":"")>@(ZtopCompany.Projection.GetDescription())</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-4 col-xs-4 col-sm-4">发票金额：</label>
                                                                        <div class="col-md-8 col-xs-8 col-sm-8">
                                                                            <div class="input-group">
                                                                                <input type="text" class="form-control" name="Money" value="@(invoice.Money)" />
                                                                                <span class="input-group-addon">元</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-xs-6 col-sm-6" style="padding-right:0px;">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-4">对方单位：</label>
                                                                        <div class="col-md-8">
                                                                            <input type="text" class="form-control" name="OtherSideCompany" value="@(invoice.OtherSideCompany)" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-4">发票内容：</label>
                                                                        <div class="col-md-8">
                                                                            <input type="text" name="Content" class="form-control" value="@(invoice.Content)" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <div class="form-group">
                                                                <div class="col-md-8 col-md-offset-4" style="padding-right:0px;">
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> 取消</button>
                                                                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> 编辑</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="javascript:void(0)" class="btn btn-danger btn-remove btn-sm" Index="@(invoice.ID)"><i class="glyphicon glyphicon-remove"></i>删除</a>
                                        <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#Add@(invoice.ID)"><i class="glyphicon glyphicon-plus"></i>补充发票信息</button>
                                        <div class="modal fade" tabindex="-1" role="dialog" id="Add@(invoice.ID)" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title">输入开具发票信息</h4>
                                                    </div>
                                                    <form class="form-horizontal" action="/Finance/ImproveInvoice" method="post" name="Plus">
                                                        <div class="modal-body">
                                                            <input type="hidden" name="ID" value="@(invoice.ID)" />
                                                            <input type="hidden" name="State" value="@(InvoiceState.Have)" />
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3">发票时间：</label>
                                                                <div class="col-md-8">
                                                                    <input type="text" class="form-control" name="FillTime" />
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3">发票编号：</label>
                                                                <div class="col-md-8">
                                                                    <input type="text" class="form-control" name="Number" />
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3 col-xs-3 col-sm-3">备注：</label>
                                                                <div class="col-md-8 col-xs-8 col-sm-8">
                                                                    <textarea class="form-control" name="Remark" rows="3"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <div class="form-group">
                                                                <div class="col-md-8 col-md-offset-3">
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> 取消</button>
                                                                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> 补充</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                              
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="tab-pane fade" id="invoice" role="tabpanel">
        @if (contract.Invoices != null && contract.Invoices.Count != 0)
        {         
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>发票开出时间</th>
                        <th>发票编号</th>
                        <th>对方单位</th>
                        <th>发票金额（元）</th>
                        <th>发票内容</th> 
                        <th>发票状态</th>
                        <th>备注</th>               
                    </tr>
                </thead>
                <tbody>
                    @foreach(var invoice in contract.Invoices.Where(e => e.State != InvoiceState.None))
                    {
                        <tr>
                            <td>@(invoice.FillTime.HasValue?invoice.FillTime.Value.ToShortDateString():"-")</td>
                            <td>@(invoice.Number)</td>
                            <td>@(invoice.OtherSideCompany)</td>
                            <td>@(invoice.Money)</td>
                            <td>@(invoice.Content)</td>
                            <td>@(invoice.State.GetDescription())</td>
                            <td>
                                @if (invoice.State != InvoiceState.None)
                                {
                                    <a href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#Change@(invoice.Coding)"><i class="glyphicon glyphicon-edit"></i>修改发票状态</a>
                                    <div class="modal fade" id="Change@(invoice.Coding)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title">编辑发票信息</h4>
                                                </div>
                                                <form class="form-horizontal" action="/Finance/Change" method="post" name="Change">
                                                    <div class="modal-body">
                                                        <input type="hidden" name="ID" value="@(invoice.ID)" />
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">发票状态：</label>
                                                            <div class="col-md-8">
                                                                @foreach (InvoiceState state in Enum.GetValues(typeof(InvoiceState)))
                                                                {
                                                                    if (state == InvoiceState.None)
                                                                    {
                                                                        continue;
                                                                    }
                                                                    <label class="radio-inline">
                                                                        <input type="radio" name="State" value="@(state)" @(invoice.State == state ? "checked=checked" : "") />@(state.GetDescription())
                                                                    </label>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="form-group">
                                                            <div class="col-md-8 col-md-offset-3">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> 取消</button>
                                                                <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> 补充</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>




<hr />

<script>
    $(function () {
        $("#from-invoice").submit(function () {
            var data = $(this).serialize();
            $.request("/Finance/SaveInvoice", data, function (json) {
                alert(json.content);
                if (json.result == 1) {
                    location.href = "/Finance/Detail?id=" + json.data.CID;
                }
                return false;
            });
            return false;
        });


        $("#Edit-Contract").submit(function(){
            var data=$(this).serialize();
            $.request("/Finance/Edit",data,function(json){
                alert(json.content);
                if(json.result==1){
                    location.href="/Finance/Detail?id="+json.data;
                }
                return false;
            });
            return false;
        });

        $("button.btn-danger").click(function(){
            if(confirm("您确定要删除本项目合同吗？")){
                var index=$(this).attr("tabindex");
                $.request("/Finance/Delete?id="+index,null,function(json){
                    alert(json.content);
                    if(json.result==1){
                        location.href="/Finance/Index";
                    }
                    return false;
                });
            }
          
            return false;
        });

        $(".btn-archive").click(function(){
            if(confirm("您确定归档当前合同吗？")){
                var index=$(this).attr("tabindex");
                $.request("/Finance/Archive?id="+index,null,function(json){
                    alert(json.content);
                    if(json.result==1){
                        location.href="/Finance/Detail?id="+json.data;
                    }
                    return false;
                });
            }
           
            return false;
        });
        

        $("input[name='FillTime']").datetimepicker({
            timepicker: false,
            format: 'Y-m-d'
        });

        $("[name='Plus']").submit(function () {
            var data = $(this).serialize();
            $.request("/Finance/ImproveInvoice", data, function (json) {
                alert(json.content);
                if (json.result == 1) {
                    location.href = "/Finance/Detail?id=" + @(contract.ID);
                }
                return false;
            });
            return false;
        });

        $("[name='Change']").submit(function(){
            var data=$(this).serialize();
            $.request("/Finance/Change",data,function(json){
                alert(json.content);
                if(json.result==1){
                    location.href="/Finance/Detail?id="+@(contract.ID);
                }
                return false;
            });
            return false;
        });

        $("[name='Edit']").submit(function(){
            var data=$(this).serialize();
            $.request("/Finance/EditInvoice",data,function(json){
                alert(json.content);
                if(json.result==1){
                    location.href="/Finance/Detail?id="+@(contract.ID);
                }
                return false;
            });
            return false;
        });

        $(".btn-remove").click(function(){
            if(confirm("您确定要删除吗？")){
                var index=$(this).attr("Index");
                if(index!=undefined&&index!=""&&index!="undefined"){
                    $.request("/Finance/DeleteInvoice?id="+index,null,function(json){
                        alert(json.content);
                        if(json.result==1){
                            location.href="/Finance/Detail?id="+@(contract.ID);
                        }
                        return false;
                    });
                
                }
            }
            return false;
        });
    })
</script>

