
@{
    ViewBag.Title = "项目财务跟踪系统";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Contract> list = ViewBag.List;
    List<Bill> Bills = ViewBag.Bills;
    List<Invoice> invoices = ViewBag.Invoices;
}



<h2 class="text-center">杭州智拓项目合同清单列表</h2>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-yellow">
            <div class="panel panel-heading">
                <h3 class="panel-title text-center">@(ZtopCompany.Evaluation.GetDescription())</h3>
            </div>
            <div class="panel panel-body">
                <a href="/Finance/ContractSearch?ztopCompany=@(ZtopCompany.Evaluation.GetDescription())" style="float:right;"><i class="glyphicon glyphicon-info-sign"></i>更多</a>
                <table class="table table-bordered">
                    <tr>
                        <th>合同编号</th>
                        <th>合同名称</th>
                        <th>对方单位</th>
                    </tr>
                    @foreach (var contract in list.Where(e => e.ZtopCompany == ZtopCompany.Evaluation))
                    {
                        <tr>
                            <td><a href="/Finance/Detail?id=@(contract.ID)">@(contract.Coding)</a> </td>
                            <td>@(contract.Name)</td>
                            <td>@(contract.Company)</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>


    <div class="col-md-6">
        <div class="panel panel-green">
            <div class="panel panel-heading">
                <h3 class="panel-title text-center">@(ZtopCompany.Projection.GetDescription())</h3>
            </div>
            <div class="panel panel-body">
                <a href="/Finance/ContractSearch?ztopCompany=@(ZtopCompany.Projection.GetDescription())" style="float:right;"><i class="glyphicon glyphicon-info-sign"></i>更多</a>
                <table class="table table-bordered">
                    <tr>
                        <th>合同编号</th>
                        <th>合同名称</th>
                        <th>对方单位</th>
                    </tr>
                    @foreach (var contract in list.Where(e => e.ZtopCompany == ZtopCompany.Projection))
                    {
                        <tr>
                            <td><a href="/Finance/Detail?id=@(contract.ID)">@(contract.Coding)</a> </td>
                            <td>@(contract.Name)</td>
                            <td>@(contract.Company)</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-red">
            <div class="panel panel-heading">
                <h3 class="panel-title text-center">银行到账 </h3>

            </div>
            <div class="panel-body">
                <a href="#" style="float:right;"><i class="glyphicon glyphicon-info-sign"></i>更多</a>
                <table class="table table-bordered">
                    <tr>
                        <th>对方单位</th>
                        <th>到账时间</th>
                        <th>到账金额（元）</th>
                    </tr>
                    @foreach (var bill in Bills.OrderByDescending(e => e.Time).Take(15))
                    {
                        <tr>
                            <td>@(bill.Account)</td>
                            <td>@(bill.Time.ToLongDateString())</td>
                            <td>@(bill.Money)</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel panel-heading">
                <h3 class="panel-title text-center">发票</h3>
            </div>
            <div class="panel-body">
                <a href="/Finance/InvoiceSearch" style="float:right;"><i class="glyphicon glyphicon-info-sign"></i>更多</a>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>发票编号</th>
                            <th>申请人</th>
                            <th>金额（元）</th>
                            <th>状态</th>
                            <th>到账情况</th>
                        </tr>
                    </thead>
                    @foreach (var item in invoices)
                    {
                        <tr>
                            <td><a href="/Finance/DetailInvoice?id=@(item.ID)">@(item.Coding)</a></td>
                            <td>@(item.Applicant)</td>
                            <td>@(item.Money)</td>
                            <td>@(item.State.GetDescription())</td>
                            <td>@(item.Recevied.GetDescription())</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>




