
@{
    ViewBag.Title = "项目财务跟踪系统";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Contract> list = ViewBag.List;
    List<Invoice> invoices = ViewBag.Invoices;
    List<Article> Articles = ViewBag.Articles;
    List<Bill> Bills = ViewBag.Bills;
    List<Invoice> None = ViewBag.None;
}



<h2 class="text-center">杭州智拓项目合同清单列表</h2>
@if (None != null)
{
    <div class="row">
        <div class="col-md-6 col-xs-6 col-sm-6"style="padding:5px;">
            <div class="panel panel-danger">
                <div class="panel panel-heading">
                    <h3 class="panel-title text-center">待开发票列表</h3>
                </div>
                <div class="panel panel-body">
                    <a href="/Finance/InvoiceSearch?Status=未开票" style="float:right;"><i class="glyphicon glyphicon-info-sign"></i>更多</a>
                    <table class="table table-bordered">
                        <tr>
                            <th>申请时间</th>
                            <th>申请人</th>
                            <th>发票金额【元】</th>
                            <th>对方单位</th>
                        </tr>
                        @foreach(var item in None)
                        {
                            <tr>
                                <td><a href="/Finance/InvoiceDetail?id=@(item.ID)">@(item.Time.ToLongDateString())</a></td>
                                <td>@(item.Applicant)</td>
                                <td>@(item.Money)</td>
                                <td>@(item.OtherSideCompany)</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-6  col-xs-6 col-sm-6" style="padding:5px;">
        <div class="panel panel-yellow">
            <div class="panel panel-heading">
                <h3 class="panel-title text-center">@(ZtopCompany.Evaluation.GetDescription())</h3>
            </div>
            <div class="panel panel-body">
                <a href="/Finance/ContractSearch?ztopCompany=@(ZtopCompany.Evaluation.GetDescription())" style="float:right;"><i class="glyphicon glyphicon-info-sign"></i>更多</a>
                <table class="table table-bordered">
                    <tr>
                        <th>合同编号</th>
                        <th>合同名称</th>
                        <th>对方单位</th>
                    </tr>
                    @foreach (var contract in list.Where(e => e.ZtopCompany == ZtopCompany.Evaluation).OrderByDescending(e=>e.CreateTime).Take(15))
                    {
                        <tr>
                            <td><a href="/Finance/Detail?id=@(contract.ID)">@(contract.Coding)</a> </td>
                            <td>@(contract.Name)</td>
                            <td>@(contract.Company)</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xs-6 col-sm-6" style="padding:5px;">
        <div class="panel panel-green">
            <div class="panel panel-heading">
                <h3 class="panel-title text-center">@(ZtopCompany.Projection.GetDescription())</h3>
            </div>
            <div class="panel panel-body">
                <a href="/Finance/ContractSearch?ztopCompany=@(ZtopCompany.Projection.GetDescription())" style="float:right;"><i class="glyphicon glyphicon-info-sign"></i>更多</a>
                <table class="table table-bordered">
                    <tr>
                        <th>合同编号</th>
                        <th>合同名称</th>
                        <th>对方单位</th>
                    </tr>
                    @foreach (var contract in list.Where(e => e.ZtopCompany == ZtopCompany.Projection).OrderByDescending(e=>e.CreateTime).Take(15))
                    {
                        <tr>
                            <td><a href="/Finance/Detail?id=@(contract.ID)">@(contract.Coding)</a> </td>
                            <td>@(contract.Name)</td>
                            <td>@(contract.Company)</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xs-6 col-sm-6" style="padding:5px;">
        <div class="panel panel-primary">
            <div class="panel panel-heading">
                <h3 class="panel-title text-center">@(ZtopCompany.ZhejiangUniversity.GetDescription())</h3>
            </div>
            <div class="panel panel-body">
                <a href="/Finance/ContractSearch?ztopCompany=@(ZtopCompany.ZhejiangUniversity.GetDescription())" style="float:right;"><i class="glyphicon glyphicon-info-sign"></i>更多</a>
                <table class="table table-bordered">
                    <tr>
                        <th>合同编号</th>
                        <th>合同名称</th>
                        <th>对方单位</th>
                    </tr>
                    @foreach (var contract in list.Where(e => e.ZtopCompany == ZtopCompany.ZhejiangUniversity).OrderByDescending(e=>e.CreateTime).Take(15))
                    {
                        <tr>
                            <td><a href="/Finance/Detail?id=@(contract.ID)">@(contract.Coding)</a> </td>
                            <td>@(contract.Name)</td>
                            <td>@(contract.Company)</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6" style="padding:5px;">
        <div class="panel panel-red">
            <div class="panel panel-heading">
                <h3 class="panel-title text-center">@(ZtopCompany.Other.GetDescription())</h3>
            </div>
            <div class="panel panel-body">
                <a href="/Finance/ContractSearch?ztopCompany=@(ZtopCompany.Other.GetDescription())" style="float:right;"><i class="glyphicon glyphicon-info-sign"></i>更多</a>
                <table class="table table-bordered">
                    <tr>
                        <th>合同编号</th>
                        <th>合同名称</th>
                        <th>对方单位</th>
                    </tr>
                    @foreach (var contract in list.Where(e => e.ZtopCompany == ZtopCompany.Other).OrderByDescending(e=>e.CreateTime).Take(15))
                    {
                        <tr>
                            <td><a href="/Finance/Detail?id=@(contract.ID)">@(contract.Coding)</a> </td>
                            <td>@(contract.Name)</td>
                            <td>@(contract.Company)</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xs-6 col--sm-6" style="padding:5px;">
        <div class="panel panel-info">
            <div class="panel panel-heading">
                <h3 class="panel-title text-center">项目</h3>
            </div>
            <div class="panel panel-body">
                <a href="/Finance/ArticleSearch" style="float:right;"><i class="glyphicon glyphicon-info-sign"></i>更多</a>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>项目名称</th>
                            <th>对方单位</th>
                            <th>意向金额（元）</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var article in Articles)
                        {
                            <tr>
                                <td><a href="/Finance/DetailArticle?id=@(article.ID)">@(article.Name)</a></td>
                                <td>@(article.OtherSide)</td>
                                <td>@(article.Money)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6" style="padding:5px;">
        <div class="panel panel-danger">
            <div class="panel panel-heading">
                <h3 class="panel-title text-center">开票申请</h3>
            </div>
            <div class="panel panel-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>开票编号</th>
                            <th>开票申请时间</th>
                            <th>开票申请人</th>
                            <th>合同名称</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-xs-6 col-sm-6" style="padding:5px;">
        <div class="panel panel-red">
            <div class="panel panel-heading">
                <h3 class="panel-title text-center">银行到账 </h3>
            </div>
            <div class="panel-body">
                <a href="/Finance/BillAccountSearch" style="float:right;"><i class="glyphicon glyphicon-info-sign"></i>更多</a>
                <table class="table table-bordered">
                    <tr>
                        <th>到账时间</th>
                        <th>到账金额（元）</th>
                        <th>对方单位</th>
                    </tr>
                    @foreach(var bill in Bills)
                    {
                        <tr>
                            <td><a href="/Finance/DetailBill?id=@(bill.ID)">@(bill.Time.HasValue?bill.Time.Value.ToLongDateString():"未指定时间")</a></td>
                            <td>@(bill.Money)</td>
                            <td>@(bill.Account)</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xs-6 col-sm-6" style="padding:5px;">
        <div class="panel panel-primary">
            <div class="panel panel-heading">
                <h3 class="panel-title text-center">发票</h3>
            </div>
            <div class="panel-body">
                <a href="/Finance/InvoiceSearch" style="float:right;"><i class="glyphicon glyphicon-info-sign"></i>更多</a>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>发票编号</th>
                            <th>申请人</th>
                            <th>金额（元）</th>
                            <th>状态</th>
                            <th>到账情况</th>
                        </tr>
                    </thead>
                    @foreach (var item in invoices)
                    {
                        <tr>
                            <td><a href="/Finance/DetailInvoice?id=@(item.ID)">@(item.Coding)</a></td>
                            <td>@(item.Applicant)</td>
                            <td>@(item.Money)</td>
                            <td>@(item.State.GetDescription())</td>
                            <td></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>





