
@{
    ViewBag.Title = "发票挂账";
    Layout = "~/Views/Shared/_Layout.cshtml";
    BillView bill = ViewBag.Bill;
    List<string> Department = ViewBag.Department;
}

<script>
    $(function () {
        $("#Contract-Search-form").submit(function () {
            ShowMessage("正在查询系统，请稍等......");
            $("#Contract_search-form button[type='submit']").text("正在查询.......").attr("disabled", "disabled");
            var values = $(this).serialize();
            var href = $(this).attr("action");
            $("#Contract-Result").load(href, values, function () {
                HideMessage();
            });
            return false;
        });
       
    });
</script>
<div class="row">
    <form class="form-horizontal" method="post" id="Bill-Contract">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <div class="alert alert-danger" role="alert" id="Error">
                <span></span>
            </div>
        </div>
     
        <div class="col-md-6 col-xs-6 col-sm-6">
            <h3 class="text-center">到账</h3>
            @*<button type="button" class="btn btn-block btn-success" data-toggle="modal" data-target="#Bill-Search"><i class="glyphicon glyphicon-search"></i>选择到账</button>*@
            <hr />
            <div class="Select-Bill">
                @if (bill == null)
                {
                    <div class="alert alert-warning" role="alert">
                        <span>当前未获取到账信息</span>
                    </div>
                }
                else
                {
                    <div class="Bill">
                        <input type="hidden" name="Bill_ID" value="@(bill.ID)" />
                        <div class="form-group">
                            <label class="control-label col-xs-4 col-md-4 col-sm-4">到账时间：</label>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <input type="text" readonly="readonly" name="Bill_Time" class="form-control" value="@(bill.Time.HasValue?bill.Time.Value.ToLongDateString():"未获取时间")" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4 col-md-4 col-sm-4">到账金额：</label>
                            <div class="col-md-8 col-xs-8 col-sm-8">
                                <div class="input-group">
                                    <input type="text" readonly="readonly" name="Bill_Money" class="form-control" value="@(bill.Money)" />
                                    <span class="input-group-addon">元</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4 col-md-4 col-xs-4">对方户名：</label>
                            <div class="col-md-8 col-xs-8 col-sm-8">
                                <input type="text" readonly="readonly" name="Bill_OtherSide" class="form-control" value="@(bill.Account)" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-xs-4 col-sm-4">备注：</label>
                            <div class="col-md-8 col-xs-8 col-sm-8">
                                <textarea name="Bill_Remark" readonly="readonly" class="form-control">@(bill.Remark)</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4 col-md-4 col-sm-4">可关联金额：</label>
                            <div class="col-md-8 col-xs-8 col-sm-8">
                                <div class="input-group">
                                    <input type="text" name="Bill_Leave" readonly="readonly" class="form-control" value="@(bill.Leave)" />
                                    <span class="input-group-addon">元</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    if (bill.Bill_Contracts != null && bill.Bill_Contracts.Count > 0)
                    {
                       
                        <div class="panel panel-default">
                            <div class="panel-heading">已关联合同</div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>合同名称</th>
                                        <th>合同金额[元]</th>
                                        <th>本次到账金额[元]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in bill.Bill_Contracts)
                                    {
                                        if (item.Contract != null)
                                        {
                                            <tr>
                                                <td><a href="/Finance/Detail?id=@(item.Contract.ID)">@(item.Contract.Name)</a></td>
                                                <td>@(item.Contract.Money)</td>
                                                <td>@(item.Price)</td>
                                            </tr>
                                        }

                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="col-md-6 col-xs-6 col-sm-6">
            <h3 class="text-center">合同</h3>
            <button type="button" class="btn btn-block btn-success" data-toggle="modal" data-target="#Contract-Search"><i class="glyphicon glyphicon-search"></i>选择合同</button>
            <hr />
            <ul class="list-group Select-Contract">
            </ul>
        </div>
        <hr />
        <div class="col-md-12 col-xs-12 col-sm-12">
            <div class="form-group">  
                <div class="col-md-3 col-md-offset-9"  style="float:right;">
                    <button type="button" class="btn btn-default" onclick="history.back()"><i class="glyphicon glyphicon-remove-circle"></i>返回</button>
                    <button type="submit" class="btn btn-primary" ><i class="glyphicon glyphicon-ok-circle"></i>关联</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="Bill-Search" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">选择到账</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    @{ 
                        Html.RenderPartial("BillSearch2");
                    }
                    @*<div class="col-md-3 col-xs-3 col-sm-3 well" style="padding:0px;">
                        <fieldset><legend>可关联到账查询设置</legend></fieldset>
                        <div class="alert alert-danger" role="alert" id="Bill-Info">
                            <span></span>
                        </div>
                        <form method="get" id="Bill-Search-form">
                            <div class="form-group">
                                <label class="control-label">到账银行：</label>
                                <div class="col-md-12">
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">到账时间：</label>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input type="text" name="StartTime" placeholder="起始时间" class="form-control datetimepicker input-sm" />
                                        <span class="input-group-addon input-sm">至</span>
                                        <input type="text" name="EndTime" placeholder="结束时间" class="form-control datetimepicker input-sm" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">到账金额：</label>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input type="text" name="MinMoney" placeholder="最小值" class="form-control input-sm" />
                                        <span class="input-group-addon input-sm">至</span>
                                        <input type="text" name="MaxMoney" placeholder="最大值" class="form-control input-sm" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">对方户名：</label>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="input-group-btn" role="group">
                                            <button type="button" class="btn btn-sm btn-success" name="OtherSide">全部</button>
                                        </div>
                                        <input type="text" name="OtherSide" placeholder="对方户名关键字" class="form-control input-sm" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">银行备注：</label>
                                <div class="col-md-12">
                                    <div class="input-group" role="group">
                                        <div class="input-group-btn" role="group">
                                            <button type="button" class="btn btn-sm btn-success" name="Remark">全部</button>
                                        </div>
                                        <input type="text" name="Remark" placeholder="银行备注关键字" class="form-control input-sm" />
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="form-group">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-search"></i> 立即查询</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-8 col-xs-8 col-sm-8">

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>到账日期</th>
                                    <th>到账金额（元）</th>
                                    <th>对方户名</th>
                                    <th>备注</th>
                                    <th>可关联金额（元）</th>
                                    <th>发票关联</th>
                                </tr>
                            </thead>
                            <tbody id="Bill"></tbody>
                        </table>
                    </div>*@
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove-circle"></i> 取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="glyphicon glyphicon-ok-circle"></i> 确定</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Contract-Search" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">选择到账</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 col-xs-3 col-sm-3 well" style="padding:0px;">
                        <fieldset><legend>合同查询设置</legend></fieldset>
                        <div class="alert alert-danger" role="alert" name="Message" style="display:none;">
                            <i class="icon-spin icon-spinner"></i>
                            <span>警告框</span>
                        </div>
                        <form method="get" id="Contract-Search-form" action="/Finance/SearchContract">
                            <input type="hidden" name="Recevied" />
                            <input type="hidden" name="Status" />
                            <input type="hidden" name="Department" />
                            <input type="hidden" name="ZtopCompany" />
                            <input type="hidden" name="Archived" />
                            <div class="form-group">
                                <label class="control-label">合同名称:</label>
                                <div class="col-md-12">
                                    <div class="input-group" role="group">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-sm btn-success" name="Name">全部</button>
                                        </div>
                                        <input type="text" name="Name" class="form-control input-sm" placeholder="合同名称" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">对方单位：</label>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="input-group-btn" role="group">
                                            <button type="button" class="btn btn-sm btn-success" name="OtherSide">全部</button>
                                        </div>
                                        <input type="text" class="form-control input-sm" placeholder="对方单位" name="OtherSide" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">到账情况：</label>
                                <div class="col-md-12">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-sm btn-success" name="Recevied">全部</button>
                                        @foreach (Recevied recevied in Enum.GetValues(typeof(Recevied)))
                                        {
                                            <button type="button" class="btn btn-sm btn-default" name="Recevied">@(recevied.GetDescription())</button>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">合同金额：</label>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input type="text" name="MinMoney" class="form-control input-sm" placeholder="最小值" value="" />
                                        <span class="input-group-addon input-sm">至</span>
                                        <input type="text" name="MaxMoney" class="form-control input-sm" placeholder="最大值" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">金额：</label>
                                <div class="col-md-12">
                                    <div class="input-group" role="group">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-sm btn-success" name="Money">全部</button>
                                        </div>
                                        <input type="text" name="Money" class="form-control input-sm" placeholder="金额" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">发票开具情况：</label>
                                <div class="col-md-12">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-sm btn-success" name="Status">全部</button>
                                        @foreach (ContractState state in Enum.GetValues(typeof(ContractState)))
                                        {
                                            <button type="button" class="btn btn-sm btn-default" name="Status">@(state.GetDescription())</button>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">合同起始时间：</label>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input type="text" name="StartTime" class="form-control datetimepicker input-sm" placeholder="起始时间" value="" />
                                        <span class="input-group-addon input-sm">至</span>
                                        <input type="text" name="EndTime" class="form-control datetimepicker input-sm" placeholder="结束时间" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">合同所属部门：</label>
                                <div class="col-md-12">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-sm btn-success" name="Department">全部</button>
                                        @foreach (var department in Department)
                                        {
                                            <button type="button" class="btn btn-sm btn-default" name="Department">@(department)</button>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">合同状态：</label>
                                <div class="col-md-12">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-sm btn-success" name="Archived">全部</button>
                                        <button type="button" class="btn btn-sm btn-default" name="Archived">未归档</button>
                                        <button type="button" class="btn btn-sm btn-default" name="Archived">归档</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">签署单位：</label>
                                <div class="col-md-12">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-sm btn-success" name="ZtopCompany">全部</button>
                                        @foreach (ZtopCompany company in Enum.GetValues(typeof(ZtopCompany)))
                                        {
                                            <button type="button" class="btn btn-sm btn-default" name="ZtopCompany">@(company.GetDescription())</button>
                                        }
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="form-group">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-search"></i> 立即查询</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-9 col-xs-9 col-sm-9" id="Contract-Result">
                      
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove-circle"></i> 取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="glyphicon glyphicon-ok-circle"></i> 确定</button>
            </div>
        </div>
    </div>
</div>


<div class="hidden">
    <div class="Bill">
        <input type="hidden" name="Bill_ID" value="{Index}" />
        <div class="form-group">
            <label class="control-label col-xs-4 col-md-4 col-sm-4">到账时间：</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" readonly="readonly" name="Bill_Time" class="form-control" value="{Time}" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-4 col-md-4 col-sm-4">到账金额：</label>
            <div class="col-md-8 col-xs-8 col-sm-8">
                <div class="input-group">
                    <input type="text" readonly="readonly" name="Bill_Money" class="form-control" value="{Money}" />
                    <span class="input-group-addon">元</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-4 col-md-4 col-xs-4">对方户名：</label>
            <div class="col-md-8 col-xs-8 col-sm-8">
                <input type="text" readonly="readonly" name="Bill_OtherSide" class="form-control" value="{OtherSide}" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4 col-xs-4 col-sm-4">备注：</label>
            <div class="col-md-8 col-xs-8 col-sm-8">
                <textarea name="Bill_Remark" readonly="readonly" class="form-control">{Remark}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-4 col-md-4 col-sm-4">可关联金额：</label>
            <div class="col-md-8 col-xs-8 col-sm-8">
                <div class="input-group">
                    <input type="text" name="Bill_Leave" readonly="readonly" class="form-control" value="{Leave}" />
                    <span class="input-group-addon">元</span>
                </div>
            </div>
        </div>
    </div>
    <ul class="list-group Contract">
        <li class="list-group-item" style="padding:0px;padding-right:5px;">
            <input type="hidden" name="Contract_ID" value="{Index}" />
            <div class="form-group">
                <label class="control-label col-md-4 col-xs-4 col-sm-4"></label>
                <div class="col-md-8 col-xs-8 col-sm-8">
                    <button type="button" class="btn btn-sm btn-danger pull-right btn-destory"><i class="glyphicon glyphicon-remove-circle"></i></button>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4 col-xs-4 col-sm-4">合同名称：</label>
                <div class="col-md-8 col-xs-8 col-sm-8">
                    <input type="text" name="Contract_Name" class="form-control" readonly="readonly" value="{Name}" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4 col-xs-4 col-sm-4">合同起始时间：</label>
                <div class="col-md-8 col-xs-8 col-sm-8">
                    <input type="text" name="Contract_StartTime" class="form-control" readonly="readonly" value="{StartTime}" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4 col-xs-4 col-sm-4">对方单位：</label>
                <div class="col-md-8 col-xs-8 col-sm-8">
                    <input type="text" name="Contract_OtherSide" class="form-control" readonly="readonly" value="{OtherSide}" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4 col-xs-4 col-sm-4">合同金额：</label>
                <div class="col-md-8 col-xs-8 col-sm-8">
                    <div class="input-group">
                        <input type="text" name="Contract_Money" class="form-control" readonly="readonly" value="{Money}" />
                        <span class="input-group-addon">元</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4 col-xs-4 col-sm-4">已开发票金额：</label>
                <div class="col-md-8 col-xs-8 col-sm-8">
                    <div class="input-group">
                        <input type="text" name="Contract_OpenMoney" class="form-control" readonly="readonly" value="{OpenMoney}" />
                        <span class="input-group-addon">元</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4 col-xs-4 col-sm-4">到账金额：</label>
                <div class="col-md-8 col-xs-8 col-sm-8">
                    <div class="input-group">
                        <input type="text" name="Contract_Leave" class="form-control" readonly="readonly" value="{Leave}" />
                        <span class="input-group-addon">元</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4 col-xs-4 col-sm-4">本次到账金额：</label>
                <div class="col-md-8 col-xs-8 col-sm-8">
                    <div class="input-group">
                        <input type="text" name="Contract_Price" class="form-control" required  />
                        <span class="input-group-addon">元</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<script>
    var billHtml = $("div.Bill").html();
    var contractHtml = $("ul.list-group.Contract").html();

    $("#Error").hide();
    $("#Bill-Info").hide();
    $("#Contract-Info").hide();
    $(function () {
        $("#Bill-Search-form").submit(function () {
            $("#Bill-Info").hide();
            var VALUE = $(this).serialize();
            $.getJSON("/Finance/GetJsonBill", VALUE, function (data) {
                $("#Bill").empty();
                if (data.length == 0) {
                    $("#Bill-Info>span").html("未查询到相关到账信息记录！");
                    $("#Bill-Info").show(500);
                    return false;
                }
                $.each(data, function (index, value) {
                    var timeString = value.Time.replace("/Date(", "").replace(")/", "");
                    var currentTime = new Date();
                    currentTime.setTime(timeString);
                    $("#Bill").append("<tr><td Name='Time'>" + currentTime.toLocaleDateString() + "</td><td name='Money'>" + value.Money + "</td><td name='OtherSide'>" + value.Account + "</td><td name='Remark'>"+value.Remark+"</td><td name='Leave'>" + value.Leave + "</td><td><button type='button' class='btn btn-sm btn-success btn-relate' name='Money" + value.Leave + "' Index='" + value.ID + "'><i class='glyphicon glyphicon-refresh'></i>关联</button></td></tr>")
                });

                $("#Bill button.btn-relate").unbind("click").bind("click", function () {
                    var replaceHtml = billHtml;
                    var Index = $(this).attr("Index");
                    replaceHtml = replaceHtml.replace("{Index}", Index);
                    var childrens = $(this).parent().parent().children("td");
                    $.each(childrens, function (index, node) {
                        var name = $(this).attr("name");
                        if (name != undefined) {
                            replaceHtml = replaceHtml.replace("{" + name + "}", $(this).text());
                        }
                    });
                    $("div.Select-Bill").html(replaceHtml);
                    $("#Bill button.btn-relate>i").removeClass("glyphicon-refresh").removeClass("glyphicon-ok").addClass("glyphicon-remove");
                    $(this).children("i").removeClass("glyphicon-remove").addClass("glyphicon-ok");
                });
                return false;
            });
            return false;
        });

        //$("#Contract-Search-form").submit(function () {
        //    $("#Contract-Info").hide();
        //    var VALUE = $(this).serialize();
        //    $.getJSON("/Finance/GetJsonContract", VALUE, function (data) {
        //        if (data.length == 0) {
        //            $("#Contract-Info>span").html("未找到相关合同记录！");
        //            $("#Contract-Info").show(500);
        //            return false;
        //        }
        //        $("#Contract-Result").empty();
        //        $.each(data, function (index, value) {
        //            var timeString = value.StartTime.replace("/Date(", "").replace(")/", "");
        //            var currentTime = new Date();
        //            currentTime.setTime(timeString);
        //            $("#Contract-Result").append("<tr><td name='Name'>" + value.Name + "</td><td name='OtherSide'>" + value.Company + "</td><td name='StartTime'>"+currentTime.toLocaleDateString()+"</td><td name='Money'>" + value.Money + "</td><td name='Leave'>" + value.Leave + "</td><td><button type='button' class='btn btn-sm btn-success btn-Contract' Index='"+value.ID+"' >关联</button></td></tr>");
        //        });

        //        $("#Contract-Result button.btn-Contract").unbind("click").bind("click", function () {
        //            var replaceHtml = contractHtml;
        //            var Index = $(this).attr("Index");
        //            replaceHtml = replaceHtml.replace("{Index}", Index);
        //            var chilrens = $(this).parent().parent().children("td");
        //            $.each(chilrens, function (index, node) {
        //                var name = $(this).attr("name");
        //                if (name != undefined) {
        //                    replaceHtml = replaceHtml.replace("{" + name + "}", $(this).text());
        //                }
        //            });
        //            $("ul.Select-Contract").append(replaceHtml);
        //            $("ul.Select-Contract button.btn-destory").unbind("click").bind("click", function () {
        //                $(this).parent().parent().parent().remove();
        //            });

        //        });
        //        return false;
        //    });
        //    return false;
        //});

        $("#Bill-Contract").submit(function () {
            $("#Error").hide();
            var VALUE = $(this).serialize();
            $.request("/Finance/Relate", VALUE, function (json) {
                if (json.result == 0) {
                    $("#Error>span").html(json.content);
                    $("#Error").show(500);
                    return false;
                } else {
                    alert(json.content);
                    location.href = "/Finance/DetailBill?id=" + json.data;
                }
          
                
                return false;
            });
            return false;
        });
    });
</script>
