@{ 
    Layout = null;
    Project project = ViewBag.Model;
   // FlowwData data = ViewBag.FlowwData;
    List<ProjectProgress> progress = ViewBag.Progress;
    List<ProjectRecord> Records = ViewBag.Records;
    ViewBag.Title = "项目查看";
    Layout = "~/Areas/Project/Views/Shared/_Layout.cshtml";
    int serial = 1;
}

<script>
    $(function () {
        $("a[name='Delete']").click(function () {
            if (confirm("您确定要删除吗?")) {
                var btn = $(this);
                btn.attr("disabled", "disabled");
                var href = btn.attr("href");
                $.request(href, null, function (json) {
                    alert(json.content);
                    if (json.result == 0) {
                        btn.removeAttr("disabled");
                    } else {
                        location.href = "/Project/Home/Indx";
                    }
                });
            }
           

            return false;
        });
    });
</script>
<div class="page-header">
    <h3 class="text-center">@(project.Name)</h3>
    <div class="btn-toolbar" role="toolbar" >
        @if (!string.IsNullOrEmpty(project.Number))//项目状态为未完成的时候，可进行编辑和删除  更改负责人
        {
            if (Identity.UserID == project.Charge.UserId || Identity.Groups.Contains("部门经理"))
            {
                <div class="btn-group btn-group-sm">
                    <a href="/Project/Home/Create?id=@(project.ID)" class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i>编辑</a>
                </div>
            }
            if (project.IsDone == false)
            {
                if (Identity.UserID == project.Charge.UserId|| Identity.Groups.Contains("部门经理") || Identity.Groups.Contains("高级"))//项目负责人
                {

                    <div class="btn-group btn-group-sm">
                        <a href="/Project/Progress/Create?projectID=@(project.ID)" class="btn btn-success" data-toggle="modal" data-target="#Modal"><i class="glyphicon glyphicon-plus-sign"></i>录入工作进度信息</a>
                    </div>

                }

                if (Identity.Groups.Contains("部门经理") || Identity.Groups.Contains("高级"))
                {
                    <div class="btn-group btn-group-sm">
                        <a href="/Project/Home/Delete?id=@(project.ID)" class="btn btn-danger" name="Delete"><i class="glyphicon glyphicon-remove-sign"></i>删除</a>
                    </div>
                    <div class="btn-group btn-group-sm">
                        <a href="/Project/Home/Charge?id=@(project.ID)" class="btn btn-warning" data-toggle="modal" data-target="#Modal"><i class="glyphicon glyphicon-user"></i>更改项目负责人</a>
                    </div>
                }
            }

        }

        @if (!string.IsNullOrEmpty(project.Number))
        {
            if (project.ProjectUser.Any(e => e.UserId == Identity.UserID))
            {
                <div class="btn-group btn-group-sm">
                    <a href="/Project/Workload/Detail?projectId=@(project.ID)" class="btn btn-warning"><i class="fa fa-star"></i>查看工作量</a>
                    <a href="/Project/Situation/Create?projectId=@(project.ID)" class="btn btn-primary" data-toggle="modal" data-target="#Modal"><i class="fa fa-plus"></i>录入工作情况</a>
                </div>
            }
            else
            {
                <div class="btn-group btn-group-sm">
                    @{
                        if (Identity.Groups.Contains("部门经理") || Identity.Groups.Contains("高级"))
                        {
                            <a href="/Project/Workload/Detail?projectId=@(project.ID)" class="btn btn-warning"><i class="fa fa-star"></i>查看工作量</a>
                        }
                    }
                </div>
                            }
                        }

   
         <div class="btn-group btn-group-sm">
             <button type="button" class="btn btn-default" onclick="history.back()"><i class="glyphicon glyphicon-arrow-left"></i>返回</button>
         </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                @{
                    if (project.FlowDataId.HasValue)
                    {
                        Html.RenderAction("Detail", "Floww", new { Area = "", Id = project.FlowDataId, OwnerId = project.Charge.UserId, Url = string.Format("/Project/Home/Detail?id={0}", project.ID) });
                    }
                    else
                    {
                        <div class="alert alert-warning" role="alert">
                            <span >历史录入项目，不做审核操作！</span>
                        </div>
                    }

                }
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="alert alert-warning">
            <span>项目删除主要对部门经理及其以上用户开放，其他用户不做开放使用</span>
        </div>
        @if (project.IsDone)
        {
            <div class="alert alert-success">
                <span>当前项目已完成！</span>
            </div>
        }
        @if (string.IsNullOrEmpty(project.Number))
        {
            <div class="alert alert-warning" role="alert">
                <span>当前项目未录入登记编号，无法进行登记工作量、工作情况以及结束项目等相关操作！</span>
            </div>
        }

        <div class="panel panel-info">
            <div class="panel-heading">项目信息</div>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>项目名称</th>
                    <td>@(project.Name)</td>
                    <th>项目编号</th>
                    <td>@(project.Serial)</td>
                </tr>
                <tr>
                    <th>登记编号</th>
                    <td>
                        @(project.Number)
                        @if (Identity.Groups.Contains("特殊1"))
                        {
                            if (string.IsNullOrEmpty(project.Number))
                            {
                                <a href="/Project/Home/Number?id=@(project.ID)" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#Modal"><i class="glyphicon glyphicon-plus-sign"></i>录入登记编号</a>
                            }
                            else
                            {
                                <a href="/Project/Home/Number?id=@(project.ID)" class="btn btn-sm btn-success"data-toggle="modal" data-target="#Modal"><i class="glyphicon glyphicon-edit"></i>更改登记编号</a>
                            }
                        }

                    </td>
                    <th>城市（县级）</th>
                    <td>@(project.CityName)</td>
                </tr>
                <tr>
                    <th>所属乡镇（主体）</th>
                    <td>@(project.Town)</td>
                    <th>项目类型</th>
                    <td>@(project.Type.FullName)</td>
                </tr>
                <tr>
                    <th>项目负责人</th>
                    <td>@(project.Charge != null ? project.Charge.User.RealName : "未获取负责人信息")</td>
                    <th>项目参与人员</th>
                    <td>
                        @{ 
                            var message = project.Participations != null && project.Participations.Count > 0 ? string.Join(";", project.Participations.Select(e => e.User.RealName).ToArray()) : "";
                            <text>@(message)</text>
                            if (project.IsDone == false)
                            {
                                if (project.Charge.UserId == Identity.UserID|| Identity.Groups.Contains("部门经理") || Identity.Groups.Contains("高级"))
                                {
                                    <a href="/Project/User/AddUser?projectId=@(project.ID)&&ignoreString=@(message)" class="btn btn-sm btn-success" data-toggle="modal" data-target="#Modal"><i class="fa fa-plus"></i>添加参与人员</a>

                                }
                            }

                        }
                 
                       
                    </td>
                </tr>
                <tr>
                    <th>备注</th>
                    <td colspan="3">
                        @(project.Mark)
                      
                    </td>
                </tr>
                @if (project.IsDone)
                {
                    <tr>
                        <th>批复文件</th>
                        <td>
                            @if (!string.IsNullOrEmpty(project.ReplyFile))
                            {
                                <a href="/@(project.ReplyFile)" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-download-alt"></i>下载项目批复文件</a>
                            }
                            else
                            {
                                <ins>无批复文件</ins>
                            }

                            @if (Identity.UserID == project.Charge.UserId || Identity.Groups.Contains("部门经理") || Identity.Groups.Contains("高级"))
                            {
                                <a href="/Project/Home/File?ProjectId=@(project.ID)" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#Modal"><i class="fa fa-arrow-up"></i>上传批复文件</a>
                            }

                        </td>
                        <th>批复说明</th>
                        <td>@(project.ReplyRemark)</td>
                    </tr>
                }

            </table>
        </div>
        
    </div>
    <div class="col-xs-12">
        <div class="panel panel-warning">
            <div class="panel-heading">
                工作进度信息
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>录入时间</th>
                        <th>录入人</th>
                        <th>录入进度%</th>
                        <th>进度信息</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @if (progress != null)
                    {
                        foreach (var item in progress)
                        {
                            <tr>
                                <td>@(serial++)</td>
                                <td>@(item.Time.ToString("yyyy-MM-dd HH:mm:ss"))</td>
                                <td>@(item.User.DisplayName)</td>
                                <td>@(item.Percent)</td>
                                <td>@(item.Remark)</td>
                                <td>
                                    @if (item.UserID == Identity.UserID)
                                    {
                                        <a href="/Progress/" class="btn btn-xs btn-primary"><i class="fa fa-edit"></i>编辑</a>
                                    }
                                    else
                                    {

                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                工作情况信息
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>录入时间</th>
                        <th>录入人</th>
                        <th>工作情况</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in project.Situations)
                    {
                        <tr>
                            <td>@(item.ID)</td>
                            <td>@(item.Time.ToString("yyyy-MM-dd"))</td>
                            <td>@(item.User.RealName)</td>
                            <td>@(item.Content)</td>
                            <td>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="panel panel-success">
            <div class="panel-heading">项目情况</div>
            <ul class="list-group">
                @foreach(var item in Records)
                {
                    <li class="list-group-item"><strong>时间</strong>：【@(item.Time.ToString("yyyy-MM-dd HH:mm:ss"))】<strong>人员</strong>：@(item.User==null?"":item.User.RealName) <strong>信息</strong>： @(item.Content)</li>
                }
            </ul>
        </div>
    </div>
</div>



