
@{
    ViewBag.Title = "查看项目工作量";
    Layout = "~/Areas/Project/Views/Shared/_Layout.cshtml";
    Project project = ViewBag.Project;
}

<script src="~/Scripts/2/Chart.js"></script>
<script src="~/Scripts/2/TodoChart.js"></script>

<div class="page-header">
    <h3>项目工作量查看</h3>
    <div class="btn-group btn-group-sm">
        @if (project.Charge.UserId == Identity.UserID|| Identity.Groups.Contains("部门经理") || Identity.Groups.Contains("高级"))
        {
            if (project.Tables != null && project.Tables.Count > 0)
            {
                <a href="/Project/WorkLoad/Create?projectId=@(project.ID)" class="btn btn-primary"><i class="fa fa-edit"></i>编辑工作量</a>
            }
            else
            {
                <a href="/Project/WorkLoad/Create?projectId=@(project.ID)" class="btn btn-primary"><i class="fa fa-star"></i>录入工作量</a>
            }
        }


        <a href="/Project/Home/Detail?id=@(project.ID)" class="btn btn-success"><i class="fa fa-desktop"></i>项目详情</a>
        <button type="button" class="btn btn-default" onclick="history.back()"><i class="fa fa-arrow-left"></i>返回</button>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
      

        @if (project.Tables != null && project.Tables.Count > 0)
        {
            <div class="col-md-6">
                @{ 
                    Html.RenderPartial("_Tables", project.Tables as object);
                }
            </div>



                    foreach (var item in project.Tables.OrderByDescending(e => e.Year))
                    {
                <div class="col-md-6">
                    <div class="thumbnail">
                        <div class="caption">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12 col-md-12">
                                    <dl class="dl-horizontal well">
                                        <dt>年份：</dt>
                                        <dd>@(item.Year)</dd>
                                        <dt>百分比：</dt>
                                        <dd>@(item.Percent)</dd>
                                        <dt>备注：</dt>
                                        <dd>@(item.Content)</dd>
                                        <dt>录入时间:</dt>
                                        <dd>@(item.Time.ToString())</dd>
                                    </dl>
                                    @if (item.WorkLoads != null)
                                    {
                                        item.WorkLoads = item.WorkLoads.OrderByDescending(e => e.Percent).ToList();
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>人员</th>
                                                    <th>百分比</th>
                                                    <th>备注</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach(var entry in item.WorkLoads)
                                                {
                                                    <tr>
                                                        <td>@(entry.User.RealName)</td>
                                                        <td>@(entry.Percent)%</td>
                                                        <td>@(entry.Content)</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }
                                </div>
                                <div class="col-sm-12 col-xs-12 col-md-12">
                                    <h5>统计图</h5>
                                    @{
                                        Html.RenderPartial("Workloads", item as object);
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            }
        }else
        {
            <div class="alert alert-warning" role="alert">
                <span>当前未录入工作量！</span>
            </div>                                
        }

    </div>
</div>

